Repository ONEARMY/community-platform, pull requests merged in 2021-02, with the labels that each got.

#1094 Useful button feature (updated)
  functions/src/index.ts
  functions/src/maintenance/index.ts
  functions/src/stats/index.ts
  functions/src/stats/migration.ts
  functions/src/userStats/index.ts
  functions/tsconfig.json
  package.json
  src/mocks/user.mock.tsx
  src/mocks/user_pp.mock.tsx
  src/models/howto.models.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Tags/tags.store.tsx
  src/stores/User/user.store.ts
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/clients/firestore.tsx
  src/stores/databaseV2/index.tsx
  src/stores/databaseV2/types/index.d.ts
  tsconfig.shared.json
  yarn.lock
Labels: Backend, Mod: HowTo 📰

#1097 Add useful button tooltip
  package.json
  src/components/Tooltip/index.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  yarn.lock
Labels: Mod: HowTo 📰

#1098 Add how-to client side searching
  cypress/integration/howto/read.spec.ts
  package.json
  src/common/errors.ts
  src/components/SearchInput/index.tsx
  src/index.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/stores/Howto/howto.store.tsx
  yarn.lock
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1101 Add query params updating on search howtos
  src/components/SearchInput/index.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Howto/howto.store.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1104 Update useful star icon
  src/assets/icons/icon-star-active.svg
  src/assets/icons/icon-star-default.svg
  src/components/Icons/index.tsx
  src/components/Icons/svgs.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1102 Useful local state
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoUsefulStats.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/User/user.store.ts
  src/stores/databaseV2/index.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅
