Repository ONEARMY/community-platform, pull requests merged in 2021-12, with the labels that each got.

#1268 chore: remove empty function
  functions/src/exports/api.ts
  functions/src/index.ts
Labels: Backend

#1261 feat: introduce logging library
  .env
  package.json
  src/components/Comment/Comment.tsx
  src/components/FirebaseFileUploader/FirebaseFileUploader.tsx
  src/components/_Template/Template.tsx
  src/config/config.ts
  src/logger/index.ts
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Maps/Content/View/Sprites.tsx
  src/pages/Password/ForgotPassword.tsx
  src/pages/SignUp/ResendSignUpMessage.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/pages/common/FilterBar/FilterBar.tsx
  src/pages/common/SWUpdateNotification/SWUpdateNotification.tsx
  src/pages/common/UploadedFile/UploadedFile.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/Research/research.store.tsx
  src/stores/User/user.store.ts
  src/stores/common/module.store.ts
  yarn.lock
Labels: Mod: HowTo 📰, Mod: Events 🎉, Mod: Maps 🗺

#1246 fix: removes all uses of material UI
  package.json
  packages/documentation/docs/Frontend Development/overview.md
  src/components/FirebaseFileUploader/FirebaseFileUploader.tsx
  src/components/FirebaseFileUploader/elements.tsx
  src/components/Form/elements.ts
  src/components/Loader/index.tsx
  src/components/_Template/Template.tsx
  src/pages/Events/Content/EventsMenu/EventsMenu.scss
  src/pages/Events/Content/EventsMenu/EventsMenu.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/HowtoSummary.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/elements.js
  src/pages/_Template/Content/ExampleNumberDisplay/ExampleNumberDisplay.tsx
  src/pages/_Template/Template.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/pages/common/UploadedFile/ImagePreview.tsx
  src/pages/common/UploadedFile/UploadedFile.tsx
  yarn.lock
Labels: Documentation, Mod: HowTo 📰, Mod: Events 🎉, Review allow-preview ✅

#1307 chore: apply formatting
  .github/pull_request_template.md
  packages/documentation/docs/Security.md
Labels: Documentation

#1304 feat: conditional module loading
  .circleci/config.yml
  .env
  src/modules/index.test.ts
  src/modules/index.ts
  src/pages/PageList.tsx
  src/pages/Research/index.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/pages/index.tsx
Labels: Mod: Research 🔬, 🐣 Second Instance

#1301 chore: switch to align with project node-version
  .github/workflows/pr-preview.yml
Labels: Review allow-preview ✅

#1302 feat: generate HTML wrapper based on ENV vars
  .env
  .gitignore
  package.json
  scripts/package.json
  scripts/prepare-public-directory.ts
  src/templates/index.html.mst
  src/templates/manifest.json.mst
  yarn.lock
Labels: Review allow-preview ✅, 🐣 Second Instance

#1305 feat: move configuration outside of core bundle
  .circleci/config.yml
  .gitignore
  package.json
  packages/cypress/scripts/paths.ts
  packages/cypress/scripts/start.ts
  public/index.html
  public/manifest.json
  scripts/package.json
  scripts/post-cra-build.ts
  scripts/prepare-public-directory.ts
  src/config/config.ts
  src/config/constants.ts
  src/config/default.json
  src/config/types.ts
  src/logger/index.ts
  src/modules/index.ts
  yarn.lock
Labels: 🐣 Second Instance

#1322 fix: flex style overriding hidden preference
  src/pages/Maps/Content/Controls/index.tsx
Labels: Mod: Maps 🗺

#1323 feat: support additional academy locations
  packages/cypress/src/integration/academy.spec.ts
  src/components/ExternalEmbed/ExternalEmbed.tsx
  src/pages/Academy/Academy.tsx
  src/pages/PageList.tsx
  src/themes/precious-plastic/index.ts
  src/themes/project-kamp/index.ts
  src/themes/types.tsx
Labels: 🐣 Second Instance

#1329 feat: moves external links to theme definition
  src/pages/common/Header/Menu/MenuMobile/MenuMobileLink.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/stores/Theme/theme.store.tsx
  src/themes/precious-plastic/index.ts
  src/themes/project-kamp/index.ts
  src/themes/types.tsx
Labels: 🐣 Second Instance

#1333 fix: broken functions build
  functions/package.json
Labels: Backend

#1262 fix: adjust ordering of paths so that auth'd routes take precedent
  src/components/Auth/AuthWrapper.tsx
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentTextArea.tsx
  src/components/Heading/index.tsx
  src/components/Loader/index.tsx
  src/components/Tags/TagsSelect.tsx
  src/pages/Academy/Academy.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/Research/research.routes.tsx
  src/stores/common/module.store.ts
Labels: Mod: HowTo 📰, Mod: Research 🔬

#1336 fix: type definitions for tests
  src/pages/Research/research.routes.test.tsx
  tsconfig.json
Labels: Mod: Research 🔬

#1338 fix: lightbox styles not loading
  src/components/ImageGallery/index.tsx
Labels: Review allow-preview ✅

#1343 fix: user page slideshow arrows
  src/pages/User/content/UserPage/UserPage.tsx
  src/themes/app.globalStyles.ts
Labels: Review allow-preview ✅

#1306 feat: increase supported length of text
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/constants.ts
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1348 test: increase timeout
  src/pages/Research/research.routes.test.tsx
Labels: Mod: Research 🔬

#1349 feat: introduce GA event tracking event around location search
  src/components/LocationSearch/LocationSearch.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Maps/Content/Controls/index.tsx
  src/pages/Settings/content/formSections/MapPin.section.tsx
Labels: Mod: Events 🎉, Mod: Maps 🗺

#1357 [FIX] #1238 howto search cleaning after navigation
  packages/cypress/src/integration/howto/search.spec.ts
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Labels: Mod: HowTo 📰
