Repository ONEARMY/community-platform, pull requests merged in 2021-05, with the labels that each got.

#1143 Refactor auth routing
  src/components/Auth/AuthWrapper.tsx
  src/pages/Events/Events.tsx
  src/pages/Howto/Howto.tsx
  src/pages/Research/index.tsx
  src/pages/Research/research.routes.tsx
  src/pages/admin/Admin.tsx
  src/pages/common/AuthRoute.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
Labels: Mod: Events 🎉, Mod: HowTo 📰, Mod: Research 🔬, Review allow-preview ✅

#1160 Core build fixes - functions and workspaces
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-2.4.1.cjs
  .yarnrc.yml
  cypress/plugins/index.js
  cypress/support/commands.ts
  cypress/support/db/endpoints.ts
  cypress/support/db/firebase.ts
  cypress/support/hooks.ts
  firebase.json
  functions/package.json
  functions/src/models.ts
  functions/src/stats/index.ts
  functions/tsconfig.json
  functions/yarn.lock
  package.json
  scripts/maintenance/reset-staging-site.ts
  scripts/package.json
  shared/index.ts
  shared/package.json
  src/stores/databaseV2/endpoints.ts
  tsconfig.json
  yarn.lock
Labels: Backend, Review allow-preview ✅

#983 Add lazy loading for pages and stores
  package.json
  public/fonts/Inter-Medium.otf
  public/fonts/Inter-Regular.otf
  public/fonts/Karla-Bold.ttf
  public/fonts/Karla-BoldItalic.ttf
  public/fonts/Karla-Italic.ttf
  public/fonts/Karla-Regular.ttf
  public/index.html
  src/assets/css/slick.min.css
  src/components/DevSiteHeader/DevSiteHeader.tsx
  src/components/ExternalEmbed/ExternalEmbed.tsx
  src/index.tsx
  src/pages/Events/Events.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/Howto.tsx
  src/pages/Maps/Maps.tsx
  src/pages/PageList.tsx
  src/pages/Password/ForgotPassword.tsx
  src/pages/Password/ForgotPasswordMessage.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/research.routes.tsx
  src/pages/Settings/index.tsx
  src/pages/SignUp/ResendSignUpMessage.tsx
  src/pages/SignUp/SignUpMessage.tsx
  src/pages/User/User.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/pages/admin/Admin.tsx
  src/pages/common/SWUpdateNotification/SWUpdateNotification.tsx
  src/pages/index.tsx
  src/pages/policy/privacy.tsx
  src/pages/policy/terms.tsx
  src/service-worker.ts
  src/serviceWorkerRegistration.ts
  src/stores/Platform/platform.store.tsx
  src/stores/Tags/tags.store.tsx
  src/stores/common/module.store.ts
  src/stores/index.tsx
  src/themes/app.globalStyles.ts
  src/themes/fonts/Inter-Medium.ttf
  src/themes/fonts/Inter-Medium.woff
  src/themes/fonts/Inter-Medium.woff2
  src/themes/fonts/Inter-Regular.ttf
  src/themes/fonts/Inter-Regular.woff
  src/themes/fonts/Inter-Regular.woff2
  src/themes/fonts/README.md
  src/themes/fonts/VarelaRound-Regular.eot
  src/themes/fonts/VarelaRound-Regular.ttf
  src/themes/fonts/VarelaRound-Regular.woff
  src/themes/fonts/fonts.d.ts
  src/themes/fonts/index.ts
  yarn.lock
Labels: Mod: Events 🎉, Mod: HowTo 📰, Mod: Maps 🗺, Mod: Research 🔬, Review allow-preview ✅

#1138 Add verified flag to map and user profile
  src/assets/icons/icon-verified-badge.svg
  src/mocks/user.mock.tsx
  src/mocks/user_pp.mock.tsx
  src/models/maps.models.tsx
  src/models/user.models.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Maps/Content/View/popup.css
  src/pages/User/content/UserPage/UserPage.tsx
  src/stores/Maps/maps.store.ts
  src/stores/User/user.store.ts
Labels: Mod: Maps 🗺, Review allow-preview ✅

#1156 Change display name to username
  cypress/integration/sign-up.spec.ts
  cypress/package.json
  package.json
  shared/README.md
  shared/db.ts
  shared/index.ts
  shared/messages.ts
  src/components/Notification/TextNotification.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/SignUpMessage.tsx
  src/utils/helpers.ts
  src/utils/messages.ts
  yarn.lock
Labels: Review allow-preview ✅

#1152 Set content max-width to 1000px on UserPage and ResearchItemDetail #1137
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/index.tsx
  src/pages/Research/research.routes.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/pages/common/Layout/Main.tsx
Labels: Mod: Research 🔬, Review allow-preview ✅
