Repository ONEARMY/community-platform, pull requests merged in 2021-07, with the labels that each got.

#1178 Add CI Pipelines for CircleCI
  .circleci/config.yml
  .env
  functions/src/config/cors.md
  packages/documentation/docs/Deployment/circle-ci.md
  packages/documentation/sidebars.js
  public/index.html
  src/components/ImageGallery/index.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/common/UploadedFile/ImagePreview.tsx
  src/service-worker.ts
Labels: Backend, Mod: HowTo 📰

#1181 Add public view for research module (anyone can view, beta-testers can author)
  src/pages/PageList.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/index.tsx
  src/pages/Research/research.routes.tsx
  src/stores/Research/research.store.tsx
Labels: Mod: Research 🔬

#1182 deprecate body-parser in api function
  functions/package.json
  functions/src/exports/api.ts
  package.json
  yarn.lock
Labels: Backend

#1183 1.5.0 pre-release general fixes
  .yarnrc.yml
  cypress/package.json
  functions/package.json
  functions/src/Integrations/firebase-discord.ts
  functions/src/Integrations/firebase-slack.ts
  functions/src/models.ts
  functions/tsconfig.json
  functions/webpack.config.ts
  package.json
  packages/documentation/docs/Deployment/circle-ci.md
  packages/documentation/package.json
  scripts/test.e2e.js
  src/components/Research/ResearchListItem.tsx
  src/mocks/maps.mock.tsx
  src/models/maps.models.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Maps/Content/View/index.tsx
  src/stores/Events/events.store.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/Research/research.store.tsx
  yarn.lock
Labels: Backend, Mod: Maps 🗺

#1187 Fix/research routes
  package.json
  src/pages/Research/index.tsx
  src/pages/Research/research.routes.tsx
Labels: Mod: Research 🔬, Review allow-preview ✅

#1180 Full div image in how-to introduction
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1179 Add comment button
  src/components/Comment/CommentTextArea.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/stores/Howto/howto.store.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1173 Linked username in comments to user profile
  src/components/Comment/CommentHeader.tsx
Labels: Review allow-preview ✅

#1188 fix map pin detail
  src/pages/Maps/Content/View/index.tsx
  src/pages/Maps/Maps.tsx
  src/stores/Maps/maps.store.ts
Labels: Mod: Maps 🗺, Review allow-preview ✅

#1169 #724 Update react-pose(deprecated) to framer-motion
  package.json
  src/components/Animations/FadeInOut.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/common/Header/Header.tsx
  yarn.lock
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1189 add link to login from comments
  src/components/Comment/CommentTextArea.tsx
Labels: Review allow-preview ✅

#1175 add comments editing
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentHeader.tsx
  src/components/Modal/Modal.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/Howto/howto.store.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1070 #1066 Capitalization across Community Platform
  src/components/EventCard/EventCard.tsx
  src/components/Form/Fields.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
Labels: Mod: Events 🎉, Mod: HowTo 📰, Review allow-preview ✅

#1071 #946 hide map pin when profileType is change to member
  src/stores/Maps/maps.store.ts
Labels: Review allow-preview ✅

#1191 Add auth system local overrides and comments auth
  src/components/Auth/AuthWrapper.tsx
  src/components/Comment/Comment.tsx
  src/components/DevSiteHeader/DevSiteHeader.tsx
  src/config/config.ts
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1194 prepare release (1.6.0)
  .github/workflows/pr-preview.yml
  package.json
Labels: Review allow-preview ✅

#1195 v1.6.0
  .github/workflows/pr-preview.yml
  package.json
  src/components/Animations/FadeInOut.tsx
  src/components/Auth/AuthWrapper.tsx
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentHeader.tsx
  src/components/Comment/CommentTextArea.tsx
  src/components/DevSiteHeader/DevSiteHeader.tsx
  src/components/EventCard/EventCard.tsx
  src/components/Form/Fields.tsx
  src/components/Modal/Modal.tsx
  src/config/config.ts
  src/models/howto.models.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Maps/Content/View/index.tsx
  src/pages/Maps/Maps.tsx
  src/pages/Research/index.tsx
  src/pages/Research/research.routes.tsx
  src/pages/admin/Admin.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
  src/pages/common/Header/Header.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  yarn.lock
Labels: Mod: Events 🎉, Mod: HowTo 📰, Mod: Maps 🗺, Mod: Research 🔬
