Repository ONEARMY/community-platform, pull requests merged in 2021-04, with the labels that each got.

#1116 Research Module - create/edit
  src/components/EventCard/EventCard.tsx
  src/components/Form/ImageInput.field.tsx
  src/components/HowToCard/HowToCard.tsx
  src/components/ModerationStatusText/index.tsx
  src/components/Research/ResearchListItem.tsx
  src/components/Text/index.tsx
  src/mocks/db.mock.tsx
  src/mocks/research.mocks.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/Common/PostingGuidelines.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/SubmitStatus.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/CreateResearch/Template.tsx
  src/pages/Research/Content/CreateResearch/index.tsx
  src/pages/Research/Content/CreateUpdate/Template.tsx
  src/pages/Research/Content/CreateUpdate/index.tsx
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/Update.tsx
  src/pages/Research/research.routes.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/utils/comparisons.ts
  src/utils/helpers.ts
Labels: Mod: HowTo 📰, Mod: Research 🔬, Review allow-preview ✅

#1132 Minor fix to user backup function
  functions/src/userUpdates/index.ts
Labels: Backend

#1129 Research module live, but only for specific users
  src/components/EventCard/EventCard.tsx
  src/components/HowToCard/HowToCard.tsx
  src/components/ModerationStatusText/index.tsx
  src/components/Research/ResearchListItem.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/PageList.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/index.tsx
  src/pages/admin/Admin.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/stores/Admin/admin.store.ts
Labels: Mod: HowTo 📰, Mod: Research 🔬, Review allow-preview ✅

#1136 Add circle-ci build system
  .circleci/config.yml
  .travis.yml
  cypress.json
  cypress/fixtures/seed/users.json
  cypress/integration/bugs.spec.ts
  cypress/integration/common.spec.ts
  cypress/integration/events.spec.ts
  cypress/integration/howto/read.spec.ts
  cypress/integration/howto/write.spec.ts
  cypress/integration/map.spec.ts
  cypress/integration/settings.spec.ts
  cypress/integration/sign-up.spec.ts
  cypress/plugins/index.js
  cypress/support/commands.ts
  cypress/support/db/endpoints.ts
  cypress/support/db/firebase.ts
  cypress/support/hooks.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  cypress/utils/test-utils.ts
  package.json
  scripts/test.e2e.js
  src/components/EventCard/EventCard.tsx
  src/components/Tags/TagsSelect.tsx
  src/registerServiceWorker.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Tags/tags.store.tsx
  src/stores/common/module.store.ts
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/endpoints.ts
  src/utils/firebase.ts
  yarn.lock
Labels: Review allow-preview ✅
