Repository ONEARMY/community-platform, pull requests merged in 2021-06, with the labels that each got.

#1165 Functions workspace bundling
  .gitignore
  firebase.json
  functions/.gitignore
  functions/package.json
  functions/src/Firebase/databaseBackup.ts
  functions/src/Integrations/firebase-discord.ts
  functions/src/Utils/image.utils.ts
  functions/src/exports/api.ts
  functions/src/models.ts
  functions/tsconfig.json
  functions/tslint.json
  functions/webpack.config.ts
  package.json
  shared/.gitignore
  shared/README.md
  shared/package.json
  shared/tsconfig.json
  src/components/Flex/index.tsx
  src/components/Icons/index.tsx
  src/components/ImageInput/ImageInput.tsx
  src/components/Text/index.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  tsconfig.json
  tsconfig.src-types.json
  yarn.lock
Labels: Backend

#1153 Comments 💬 (backend + frontend)
  functions/src/userUpdates/index.ts
  package.json
  src/components/Avatar/index.tsx
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentHeader.tsx
  src/components/Comment/CommentTextArea.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/stores/Howto/howto.store.tsx
  yarn.lock
Labels: Backend, Mod: HowTo 📰, Review allow-preview ✅, Review: Assigned 👉

#1145 WIP: Comments UI & components
  package.json
  src/components/Avatar/index.tsx
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentHeader.tsx
  src/components/Comment/CommentTextArea.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  yarn.lock
Labels: Mod: HowTo 📰, Review allow-preview ✅
