Repository ONEARMY/community-platform, pull requests merged in 2022-12, with the labels that each got.

#2008 feat: move map card to component
  .eslintrc.json
  packages/components/.eslintrc.json
  packages/components/package.json
  packages/components/src/MapMemberCard/MapMemberCard.stories.tsx
  packages/components/src/MapMemberCard/MapMemberCard.tsx
  packages/components/src/index.ts
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Maps/Content/View/popup.css
  yarn.lock
Labels: Mod: Maps 🗺, Review allow-preview ✅, Design Approved, Bounty Level 1

#1917 Prefactor: Email notifications
  packages/components/src/NotificationList/NotificationList.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
  src/stores/User/notifications.store.test.tsx
  src/stores/User/notifications.store.ts
  src/stores/User/user.store.ts
  src/stores/common/__mocks__/module.store.ts
  src/stores/common/module.store.ts
  src/stores/index.tsx
  src/test/factories/Notification.ts
  src/test/factories/User.ts
Labels: Backend, Mod: HowTo 📰, Mod: Research 🔬

#2021 Rebase/add notifications for mentions 2
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/CommentList/CommentList.stories.tsx
  packages/components/src/CommentList/CommentList.tsx
  packages/components/src/NotificationItem/NotificationItem.stories.tsx
  packages/components/src/NotificationItem/NotificationItem.tsx
  packages/components/src/NotificationList/NotificationList.stories.tsx
  packages/components/src/NotificationList/NotificationList.tsx
  src/mocks/howto.mock.tsx
  src/models/howto.models.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/getFormattedNotifications.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/User/notifications.store.test.tsx
  src/stores/User/notifications.store.ts
  src/stores/User/user.store.ts
  src/stores/common/__mocks__/module.store.ts
  src/stores/common/mentions/index.test.ts
  src/stores/common/mentions/index.ts
  src/test/factories/Howto.ts
  src/test/factories/Notification.ts
  src/test/factories/User.ts
Labels: Mod: HowTo 📰, Review allow-preview ✅

#2023 fix: styled linkify
  packages/components/package.json
  packages/components/src/ExternalLink/ExternalLink.tsx
  packages/components/src/LinkifyText/LinkifyText.tsx
  yarn.lock
Labels: Review allow-preview ✅

#2025 chore: emulator seed and mock data
  functions/src/Firebase/firestoreDB.ts
  functions/src/aggregations/common.aggregations.ts
  functions/src/emulator/index.ts
  functions/src/emulator/seed/content-generate.ts
  package.json
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/emulators-docker/.gitignore
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/config/bootstrap.sh
  packages/emulators-docker/seed_data/pp-2022-12-04.tar.gz
  packages/emulators-docker/src/common.ts
  shared/mocks/auth/users.ts
Labels: Documentation, Backend

#2029 Fix/chunk load errors
  src/App.tsx
  src/common/Error/ErrorBoundary.tsx
  src/common/Error/handler.ts
  src/common/Error/handlers/ChunkLoadError.tsx
  src/common/Error/handlers/Reloader.tsx
  src/common/ErrorBoundary.tsx
  src/index.tsx
  src/modules/admin/admin.routes.tsx
  src/pages/Howto/Howto.tsx
  src/pages/PageList.tsx
  src/pages/Research/research.routes.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2042 fix: layout of workspace map pin
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
Labels: Review allow-preview ✅

#2041 Fix/functions tests
  .circleci/config.yml
  functions/jest.config.ts
  functions/package.json
  functions/scripts/runtimeConfig/model.ts
  functions/src/emulator/seed/content-generate.ts
  functions/src/emulator/seed/users-create.ts
  functions/src/models.ts
  functions/src/seo/sitemap/sitemap.test.ts
  functions/tsconfig.json
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/src/prepare.ts
  yarn.lock
Labels: Backend

#2039 feat(settings): add email frequency setting
  functions/src/emulator/seed/content-generate.ts
  src/models/user.models.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/EmailNotifications.section.tsx
Labels: Backend, Review allow-preview ✅

#2049 Rebase/dave edits
  packages/documentation/docs/Contributing/start-contributing.md
Labels: Documentation

#2016 Add categories to research module
  shared/models/db.ts
  src/models/research.models.tsx
  src/models/researchCategories.model.ts
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/stores/Research/research.store.tsx
  src/stores/ResearchCategories/researchCategories.store.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/index.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬, Design Approved

#2050 chore: update docs yarn lock
  packages/documentation/yarn.lock
Labels: Documentation

#2043 fix: address button inconsistency
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/CommentList/CommentList.tsx
  packages/components/src/MapMemberCard/MapMemberCard.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Password/ForgotPassword.tsx
  src/pages/Password/ForgotPasswordMessage.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/ProfileDelete.tsx
  src/pages/Settings/content/formSections/ChangeEmail.form.tsx
  src/pages/Settings/content/formSections/ChangePassword.form.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/Fields/OpeningHoursPicker.field.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/ResendSignUpMessage.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/common/Header/Menu/Profile/ProfileButtonItem.tsx
  src/pages/common/Header/Menu/Profile/ProfileButtons.tsx
  src/themes/common/button.ts
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
Labels: Mod: HowTo 📰, Mod: Events 🎉, Review allow-preview ✅, Mod: Research 🔬
