Repository ONEARMY/community-platform, pull requests merged in 2022-10, with the labels that each got.

#1934 feat: introduce Select component
  package.json
  packages/components/package.json
  packages/components/src/Select/DropdownIndicator.tsx
  packages/components/src/Select/Option.tsx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/howto/write.spec.ts
  src/components/Form/Select.field.tsx
  src/components/Form/TagsSelect.field.tsx
  src/components/Tags/TagsSelect.tsx
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/Content/HowtoList/SortSelect.tsx
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
  src/pages/admin/content/AdminTags.tsx
  src/pages/common/DevSiteHeader/DevSiteHeader.tsx
  yarn.lock
Labels: Mod: HowTo 📰, Mod: Maps 🗺, Review allow-preview ✅

#1963 chore: move Form out to common
  src/common/Form/Checkbox.tsx
  src/common/Form/FieldContainer.ts
  src/common/Form/FileInput.field.tsx
  src/common/Form/FileInput/FileInput.tsx
  src/common/Form/FileInput/UppyConfig.ts
  src/common/Form/ImageInput.field.tsx
  src/common/Form/ImageInput/ImageConverter.tsx
  src/common/Form/ImageInput/ImageInput.tsx
  src/common/Form/LocationSearch.field.tsx
  src/common/Form/README.md
  src/common/Form/Select.field.tsx
  src/common/Form/TagsSelect.field.tsx
  src/common/Form/UnsavedChangesDialog.tsx
  src/common/Form/types.ts
  src/common/Tags/TagsSelect.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Content/EventsListings/EventsListings.tsx
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/Content/HowtoList/SortSelect.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/Fields/OpeningHoursPicker.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Labels: Mod: HowTo 📰, Mod: Events 🎉, Mod: Research 🔬

#1972 fix: replace zero with dash on research listing
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Labels: Mod: Research 🔬

#1967 :docs Update documentation for Bounty levels
  packages/documentation/docs/Contributing/bounties.md
  packages/documentation/docs/Contributing/images/bounty1.png
  packages/documentation/docs/Contributing/images/bounty2.png
  packages/documentation/docs/Contributing/images/bounty3.png
  packages/documentation/docs/Contributing/images/open_collective_01.jpg
  packages/documentation/docs/Contributing/images/open_collective_02.jpg
Labels: Documentation

#1960 fix: links error fields layout
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
Labels: Review allow-preview ✅

#1958 docs: add maintainer offboarding checklist
  packages/documentation/docs/Contributing/maintainer.md
Labels: Documentation

#1970 feat: remove tags filter from HowtoList
  packages/cypress/src/integration/howto/read.spec.ts
  shared/mocks/data/categories.ts
  shared/mocks/data/howtos.ts
  shared/mocks/data/index.ts
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Howto/howto.store.tsx
Labels: Mod: HowTo 📰

#1954 feat: introduce username component
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/InternalLink/InternalLink.stories.tsx
  packages/components/src/InternalLink/InternalLink.tsx
  packages/components/src/Username/Username.stories.tsx
  packages/components/src/Username/Username.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/events.spec.ts
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/profile.spec.ts
  src/common/AlertIncompleteProfile.tsx
  src/common/isUserVerified.ts
  src/components/VerifiedUserBadge/VerifiedUserBadge.test.skip.tsx
  src/components/VerifiedUserBadge/VerifiedUserBadge.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/research.routes.test.skip.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/stores/User/user.store.ts
Labels: Mod: HowTo 📰, Mod: Events 🎉, Review allow-preview ✅, Mod: Research 🔬

#1981 fix: support more username variants
  packages/components/src/LinkifyText/LinkifyText.stories.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/mentions/index.test.ts
  src/stores/common/mentions/index.ts
Labels: Review allow-preview ✅

#1978 fix: used theme specific icons for fixing-fashion
  src/assets/images/themes/fixing-fashion/avatar_member.svg
  src/assets/images/themes/fixing-fashion/avatar_member_lg.svg
  src/assets/images/themes/fixing-fashion/avatar_member_sm.svg
  src/assets/images/themes/fixing-fashion/avatar_space_lg.svg
  src/assets/images/themes/fixing-fashion/avatar_space_sm.svg
  src/assets/images/themes/precious-plastic/avatar_member_lg.svg
  src/assets/images/themes/precious-plastic/avatar_member_sm.svg
  src/assets/images/themes/project-kamp/avatar_member_lg.svg
  src/assets/images/themes/project-kamp/avatar_member_sm.svg
  src/assets/images/themes/project-kamp/avatar_space_lg.svg
  src/assets/images/themes/project-kamp/avatar_space_sm.svg
  src/modules/profile/SupportedProfileTypesFactory.ts
  src/modules/profile/index.test.ts
  src/modules/profile/index.ts
  src/pages/Maps/Content/View/Cluster.tsx
  src/pages/Maps/Content/View/Sprites.tsx
  src/pages/Maps/Content/View/sprites.css
  src/pages/User/workspace/Workspace.test.ts
  src/pages/User/workspace/Workspace.tsx
  src/themes/fixing-fashion/index.ts
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/index.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/index.ts
  src/themes/project-kamp/styles.ts
Labels: Mod: Maps 🗺, Review allow-preview ✅

#1993 fix: circular dependencies in PR 1978
  src/mocks/user_pp.mock.tsx
  src/models/maps.models.tsx
  src/models/user_pp.models.tsx
  src/modules/profile/index.ts
  src/modules/profile/types.ts
  src/pages/Maps/Content/Controls/transformAvailableFiltersToGroups.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/Template.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/index.tsx
  src/pages/User/workspace/Workspace.tsx
  src/themes/types.tsx
Labels: Mod: Maps 🗺

#1989 fix: collection opening time error styling
  src/common/Form/Select.field.tsx
  src/pages/Settings/content/formSections/Fields/OpeningHoursPicker.field.tsx
Labels: Review allow-preview ✅, Design Approved

#1988 fix: settings error styles
  src/pages/Settings/content/formSections/Collection.section.tsx
  src/pages/Settings/content/formSections/Expertise.section.tsx
  src/pages/Settings/content/formSections/Workspace.section.tsx
Labels: Review allow-preview ✅, Design Approved

#1986 chore: enforce sorting on class attributes
  .eslintrc.json
  package.json
  src/common/Form/ImageInput/ImageConverter.tsx
  src/common/Form/ImageInput/ImageInput.tsx
  src/pages/Academy/ExternalEmbed/ExternalEmbed.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Content/EventsListings/EventsListings.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/VirtualizedFlex/VirtualizedFlex.tsx
  src/pages/Maps/Content/Controls/GroupingFilterMobile.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Maps/Content/View/index.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/ProfileDelete.tsx
  src/pages/User/content/UserAdmin.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/pages/admin/content/AdminTags.tsx
  src/pages/admin/content/AdminUsers.tsx
  src/pages/common/UploadedFile/FirebaseFileUploader.tsx
  src/pages/common/UploadedFile/UploadedFile.tsx
  src/stores/Events/events.store.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/Platform/platform.store.tsx
  src/stores/Tags/tags.store.tsx
  src/stores/User/user.store.ts
  src/stores/_Template/template.store.tsx
  src/stores/common/module.store.ts
  src/stores/databaseV2/AbstractDatabase.ts
  src/stores/databaseV2/index.tsx
  yarn.lock
Labels: Mod: HowTo 📰, Mod: Events 🎉, Mod: Maps 🗺

#1985 feat: add Apply button to map filters on mobile
  src/pages/Maps/Content/Controls/Controls.tsx
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
  src/pages/Maps/Content/Controls/GroupingFilterMobile.tsx
Labels: Mod: Maps 🗺, Review allow-preview ✅, Design Approved

#1996 docs: Update maintainer documentation
  packages/documentation/docs/Contributing/bounties.md
  packages/documentation/docs/Contributing/maintainer.md
  packages/documentation/docs/Contributing/start-contributing.md
  packages/documentation/sidebars.js
Labels: Documentation
