Repository ONEARMY/community-platform, pull requests merged in 2022-05, with the labels that each got.

#1620 Feat/admin profile edit
  packages/cypress/src/fixtures/seed/index.ts
  packages/cypress/src/fixtures/seed/users.json
  packages/cypress/src/integration/profile.spec.ts
  src/components/NotificationBanner/NotificationBanner.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/User/User.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserAdmin.tsx
  src/pages/User/content/index.tsx
  src/pages/common/AuthRoute.tsx
  src/stores/User/user.store.ts
  src/utils/getLocationData.ts
Labels: Backend

#1655 docs: add initial design contribution docs
  packages/documentation/docs/Design/contributing-designs.md
  packages/documentation/docs/Design/contributing-feedback.md
  packages/documentation/docs/Design/images/design-contributions-0.png
  packages/documentation/docs/Design/images/design-contributions-1.png
  packages/documentation/docs/Design/images/design-contributions-2.png
  packages/documentation/docs/Design/images/design-contributions-3.png
  packages/documentation/docs/Design/our-design-system.md
  packages/documentation/sidebars.js
Labels: Documentation, Review allow-preview ✅

#1657 chore: introduce check for spelling within documentation
  .circleci/config.yml
  .cspell.json
  .github/ISSUE_TEMPLATE/bug_report.md
  BOUNTIES.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  packages/components/README.md
  packages/components/tsconfig.json
  packages/cypress/src/support/index.ts
  packages/documentation/data-migration.md
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/documentation/docs/Backend Development/firebase-emulators.md
  packages/documentation/docs/Backend Development/integrations.md
  packages/documentation/docs/Backend Development/overview.md
  packages/documentation/docs/Contributing/bounties.md
  packages/documentation/docs/Contributing/maintainer.md
  packages/documentation/docs/Deployment/circle-ci.md
  packages/documentation/docs/Design/contributing-designs.md
  packages/documentation/docs/Design/contributing-feedback.md
  packages/documentation/docs/Docs Contribution/md-style-guide.md
  packages/documentation/docs/Examples/mdx.md
  packages/documentation/docs/Frontend Development/modules.md
  packages/documentation/docs/Frontend Development/overview.md
  packages/documentation/docs/Server Maintenance/data-migration.md
  packages/documentation/docs/Server Maintenance/manual-backups.md
  packages/documentation/docs/Testing/end-to-end.md
  packages/documentation/firestore-backup.md
  packages/emulators-docker/README.md
  src/stores/Notifications/notifications.service.ts
  src/themes/fonts/README.md
Labels: Documentation

#1679 feat: removes collapsible behaviour from settings
  src/pages/Settings/content/formSections/AccountSettings.section.tsx
  src/pages/Settings/content/formSections/Collection.section.tsx
  src/pages/Settings/content/formSections/Expertise.section.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/Settings/content/formSections/Workspace.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/pages/Settings/content/formSections/elements.tsx
Labels: Review allow-preview ✅

#1678 docs: make yarn v3 requirement explicit
  CONTRIBUTING.md
  packages/documentation/docs/Getting Started/setup.md
Labels: Documentation

#1665 feat: drop duplicate Flex component
  packages/cypress/src/integration/howto/read.spec.ts
  src/components/EventCard/EventCard.tsx
  src/components/Flex/index.tsx
  src/components/Form/Select.field.tsx
  src/components/ProfileModal/ProfileModal.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Content/EventsCreate/PostingGuidelines.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Common/PostingGuidelines.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Password/ForgotPassword.tsx
  src/pages/Password/ForgotPasswordMessage.tsx
  src/pages/Research/Content/Common/PostingGuidelines.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/PostingGuidelines.tsx
  src/pages/Settings/content/ProfileDelete.tsx
  src/pages/Settings/content/formSections/AccountSettings.section.tsx
  src/pages/Settings/content/formSections/ChangeEmail.form.tsx
  src/pages/Settings/content/formSections/ChangePassword.form.tsx
  src/pages/Settings/content/formSections/Collection.section.tsx
  src/pages/Settings/content/formSections/Expertise.section.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/Fields/OpeningHoursPicker.field.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/Settings/content/formSections/Workspace.section.tsx
  src/pages/Settings/content/formSections/elements.tsx
  src/pages/Settings/index.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/ResendSignUpMessage.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/SignUpMessage.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/admin/Admin.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/pages/admin/content/AdminTags.tsx
  src/pages/admin/content/AdminUsers.tsx
  src/pages/common/AuthRoute.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
Labels: Mod: HowTo 📰, Mod: Events 🎉, Mod: Maps 🗺, Review allow-preview ✅, Mod: Research 🔬

#1616 chore: add filename linting
  .eslintrc.json
  package.json
  packages/components/package.json
  packages/components/scripts/newComponent.ts
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  shared/index.ts
  shared/mocks/authUsers.ts
  yarn.lock
Labels: Documentation

#1682 fix: alignment of moderation text
  src/components/EventCard/EventCard.tsx
  src/components/ModerationStatusText/ModerationStatustext.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#1664 feat: howto file download link
  packages/components/src/Icon/ExternalUrl.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/types.ts
  packages/cypress/src/integration/howto/write.spec.ts
  src/models/howto.models.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/DownloadExternal/DownloadExternal.tsx
  src/stores/Howto/howto.store.tsx
  src/utils/validators.ts
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1690 chore: lift changes into new branch
  packages/components/src/Icon/ExternalUrl.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/types.ts
  packages/cypress/src/integration/howto/write.spec.ts
  src/models/howto.models.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/DownloadExternal/DownloadExternal.tsx
  src/stores/Howto/howto.store.tsx
  src/utils/validators.ts
Labels: Mod: HowTo 📰

#1667 feat: drop duplicate Link component
  src/components/Comment/CommentHeader.tsx
  src/components/Comment/CommentTextArea.tsx
  src/components/EventCard/EventCard.tsx
  src/components/Links/LinkTargetBlank/LinkTargetBlank.tsx
  src/components/Links/index.tsx
  src/components/NotificationBanner/NotificationBanner.tsx
  src/components/Notifications/NotificationItem.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Password/ForgotPasswordMessage.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Settings/content/PostingGuidelines.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/SignUpMessage.tsx
  src/pages/User/content/UserAdmin.tsx
  src/pages/User/content/UserStats.tsx
  src/pages/admin/Admin.tsx
  src/pages/common/Breadcrumb/Breadcrumb.tsx
  src/pages/common/FilterBar/FilterBar.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobileExternalLink.tsx
  src/pages/common/Header/Menu/Profile/ProfileButtonItem.tsx
Labels: Mod: HowTo 📰, Mod: Events 🎉, Mod: Maps 🗺, Review allow-preview ✅, Mod: Research 🔬

#1696 fix/outline on slider images
  src/components/ImageGallery/ImageGallery.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#1699 feat: drop duplicate heading component
  packages/components/src/Heading/Heading.stories.tsx
  src/components/Heading/heading.stories.mdx
  src/components/Heading/index.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Content/EventsCreate/PostingGuidelines.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Common/PostingGuidelines.tsx
  src/pages/Howto/Content/Common/SubmitStatus.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Password/ForgotPassword.tsx
  src/pages/Password/ForgotPasswordMessage.tsx
  src/pages/Research/Content/Common/PostingGuidelines.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/SubmitStatus.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/PostingGuidelines.tsx
  src/pages/Settings/content/formSections/AccountSettings.section.tsx
  src/pages/Settings/content/formSections/Collection.section.tsx
  src/pages/Settings/content/formSections/Expertise.section.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/Settings/content/formSections/Workspace.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/ResendSignUpMessage.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/SignUpMessage.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/pages/admin/content/AdminTags.tsx
  src/pages/admin/content/AdminUsers.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
Labels: Mod: HowTo 📰, Mod: Events 🎉, Review allow-preview ✅, Mod: Research 🔬

#1698 fix: open links in new tab
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#1702 fix: create event page layout
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
Labels: Mod: Events 🎉, Review allow-preview ✅
