Repository ONEARMY/community-platform, pull requests merged in 2022-06, with the labels that each got.

#1681 feat: add country dropdown in profile settings
  package.json
  packages/cypress/src/integration/settings.spec.ts
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  yarn.lock
Labels: Review allow-preview ✅

#1701 feat: consolidate inputs
  package.json
  packages/components/src/FieldDatepicker/FieldDatepicker.stories.tsx
  packages/components/src/FieldDatepicker/FieldDatepicker.tsx
  packages/components/src/FieldInput/FieldInput.stories.tsx
  packages/components/src/FieldInput/FieldInput.tsx
  packages/components/src/FieldTextarea/FieldTextarea.stories.tsx
  packages/components/src/FieldTextarea/FieldTextarea.tsx
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Textarea/Textarea.stories.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/events.spec.ts
  src/components/Category/CategoriesSelect.tsx
  src/components/Comment/CommentTextArea.tsx
  src/components/Form/FieldContainer.ts
  src/components/Form/Fields.tsx
  src/components/Form/FileInput.field.tsx
  src/components/Form/ImageInput.field.tsx
  src/components/Form/LocationSearch.field.tsx
  src/components/Form/README.md
  src/components/Form/Select.field.tsx
  src/components/Form/elements.ts
  src/components/Form/types.ts
  src/components/FormEditComment/FormEditComment.tsx
  src/components/OsmGeocoding/OsmGeocoding.tsx
  src/components/SearchInput/index.tsx
  src/components/Tags/TagsSelect.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/Content/HowtoList/SortSelect.tsx
  src/pages/Password/ForgotPassword.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Settings/content/ProfileDelete.tsx
  src/pages/Settings/content/formSections/ChangeEmail.form.tsx
  src/pages/Settings/content/formSections/ChangePassword.form.tsx
  src/pages/Settings/content/formSections/Fields/CustomCheckbox.field.tsx
  src/pages/Settings/content/formSections/Fields/CustomRadio.field.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/ResendSignUpMessage.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/pages/admin/content/AdminTags.tsx
  src/pages/admin/content/AdminUsers.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
  yarn.lock
Labels: Mod: HowTo 📰, Mod: Events 🎉, Review allow-preview ✅, Mod: Research 🔬

#1710 chore/improvements to pkg components
  .circleci/config.yml
  packages/components/.eslintignore
  packages/components/.eslintrc.json
  packages/components/README.md
  packages/components/package.json
  packages/components/scripts/newComponent.ts
  packages/components/scripts/templates/{componentName}.stories.tsx.mst
  packages/documentation/docs/Frontend Development/overview.md
Labels: Documentation

#1735 chore: remove legacy app-engine code
  .eslintignore
  functions-cron/.gcloudignore
  functions-cron/.gitignore
  functions-cron/LICENSE
  functions-cron/README.md
  functions-cron/app.js
  functions-cron/app.yaml
  functions-cron/cron.yaml
  functions-cron/package.json
  functions/README.md
  functions/src/exports/tasks.ts
  functions/src/index.ts
  functions/src/scheduled/tasks.ts
  tsconfig.json
Labels: Backend

#1736 Feat/lazy images
  packages/components/src/MemberBadge/MemberBadge.tsx
  src/components/Avatar/index.tsx
  src/components/Comment/CommentHeader.tsx
  src/components/DropdownIndicator/index.tsx
  src/components/ImageGallery/ImageGallery.tsx
  src/components/Loader/index.tsx
  src/components/VerifiedUserBadge/VerifiedUserBadge.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
  src/pages/Maps/Content/Controls/GroupingFilterMobile.tsx
  src/pages/Maps/Content/Controls/index.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Settings/content/formSections/Fields/CustomCheckbox.field.tsx
  src/pages/Settings/content/formSections/Fields/CustomRadio.field.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserStats.tsx
  src/pages/common/Header/Menu/Logo/Logo.tsx
Labels: Mod: HowTo 📰, Mod: Maps 🗺, Review allow-preview ✅, Mod: Research 🔬

#1726 chore: reorganize components
  src/components/DiscordLink/DiscordLink.stories.mdx
  src/components/DiscordLink/DiscordLink.tsx
  src/pages/Academy/Academy.tsx
  src/pages/Academy/ExternalEmbed/ExternalEmbed.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Events/EventCard/event.card.stories.mdx
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/VirtualizedFlex/VirtualizedFlex.tsx
  src/pages/common/DevSiteHeader/DevSiteHeader.tsx
  src/pages/common/GoogleAnalytics/index.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/pages/common/Header/Menu/ProfileModal/ProfileModal.tsx
  src/pages/index.tsx
Labels: Mod: HowTo 📰, Mod: Events 🎉

#1715 feat: drop Avatar component
  packages/components/src/MemberBadge/MemberBadge.stories.tsx
  packages/components/src/MemberBadge/MemberBadge.tsx
  src/components/Avatar/index.tsx
  src/components/Comment/CommentTextArea.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/themes/precious-plastic/styles.ts
Labels: Review allow-preview ✅

#1739 Fix/router links
  src/components/Comment/CommentHeader.tsx
  src/components/Comment/CommentTextArea.tsx
  src/components/NotificationBanner/NotificationBanner.tsx
  src/components/Notifications/NotificationItem.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Howto/Content/Common/PostingGuidelines.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/DownloadExternal/DownloadExternal.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Password/ForgotPasswordMessage.tsx
  src/pages/Research/Content/Common/PostingGuidelines.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Settings/content/PostingGuidelines.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/SignUpMessage.tsx
  src/pages/User/content/ProfileLink.tsx
  src/pages/User/content/UserAdmin.tsx
  src/pages/User/content/UserStats.tsx
  src/pages/admin/Admin.tsx
  src/pages/common/Breadcrumb/Breadcrumb.tsx
  src/pages/common/FilterBar/FilterBar.tsx
  src/pages/common/Header/Menu/Logo/Logo.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobileExternalLink.tsx
  src/pages/common/Header/Menu/Profile/ProfileButtonItem.tsx
  src/stores/Howto/howto.store.tsx
Labels: Mod: HowTo 📰, Mod: Events 🎉, Mod: Maps 🗺, Review allow-preview ✅, Mod: Research 🔬

#1744 Feat/external link component
  .eslintrc.json
  packages/components/src/ExternalLink/ExternalLink.stories.tsx
  packages/components/src/ExternalLink/ExternalLink.tsx
  packages/components/src/SiteFooter/SiteFooter.tsx
  packages/components/src/index.ts
  src/components/FileInfo/FileInfo.tsx
  src/components/MapWithDraggablePin/MapWithDraggablePin.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Howto/Content/Common/PostingGuidelines.tsx
  src/pages/Howto/DownloadExternal/DownloadExternal.tsx
  src/pages/Maps/Content/View/index.tsx
  src/pages/NotFound/NotFound.tsx
  src/pages/Research/Content/Common/PostingGuidelines.tsx
  src/pages/Settings/content/PostingGuidelines.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/SignUpMessage.tsx
  src/pages/User/content/ProfileLink.tsx
  src/pages/common/UploadedFile/UploadedFile.tsx
  src/pages/index.tsx
  src/pages/policy/privacy.tsx
  src/pages/policy/terms.tsx
Labels: Mod: HowTo 📰, Mod: Events 🎉, Mod: Maps 🗺, Mod: Research 🔬

#1750 chore(ci): bump action to use latest version of node action
  .github/workflows/reset-staging-site.yml
Labels: Review allow-preview ✅, 🧹 Maintenance

#1742 feat: extract create comment component
  packages/components/package.json
  packages/components/src/CommentItem/CommentItem.stories.tsx
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/CreateComment/CreateComment.stories.tsx
  packages/components/src/CreateComment/CreateComment.tsx
  packages/components/src/EditComment/EditComment.stories.tsx
  packages/components/src/EditComment/EditComment.tsx
  packages/components/src/FieldTextarea/FieldTextarea.stories.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/MemberBadge/MemberBadge.tsx
  packages/components/src/Modal/Modal.stories.tsx
  packages/components/src/Modal/Modal.tsx
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/components/types/ReactLinkify.d.ts
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentTextArea.tsx
  src/components/CommentList/CommentList.tsx
  src/components/Modal/Modal.tsx
  src/components/Notifications/NotificationItem.tsx
  src/constants.ts
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Common/SubmitStatus.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Maps/Content/Controls/index.tsx
  src/pages/Research/Content/Common/SubmitStatus.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Settings/content/ProfileDelete.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/Fields/OpeningHoursPicker.field.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/pages/admin/content/AdminTags.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
  yarn.lock
Labels: Mod: HowTo 📰, Mod: Maps 🗺, Review allow-preview ✅, Mod: Research 🔬

#1753 fix: add support for ff member types on map
  packages/components/src/MemberBadge/MemberBadge.stories.tsx
  packages/components/src/MemberBadge/MemberBadge.tsx
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
  src/stores/Maps/maps.groupings.ts
  src/themes/fixing-fashion/styles.ts
Labels: Mod: Maps 🗺

#1760 fix: badge icons for specialist workshops
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
  src/pages/Maps/Content/Controls/GroupingFilterMobile.tsx
  src/pages/Maps/Content/Controls/transformSpecialistWorkspaceTypeToWorkspace.tsx
Labels: Mod: Maps 🗺, Review allow-preview ✅

#1687 1617-add-download-count-howto
  src/components/FileInfo/FileInfo.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/downloadCooldown.ts
  src/pages/Howto/DownloadExternal/DownloadExternal.tsx
  src/stores/Howto/howto.store.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1769 feat: show recent past events
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Events/Content/EventsListings/EventsListings.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Events/Events.tsx
Labels: Mod: Events 🎉, Review allow-preview ✅

#1758 feat: add verified option to map dropdown
  src/pages/Maps/Content/Controls/Controls.tsx
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
  src/pages/Maps/Content/Controls/GroupingFilterMobile.tsx
  src/pages/Maps/Content/Controls/transformAvailableFiltersToGroups.tsx
  src/pages/Maps/Content/index.ts
  src/pages/Maps/Maps.tsx
  src/stores/Maps/filter.test.ts
  src/stores/Maps/filter.ts
  src/stores/Maps/maps.store.ts
Labels: Mod: Maps 🗺

#1740 Feat/seo clientside tags
  packages/cypress/src/integration/howto/seo.spec.ts
  public/index.html
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/index.tsx
  src/utils/seo.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1756 docs: provide concrete examples of using firebase config
  packages/documentation/docs/Backend Development/integrations.md
Labels: Documentation

#1782 fix: aggregations limit
  functions/src/aggregations/common.aggregations.ts
Labels: Backend

#1785 fix: populate users_verified as boolean
  functions/src/aggregations/user.aggregations.ts
Labels: Backend

#1780 feat: migrate MoreContainer to packages
  packages/components/src/MoreContainer/MoreContainer.stories.tsx
  packages/components/src/MoreContainer/MoreContainer.tsx
  packages/components/src/index.ts
  src/components/MoreContainer/MoreContainer.tsx
  src/pages/Events/Content/EventsListings/EventsListings.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Labels: Mod: HowTo 📰, Mod: Events 🎉

#1781 Refactor: automated backups system
  firebase.json
  functions/scripts/start.ts
  functions/src/Firebase/databaseBackup.ts
  functions/src/Firebase/firestoreDBExport.ts
  functions/src/Firebase/storage.ts
  functions/src/emulator/index.ts
  functions/src/emulator/pubsub.ts
  functions/src/emulator/seed/data-clean.ts
  functions/src/models.ts
  functions/src/scheduled/tasks.ts
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/documentation/docs/Backend Development/firebase-emulators.md
  packages/documentation/docs/Backend Development/firestore-backup.md
  packages/documentation/docs/Backend Development/images/firestore-backup-console.png
  packages/documentation/docs/Backend Development/images/firestore-backup-folder.png
  packages/documentation/docs/Backend Development/images/firestore-backup-permissions.png
  packages/documentation/sidebars.js
  packages/emulators-docker/src/common.ts
  shared/db.ts
Labels: Documentation, Backend

#1788 fix: update hosting-preview action
  .github/workflows/pr-preview.yml
Labels: Review allow-preview ✅

#1768 fix: mobile detailing
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1797 fix: fix research update edit button position
  src/pages/Research/Content/ResearchUpdate.tsx
Labels: Mod: Research 🔬

#1795 fix: adds is editable property to comments
  packages/components/src/CommentItem/CommentItem.tsx
  packages/cypress/src/fixtures/seed/howtos.json
  packages/cypress/src/fixtures/seed/research.json
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/notifications.spec.ts
  packages/cypress/src/integration/research/comments.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  src/components/CommentList/CommentList.tsx
  src/models/index.ts
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#1774 chore: migrate notifications to component
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/NotificationItem/NotificationItem.stories.tsx
  packages/components/src/NotificationItem/NotificationItem.tsx
  packages/components/src/NotificationList/NotificationList.stories.tsx
  packages/components/src/NotificationList/NotificationList.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/notifications.spec.ts
  src/components/Notifications/NotificationList.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
  src/stores/User/user.store.ts
Labels: Review allow-preview ✅

#1799 spike: refactor shared data
  functions/src/emulator/seed/users-create.ts
  packages/cypress/src/data/index.ts
  packages/cypress/src/fixtures/seed/events.json
  packages/cypress/src/fixtures/seed/howtos.json
  packages/cypress/src/fixtures/seed/index.ts
  packages/cypress/src/fixtures/seed/mappins.json
  packages/cypress/src/fixtures/seed/research.json
  packages/cypress/src/fixtures/seed/tags.json
  packages/cypress/src/fixtures/seed/users.json
  packages/cypress/src/integration/howto/seo.spec.ts
  packages/cypress/src/integration/profile.spec.ts
  packages/cypress/src/support/db/firebase.ts
  shared/index.ts
  shared/mocks/auth/index.ts
  shared/mocks/auth/users.ts
  shared/mocks/data/events.ts
  shared/mocks/data/howtos.ts
  shared/mocks/data/index.ts
  shared/mocks/data/mappins.ts
  shared/mocks/data/research.ts
  shared/mocks/data/tags.ts
  shared/mocks/data/users.ts
  shared/mocks/index.ts
  shared/models/db.ts
  shared/models/index.ts
  shared/models/user.ts
  shared/tsconfig.json
  src/models/user.models.tsx
Labels: Backend

#1798 fix: download counter not resetting to 0 on howto edit
  packages/cypress/src/integration/howto/write.spec.ts
  shared/mocks/data/howtos.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/Howto/howto.store.tsx
Labels: Mod: HowTo 📰

#1772 migrated CommentList component to packages
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/CommentList/CommentList.stories.tsx
  packages/components/src/CommentList/CommentList.tsx
  packages/components/src/index.ts
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#1814 fix: do not show map filters if there are no items
  src/pages/Maps/Content/Controls/transformAvailableFiltersToGroups.tsx
Labels: Mod: Maps 🗺

#1787 Feat/seo sitemap
  firebase.json
  functions/package.json
  functions/scripts/set-up-environment-variables.ts
  functions/src/config/config.ts
  functions/src/index.ts
  functions/src/seo/index.ts
  functions/src/seo/seo.test.ts
  functions/src/seo/sitemapGenerate.ts
  functions/src/seo/sitemapProxy.ts
  yarn.lock
Labels: Backend

#1811 docs: adds detail around support module configuration
  packages/documentation/docs/Install.md
Labels: Documentation
