Repository ONEARMY/community-platform, pull requests merged in 2022-03, with the labels that each got.

#1510 Feat/admin module core
  packages/documentation/docs/Frontend Development/modules.md
  packages/documentation/yarn.lock
  src/components/Auth/AuthWrapper.tsx
  src/components/ProfileModal/ProfileModal.tsx
  src/modules/admin/admin.routes.tsx
  src/modules/admin/admin.store.tsx
  src/modules/admin/components/admin-subheader.tsx
  src/modules/admin/index.tsx
  src/modules/admin/pages/admin-approvals.tsx
  src/modules/admin/pages/admin-howtos.tsx
  src/modules/admin/pages/admin-mappins.tsx
  src/modules/admin/pages/admin-research-detail.tsx
  src/modules/admin/pages/admin-research.tsx
  src/modules/admin/pages/admin-tags.tsx
  src/modules/admin/pages/admin-user-detail.tsx
  src/modules/admin/pages/admin-users.tsx
  src/modules/index.test.ts
  src/modules/index.ts
  src/pages/PageList.tsx
  src/pages/common/AuthRoute.tsx
Labels: Documentation

#1468 feat: add comments to research module
  src/components/Comment/Comment.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/Update.tsx
  src/stores/Research/research.store.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#1499 feat: Added verified icon to map-pin
  src/assets/icons/map-collection-verified.svg
  src/assets/icons/map-community-verified.svg
  src/assets/icons/map-machine-verified.svg
  src/assets/icons/map-member-verified.svg
  src/assets/icons/map-workspace-verified.svg
  src/mocks/maps.mock.tsx
  src/mocks/user_pp.mock.tsx
  src/models/maps.models.tsx
  src/models/user_pp.models.tsx
  src/pages/Maps/Content/View/Sprites.tsx
  src/pages/User/workspace/Workspace.tsx
  src/stores/Maps/maps.store.ts
Labels: Mod: Maps 🗺, Review allow-preview ✅

#1515 Feat: aggregations store
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Aggregations/aggregations.store.tsx
  src/stores/User/user.store.ts
  src/stores/common/module.store.ts
  src/stores/index.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1516 refactor: verified user badge
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentHeader.tsx
  src/components/EventCard/EventCard.tsx
  src/components/Research/ResearchListItem.tsx
  src/components/VerifiedUserBadge/VerifiedUserBadge.test.tsx
  src/components/VerifiedUserBadge/VerifiedUserBadge.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/research.routes.test.tsx
  src/stores/User/user.store.ts
  src/stores/databaseV2/DocReference.tsx
Labels: Mod: HowTo 📰, Mod: Events 🎉, Review allow-preview ✅, Mod: Research 🔬

#1526 feat: fixed comments render
  src/components/Comment/Comment.tsx
  src/components/Form/elements.ts
  src/components/Text/index.tsx
Labels: Review allow-preview ✅

#1556 fix: refactor comment component
  src/components/Comment/Comment.tsx
  src/components/CommentList/CommentList.tsx
  src/components/FormEditComment/FormEditComment.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#1517 fix: links to profile notifications
  packages/cypress/src/integration/notifications.spec.ts
  src/pages/Howto/Howto.tsx
  src/pages/User/User.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1576 chore(docs): relock dependencies
  packages/documentation/yarn.lock
Labels: Documentation

#1577 feat: add username to profiles
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
Labels: Review allow-preview ✅
