Repository ONEARMY/community-platform, pull requests merged in 2022-09, with the labels that each got.

#1914 chore: migrate to LinkifyText
  packages/components/src/LinkifyText/LinkifyText.stories.tsx
  packages/components/src/LinkifyText/LinkifyText.tsx
  packages/components/src/index.ts
  src/components/StyledLinkify/StyledLinkify.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#1919 chore: move AuthWrapper out to common
  package.json
  packages/components/package.json
  packages/components/src/CategoryTag/CategoryTag.stories.tsx
  packages/components/src/CategoryTag/CategoryTag.tsx
  packages/components/src/FileInformation/FileInformation.stories.tsx
  packages/components/src/FileInformation/FileInformation.tsx
  packages/components/src/UsefulStatsButton/UsefulStatsButton.stories.tsx
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
  packages/components/src/index.ts
  packages/components/src/stories.mdx
  src/common/AlertIncompleteProfile.tsx
  src/common/AuthWrapper.tsx
  src/common/ScrollToTop.tsx
  src/components/FileInfo/FileDetails.tsx
  src/components/FileInfo/FileInfo.tsx
  src/components/FileInput/FileInput.tsx
  src/components/ModerationStatusText/ModerationStatustext.tsx
  src/components/Tags/TagDisplay/TagDisplay.tsx
  src/components/Tooltip/index.tsx
  src/components/UsefulStatsButton/UsefulStatsButton.tsx
  src/pages/Events/Content/EventsListings/EventsListings.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/User/content/UserAdmin.tsx
  src/pages/admin/Admin.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
  src/pages/admin/content/AdminUsers.tsx
  src/pages/common/AuthRoute.tsx
  src/pages/common/FilterBar/FilterBar.tsx
  src/pages/common/FilterBar/Selector.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
  src/pages/common/Header/Menu/MenuMobile/MenuMobilePanel.tsx
  src/pages/common/Header/Menu/ProfileModal/ProfileModal.tsx
  src/pages/index.tsx
  src/stores/Events/events.store.tsx
  yarn.lock
Labels: Mod: HowTo 📰, Mod: Events 🎉, Mod: Research 🔬

#1884 feat(functions): updating user info in research post & comments
  functions/src/models.ts
  functions/src/userUpdates/index.ts
Labels: Backend

#1901 fix: edit comments
  packages/components/src/CommentItem/CommentItem.tsx
Labels: Review allow-preview ✅

#1905 Updates to Research Landing Page
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/cypress/src/integration/research/read.spec.ts
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#1900 fix: Docker image
  functions/package.json
  packages/emulators-docker/src/start.ts
  yarn.lock
Labels: Backend

#1927 feat: moves map components out to package
  packages/components/package.json
  packages/components/src/MapWithDraggablePin/MapWithDraggablePin.stories.tsx
  packages/components/src/MapWithDraggablePin/MapWithDraggablePin.tsx
  packages/components/src/OsmGeocoding/OsmGeocoding.stories.tsx
  packages/components/src/OsmGeocoding/OsmGeocoding.tsx
  packages/components/src/OsmGeocoding/OsmGeocodingLoader.tsx
  packages/components/src/OsmGeocoding/OsmGeocodingResultsList.tsx
  packages/components/src/index.ts
  src/components/Form/LocationSearch.field.tsx
  src/components/MapWithDraggablePin/MapWithDraggablePin.stories.mdx
  src/components/OsmGeocoding/OsmGeocodingLoader.tsx
  src/components/OsmGeocoding/OsmGeocodingResultsList.tsx
  src/pages/Maps/Content/Controls/Controls.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  yarn.lock
Labels: Mod: Maps 🗺

#1924 feat: updates design of 404 page
  packages/cypress/src/integration/common.spec.ts
  src/assets/images/404error.png
  src/pages/NotFound/NotFound.tsx
Labels: Review allow-preview ✅, Design Approved

#1931 fix: switch to sticky
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Settings/SettingsPage.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#1935 enable digital events 1706
  src/assets/icons/icon-laptop.png
  src/components/Form/Checkbox.tsx
  src/mocks/events.mock.tsx
  src/models/events.models.tsx
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Content/EventsCreate/Template.tsx
  src/pages/Events/EventCard/EventCard.tsx
Labels: Mod: Events 🎉

#1930 feat: introduce @mention to howto and research items
  packages/components/package.json
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/LinkifyText/LinkifyText.stories.tsx
  packages/components/src/LinkifyText/LinkifyText.tsx
  packages/components/types/ReactLinkify.d.ts
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/mentions/index.test.ts
  src/stores/common/mentions/index.ts
  yarn.lock
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1945 fix: correct text colour on download button
  packages/components/src/FileInformation/FileInformation.tsx
Labels: Review allow-preview ✅, Design Approved

#1946 fix: error message profile-image upload nowrap
  src/components/Form/ImageInput.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Labels: Review allow-preview ✅, 🤝 Awaiting author
