Repository ONEARMY/community-platform, pull requests merged in 2022-04, with the labels that each got.

#1582 docs: clarify setup steps and order for new Platform deployment
  packages/documentation/docs/Install.md
Labels: Documentation

#1579 chore: rename individual Research article component
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Research/research.routes.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#1585 feat: make research comments available to all users
  src/pages/Research/Content/ResearchUpdate.tsx
Labels: Mod: Research 🔬

#1586 fix: alignment of user badge
  src/pages/common/Header/Menu/Profile/Profile.tsx
Labels: Review allow-preview ✅

#1592 feat: add country flag to research username
  src/models/research.models.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/utils/getUserCountry.test.ts
  src/utils/getUserCountry.ts
Labels: Review allow-preview ✅, Mod: Research 🔬

#1593 feat: add cta to log in to research comments section for logged-out
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#1583 chore: prevent redirect of static assets
  firebase.json
  src/service-worker.ts
Labels: Review allow-preview ✅

#1604 chore: apply formatting
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/utils/getUserCountry.test.ts
  src/utils/getUserCountry.ts
Labels: Mod: Research 🔬

#1602 feat: add useful button to research module
  functions/src/aggregations/common.aggregations.ts
  functions/src/aggregations/user.aggregations.ts
  functions/src/models.ts
  functions/src/stats/index.ts
  functions/src/stats/migration.ts
  src/models/index.ts
  src/models/research.models.tsx
  src/models/user.models.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchUsefulStats.tsx
  src/stores/Aggregations/aggregations.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/User/user.store.ts
Labels: Backend, Mod: Research 🔬

#1607 Fix/aggregations refresh
  src/components/Auth/AuthWrapper.tsx
  src/components/UsefulStatsButton/UsefulStatsButton.tsx
  src/components/VerifiedUserBadge/VerifiedUserBadge.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoUsefulStats.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/ResearchUsefulStats.tsx
  src/pages/Research/index.tsx
  src/stores/Aggregations/aggregations.store.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/User/user.store.ts
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#1606 feat: notifications for comments on research
  package.json
  packages/cypress/src/fixtures/seed/index.ts
  packages/cypress/src/fixtures/seed/research.json
  packages/cypress/src/integration/notifications.spec.ts
  src/components/Links/index.tsx
  src/components/Notifications/NotificationItem.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Research/research.routes.tsx
  src/stores/User/user.store.ts
  yarn.lock
Labels: Mod: HowTo 📰, Mod: Research 🔬

#1615 feat: added notifications for useful in research
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/notificationBanner.spec.ts
  packages/cypress/src/integration/notifications.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commands.ts
  packages/cypress/src/support/custom-assertions.ts
  packages/cypress/tsconfig.json
  src/components/Comment/Comment.tsx
  src/components/Notifications/NotificationItem.tsx
  src/config/config.ts
  src/models/user.models.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/stores/User/user.store.ts
Labels: Review allow-preview ✅, Mod: Research 🔬

#1597 feat: init fixing fashion theme
  .circleci/config.yml
  packages/documentation/docs/Install.md
  scripts/post-cra-build.ts
  src/assets/images/themes/fixing-fashion/avatar.svg
  src/assets/images/themes/fixing-fashion/avatar_member.svg
  src/assets/images/themes/fixing-fashion/avatar_space.svg
  src/assets/images/themes/fixing-fashion/badge.svg
  src/assets/images/themes/fixing-fashion/badge_space.svg
  src/assets/images/themes/fixing-fashion/fixing-fashion-header.png
  src/assets/images/themes/fixing-fashion/public/favicon.ico
  src/assets/images/themes/fixing-fashion/public/social-image.jpg
  src/components/DevSiteHeader/DevSiteHeader.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Theme/theme.store.tsx
  src/themes/fixing-fashion/index.ts
  src/themes/fixing-fashion/styles.ts
  src/themes/index.ts
Labels: Documentation, Mod: HowTo 📰, Mod: Events 🎉, Review allow-preview ✅

#1501 feat: add support for dockerised emulators
  .github/workflows/docker-emulator-build.yml
  functions/package.json
  functions/scripts/emulator/seed.ts
  functions/scripts/start.ts
  functions/src/Firebase/firestoreDB.ts
  functions/src/dev/index.ts
  functions/src/emulator/index.ts
  functions/src/emulator/seed/data-clean.ts
  functions/src/emulator/seed/users-create.ts
  functions/src/index.ts
  functions/webpack.config.ts
  package.json
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/documentation/docs/Backend Development/firebase-emulators.md
  packages/documentation/docs/Backend Development/images/emulator-docker-remote-files.png
  packages/documentation/docs/Backend Development/images/emulators-docker-frontend.png
  packages/documentation/docs/Backend Development/images/emulators-docker-http-req.png
  packages/documentation/docs/Backend Development/images/emulators-docker-remote.png
  packages/documentation/docs/images/emulators-docker-cli.png
  packages/documentation/sidebars.js
  packages/emulators-docker/.gitignore
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/README.md
  packages/emulators-docker/config/bootstrap.sh
  packages/emulators-docker/package.json
  packages/emulators-docker/seed_data/pp-2022-04-26.tar.gz
  packages/emulators-docker/src/build.ts
  packages/emulators-docker/src/common.ts
  packages/emulators-docker/src/paths.ts
  packages/emulators-docker/src/prepare.ts
  packages/emulators-docker/src/start.ts
  packages/emulators-docker/tsconfig.json
  shared/index.ts
  shared/mocks/auth-users.ts
  shared/package.json
  src/config/config.ts
  src/models/user.models.tsx
  src/stores/databaseV2/index.tsx
  tsconfig.json
  yarn.lock
Labels: Documentation, Backend

#1623 feat: add component storybook to docs
  .github/workflows/docs-deploy.yml
  packages/documentation/.gitignore
  packages/documentation/package.json
  packages/documentation/sidebars.js
  yarn.lock
Labels: Documentation

#1625 chore: update yarn lock
  packages/documentation/yarn.lock
Labels: Documentation

#1632 chore: fix doc links
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/documentation/docs/Backend Development/firebase-emulators.md
Labels: Documentation

#1634 chore: update react-ga to v4
  package.json
  src/components/CommentList/CommentList.tsx
  src/components/GoogleAnalytics/index.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  yarn.lock
Labels: Mod: HowTo 📰, Mod: Research 🔬

#1636 fix: add functions build wait for docker emulator
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
  packages/emulators-docker/README.md
  packages/emulators-docker/src/start.ts
Labels: Documentation

#1628 feat: increase character limit comment
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentTextArea.tsx
  src/components/Comment/constants.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
Labels: Review allow-preview ✅

#1639 feat: support links in Comment content
  packages/components/.storybook/main.js
  packages/components/package.json
  packages/components/src/__mocks__/AuthWrapper.mock.tsx
  src/components/Comment/Comment.stories.mdx
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentHeader.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  yarn.lock
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#1640 feat: load badges from theme
  packages/components/src/MemberBadge/MemberBadge.stories.mdx
  packages/components/src/MemberBadge/MemberBadge.tsx
  packages/components/src/index.ts
  src/components/Badge/Badge.stories.mdx
  src/components/Badge/Badge.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
Labels: Review allow-preview ✅

#1637 chore: align colours and namespaces when using concurrently
  package.json
Labels: Code: Tidying
