Repository ONEARMY/community-platform, pull requests merged in 2022-02, with the labels that each got.

#1437 style: update grouping filter desktop overlow
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
Labels: Mod: Maps 🗺, Review allow-preview ✅

#1434 feat: increases max length for a Research introduction
  src/pages/Research/Content/Common/Research.form.tsx
Labels: Mod: Research 🔬

#1410 docs: add frontend module docs
  packages/documentation/docs/Frontend Development/modules.md
  packages/documentation/sidebars.js
Labels: Documentation

#1439 chore(deps): fix typescript configuration
  .circleci/config.yml
  functions/package.json
  functions/scripts/precompile.ts
  functions/src/models.ts
  functions/src/userUpdates/index.ts
  functions/tsconfig.json
  src/components/Button/index.tsx
  src/components/ImageInput/ImageInput.tsx
  src/components/Text/index.tsx
  src/config/config.ts
  src/models/events.models.tsx
  src/models/howto.models.tsx
  src/models/user.models.tsx
  src/stores/storage.tsx
  src/themes/precious-plastic/styles.ts
  src/themes/types.tsx
  src/utils/firebase.ts
  tsconfig.json
Labels: Backend

#1445 Chore/functions build tidying
  functions/package.json
  functions/src/models.ts
  functions/tsconfig.json
  yarn.lock
Labels: Backend

#1448 chore!: BREAKING CHANGE remove legacy mail function
  functions/src/Integrations/firebase-email.ts
  functions/src/Integrations/index.ts
Labels: Backend

#1252 test: introduce test infrastructure to functions
  .circleci/config.yml
  functions/.gitignore
  functions/jest.config.ts
  functions/package.json
  functions/scripts/set-up-environment-variables.ts
  functions/src/userUpdates/index.test.ts
  src/utils/firebase.ts
  yarn.lock
Labels: Backend

#1471 Feat/db aggregations alt 2
  functions/src/Utils/data.utils.test.ts
  functions/src/Utils/data.utils.ts
  functions/src/Utils/index.ts
  functions/src/aggregations/common.aggregations.ts
  functions/src/aggregations/index.ts
  functions/src/aggregations/user.aggregations.ts
  functions/src/index.ts
  shared/db.ts
  src/stores/databaseV2/clients/dexie.tsx
Labels: Backend

#1464 feat: adds notifications functionality for howto useful votes and comments
  packages/cypress/src/fixtures/seed/howtos.json
  packages/cypress/src/fixtures/seed/users.json
  packages/cypress/src/integration/notifications.spec.ts
  src/assets/icons/icon-comment.svg
  src/assets/icons/icon-notification.svg
  src/assets/icons/icon-useful.svg
  src/components/Icons/index.tsx
  src/components/Notifications/NotificationItem.tsx
  src/components/Notifications/NotificationList.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsMobile.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsModal.tsx
  src/stores/MobileMenu/mobilemenu.store.tsx
  src/stores/User/user.store.ts
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1481 chore(docs): format markdown
  CONTRIBUTING.md
  packages/documentation/docs/Install.md
Labels: Documentation

#1480 feat: verified icon in usernames (rebased)
  src/components/Comment/Comment.tsx
  src/components/Comment/CommentHeader.tsx
  src/components/EventCard/EventCard.tsx
  src/components/Research/ResearchListItem.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchItemDetail.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/research.routes.test.tsx
  src/stores/Maps/maps.store.ts
  src/stores/User/user.store.ts
Labels: Mod: HowTo 📰, Mod: Events 🎉, Review allow-preview ✅, Mod: Research 🔬

#1493 chore(deps): upgrade sharp@0.30.x
  functions/package.json
  yarn.lock
Labels: Backend

#1491 feat: add useful count to howto card
  functions/src/models.ts
  functions/src/stats/index.ts
  src/models/howto.models.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoUsefulStats.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/User/user.store.ts
Labels: Backend, Mod: HowTo 📰, Review allow-preview ✅

#1267 Seperate member & spaces profile in own components
  .circleci/config.yml
  packages/storybook/.storybook/preview.js
  src/assets/images/default_member.svg
  src/components/Badge/Badge.stories.mdx
  src/components/Badge/Badge.tsx
  src/components/Button/button.stories.mdx
  src/components/DiscordLink/DiscordLink.stories.mdx
  src/components/EventCard/event.card.stories.mdx
  src/components/Form/ImageInput.field.tsx
  src/components/Heading/heading.stories.mdx
  src/components/Icons/FlagIcon/FlagIcon.tsx
  src/components/Icons/icon.stories.mdx
  src/components/MapWithDraggablePin/MapWithDraggablePin.stories.mdx
  src/components/OsmGeocoding/OsmGeocoding.stories.mdx
  src/components/SiteFooter/SiteFooter.stories.mdx
  src/components/Text/text.stories.mdx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/User/User.tsx
  src/pages/User/content/MemberProfile.stories.mdx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/ProfileLink.tsx
  src/pages/User/content/SpaceProfile.stories.mdx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserContactAndLinks.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/pages/User/content/UserStats.tsx
  src/pages/User/content/index.tsx
Labels: Review allow-preview ✅

#1504 fix: ensure consistent column size for member profile
  src/pages/User/content/MemberProfile.tsx
Labels: Review allow-preview ✅
