Repository ONEARMY/community-platform, pull requests merged in 2022-01, with the labels that each got.

#1365 feat: member map pins
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/custom-assertions.ts
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/preview.js
  packages/storybook/package.json
  src/components/MapWithDraggablePin/MapWithDraggablePin.stories.mdx
  src/components/MapWithDraggablePin/MapWithDraggablePin.tsx
  src/components/OsmGeocoding/OsmGeocoding.stories.mdx
  src/components/OsmGeocoding/OsmGeocoding.tsx
  src/components/OsmGeocoding/OsmGeocodingLoader.tsx
  src/components/OsmGeocoding/OsmGeocodingResultsList.tsx
  src/components/SearchInput/index.tsx
  src/models/maps.models.tsx
  src/pages/Maps/Content/View/Cluster.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Maps/Content/View/index.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.groupings.ts
  src/stores/Maps/maps.store.test.ts
  src/stores/Maps/maps.store.ts
  src/stores/User/user.store.ts
  src/stores/common/__mocks__/module.store.ts
  src/stores/common/module.store.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
  src/themes/types.tsx
  yarn.lock
Labels: Mod: Maps 🗺, Review allow-preview ✅

#1373 feat: switch from node sass to sass
  package.json
  yarn.lock
Labels: Review allow-preview ✅

#1249 feat: adds global one army footer
  src/App.tsx
  src/components/DiscordLink/DiscordLink.stories.mdx
  src/components/DiscordLink/DiscordLink.tsx
  src/components/Icons/index.tsx
  src/components/Icons/svgs.tsx
  src/components/SiteFooter/SiteFooter.stories.mdx
  src/components/SiteFooter/SiteFooter.tsx
  src/pages/Maps/Maps.tsx
  src/pages/common/GlobalSiteFooter/GlobalSiteFooter.tsx
  src/pages/index.tsx
Labels: In progress, Mod: Maps 🗺, Review allow-preview ✅

#1379 feat: release comments to all users
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/sign-in.spec.ts
  packages/cypress/src/utils/test-utils.ts
  src/components/Comment/CommentTextArea.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#1384 feat: track interaction with comment events
  src/components/Comment/Comment.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
Labels: Mod: HowTo 📰

#1385 test: increase timeout due to slow ci resource
  src/pages/Research/research.routes.test.tsx
Labels: Mod: Research 🔬

#1389 fix: consistent vertical padding for section heading
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Research/Content/ResearchList.tsx
Labels: Mod: Events 🎉, Mod: Research 🔬

#1390 Small edits - Increase character limit research and change URL footer
  src/components/SiteFooter/SiteFooter.tsx
  src/pages/Research/Content/Common/Research.form.tsx
Labels: Mod: Research 🔬

#1361 feat: upgrade project to node16
  .circleci/config.yml
  .github/workflows/pr-preview.yml
  .github/workflows/reset-staging-site.yml
  .gitpod.yml
  .node-version
  functions/package.json
  package.json
  packages/documentation/docs/Getting Started/setup.md
  src/components/Notification/TextNotification.tsx
  yarn.lock
Labels: Documentation, Backend, Review allow-preview ✅

#1395 chore: remove empty function lint rule
  .eslintrc.json
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/stores/common/__mocks__/module.store.ts
Labels: Mod: HowTo 📰

#1392 feat: use OSM instead of Algolia Places
  package.json
  packages/cypress/src/integration/events.spec.ts
  src/components/EventCard/EventCard.tsx
  src/components/Form/LocationSearch.field.tsx
  src/components/LocationSearch/LocationSearch.tsx
  src/components/OsmGeocoding/OsmGeocoding.tsx
  src/components/OsmGeocoding/OsmGeocodingLoader.tsx
  src/components/OsmGeocoding/OsmGeocodingResultsList.tsx
  src/config/config.ts
  src/config/types.ts
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Maps/Content/Controls/index.tsx
  src/pages/Maps/Maps.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/stores/User/user.store.ts
  src/utils/getLocationData.ts
  src/utils/helpers.ts
  yarn.lock
Labels: Mod: Events 🎉, Mod: Maps 🗺

#1404 chore: BREAKING CHANGE remove dev api
  functions/src/dev/index.ts
  functions/src/index.ts
Labels: Backend

#1255 📚 docs: deploying a new instance
  packages/documentation/docs/Install.md
Labels: Documentation, Backend

#1423 Feat/multiselect deprecated component
  package.json
  src/pages/Maps/Content/Controls/GroupingFilter.css
  src/pages/Maps/Content/Controls/GroupingFilterDesktop.tsx
  src/pages/Maps/Content/Controls/index.tsx
  yarn.lock
Labels: Mod: Maps 🗺, Review allow-preview ✅

#1428 feat: change email functionality
  src/pages/Settings/content/formSections/AccountSettings.section.tsx
  src/pages/Settings/content/formSections/ChangeEmail.form.tsx
  src/stores/User/user.store.ts
Labels: Review allow-preview ✅

#1435 chore(ci): adds job to build functions
  .circleci/config.yml
  functions/package.json
  tsconfig.src-types.json
  yarn.lock
Labels: Backend
