Repository ONEARMY/community-platform, pull requests merged in 2023-05, with the labels that each got.

#2275 fix: add correct variant
  src/pages/Research/Content/ResearchUpdate.tsx
Labels: Mod: Research 🔬

#2284 chore: remove mention of dropped algolia
  packages/documentation/docs/Deployment/circle-ci.md
  src/models/common.models.tsx
Labels: Documentation

#2273 feat(email-notifs): remove email setting from beta
  functions/src/aggregations/userNotifications.aggregations.ts
  shared/models/index.ts
  shared/models/notifications.ts
  src/models/user.models.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/Template.tsx
  src/pages/Settings/content/formSections/EmailNotifications.section.tsx
Labels: Backend

#2280 Fix: howto displays error when two different file types are added
  package.json
  packages/cypress/src/fixtures/files/Example.pdf
  packages/cypress/src/integration/howto/write.spec.ts
  src/common/Form/FileInput/FileInput.tsx
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/setupTests.ts
  src/test/factories/Howto.ts
  yarn.lock
Labels: Mod: HowTo 📰

#2318 feat(email-notifs): add weekly and monthly scheduled functions
  functions/src/emailNotifications/createEmail.spec.ts
  functions/src/emailNotifications/createEmail.ts
  functions/src/emailNotifications/index.ts
Labels: Backend

#2314 fix: form values for files reset after reupload click
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
Labels: Backend, Mod: HowTo 📰

#2279 feat: add research url redirect for title changes
  functions/src/models.ts
  packages/cypress/src/integration/howto/write.spec.ts
  packages/cypress/src/integration/research/comments.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  packages/cypress/src/support/CustomAssertations.ts
  shared/mocks/auth/users.ts
  shared/mocks/data/howtos.ts
  shared/mocks/data/users.ts
  shared/models/db.ts
  shared/models/user.ts
  src/models/research.models.tsx
  src/pages/Research/Content/CreateUpdate/index.tsx
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/research.routes.test.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/test/factories/ResearchItem.ts
Labels: Backend, Mod: Research 🔬

#2207 feat: adds option to delete ResearchUpdate
  packages/components/src/Button/Button.stories.tsx
  packages/themes/src/common/button.ts
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#2323 docs: add a maintainers section to the developer documentation
  packages/documentation/docs/Maintainers/Onboarding.md
  packages/documentation/docs/Maintainers/Overview.md
  packages/documentation/sidebars.js
Labels: Documentation

#2281 fix: add countryflag to research collaborators
  packages/components/src/Username/Username.tsx
  src/common/hooks/contributorsData.ts
  src/common/hooks/userUsefulCount.ts
  src/models/common.models.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchUpdate.test.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/test/factories/User.ts
Labels: Mod: Research 🔬

#2331 feat: release research follow / subscribe feature
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Labels: Mod: Research 🔬

#2338 feat(emails): pk template
  functions/src/emailNotifications/pk-template.handlebars
Labels: Backend

#2333 chore: switch backup to run daily
  functions/src/index.ts
  functions/src/scheduled/tasks.ts
Labels: Backend

#2342 refactor: add getWrapper function to test files
  src/pages/Research/Content/ResearchUpdate.test.tsx
  src/pages/Settings/UserSettings.test.tsx
Labels: Mod: Research 🔬

#2340 refactor: add theme util file for testing
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchUpdate.test.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/Settings/UserSettings.test.tsx
  src/test/utils/themeUtils.ts
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2349 feat: show follow button for non-logged in users
  src/pages/Research/Content/ResearchDescription.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#2355 chore: refactor to remove invalid html attribute
  packages/components/src/Button/Button.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
Labels: Mod: Research 🔬

#2359 feat: added a follow research button to research article call to action
  packages/components/src/FollowResearchButton/FollowResearchButton.tsx
  packages/components/src/FollowResearchButton/index.ts
  packages/components/src/index.ts
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Labels: Mod: Research 🔬

#2353 docs(emails): wrote docs on emails
  .cspell.json
  functions/src/emailNotifications/README.md
  functions/src/emailNotifications/createEmail.spec.ts
  functions/src/emailNotifications/createEmail.ts
  functions/src/emailNotifications/index.ts
  src/modules/admin/pages/adminNotifications.tsx
Labels: Backend

#2362 refactor: change how-to reject icon + add tooltip
  packages/components/src/Tooltip/Tooltip.stories.tsx
  packages/components/src/Tooltip/Tooltip.tsx
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
  packages/components/src/index.ts
  src/modules/admin/components/AdminSubheader.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Labels: Mod: HowTo 📰

#2352 refactor: add & implement follow button component
  packages/components/src/Button/Button.tsx
  packages/components/src/FollowButton/FollowButton.stories.tsx
  packages/components/src/FollowButton/FollowButton.tsx
  packages/components/src/FollowResearchButton/FollowResearchButton.tsx
  packages/components/src/FollowResearchButton/index.ts
  packages/components/src/index.ts
  packages/cypress/src/integration/research/follow.spec.ts
  packages/themes/src/common/button.ts
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Research/research.store.tsx
  src/test/factories/ResearchItem.ts
Labels: Review allow-preview ✅, Mod: Research 🔬

#2372 chore: refactor to remove use of theme
  src/pages/Research/Content/ResearchList.tsx
Labels: Mod: Research 🔬

#2387 fix: interaction between @mention and follow
  src/pages/Research/Content/Common/SubmitStatus.tsx
  src/stores/Research/research.store.tsx
Labels: Mod: Research 🔬

#2389 Feat: admin can delete and edit comments
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬
