Repository ONEARMY/community-platform, pull requests merged in 2023-01, with the labels that each got.

#2055 fix: override blue border of subtle button variant
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
Labels: Review allow-preview ✅

#2059 fix: switch to secondary variant
  src/pages/Maps/Content/Controls/Controls.tsx
Labels: Mod: Maps 🗺, Review allow-preview ✅

#2033 chore: make node version more explicit
  .cspell.json
  .nvmrc
  package.json
  packages/documentation/docs/Getting Started/setup.md
  scripts/healthcheck.js
Labels: Documentation

#2064 Feat/how to redirect url when name changes
  src/mocks/howto.mock.tsx
  src/models/howto.models.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/test/factories/Howto.ts
Labels: Bounty Level 1

#2067 spike: update node 16 to node 18
  .circleci/config.yml
  .env-cmdrc.js
  .github/workflows/pr-preview.yml
  .github/workflows/reset-staging-site.yml
  .gitignore
  .gitpod.yml
  .node-version
  .nvmrc
  CONTRIBUTING.md
  config/.gitignore
  craco.config.ts
  functions/package.json
  functions/webpack.config.ts
  package.json
  packages/components/.storybook/main.js
  packages/components/package.json
  packages/cypress/cypress.config.ts
  packages/cypress/cypress.json
  packages/cypress/package.json
  packages/cypress/scripts/start.ts
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/sign-in.spec.ts
  packages/cypress/src/support/db/endpoints.ts
  packages/documentation/docs/Getting Started/setup.md
  packages/emulators-docker/Dockerfile
  packages/emulators-docker/README.md
  scripts/envCheck.js
  scripts/healthcheck.js
  shared/models/db.ts
  src/assets/css/slick.min.css
  src/assets/icons/map-collection-verified.svg
  src/assets/icons/map-community-verified.svg
  src/assets/icons/map-machine-verified.svg
  src/assets/icons/map-workspace-verified.svg
  src/logger/index.ts
  src/stores/databaseV2/endpoints.ts
  yarn.lock
Labels: Documentation, Backend

#2071 fix: adds accessible labels to moderation buttons
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Labels: Mod: HowTo 📰

#2056 feat: adds article call to action #2053
  packages/components/src/ArticleCallToAction/ArticleCallToAction.stories.tsx
  packages/components/src/ArticleCallToAction/ArticleCallToAction.tsx
  packages/components/src/CreateComment/CreateComment.tsx
  packages/components/src/Text/Text.stories.tsx
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
  packages/components/src/Username/Username.tsx
  packages/components/src/index.ts
  packages/components/src/types/common.ts
  src/common/isUserVerified.ts
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/themes/fixing-fashion/styles.ts
  src/themes/precious-plastic/styles.ts
  src/themes/project-kamp/styles.ts
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬, Bounty Level 2
