Repository ONEARMY/community-platform, pull requests merged in 2023-03, with the labels that each got.

#2138 fix: correct action for removing useful mark
  src/pages/Research/Content/ResearchArticle.tsx
Labels: Mod: Research 🔬

#2141 docs: update discord link
  README.md
  packages/documentation/docs/Contributing/bounties.md
  packages/documentation/docs/Contributing/start-contributing.md
  packages/documentation/docs/Design/our-design-system.md
  packages/documentation/docusaurus.config.gh-pages.js
  packages/documentation/docusaurus.config.js
  src/constants.ts
  src/pages/Settings/content/PostingGuidelines.tsx
Labels: Documentation

#2093 fix: settings with unsavedchanges dialog
  packages/cypress/src/integration/settings.spec.ts
  src/common/Form/UnsavedChangesDialog.tsx
  src/pages/Settings/SettingsPage.tsx
Labels: Review allow-preview ✅

#2094 fix: margin on user and space profiles
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserContactAndLinks.tsx
Labels: Review allow-preview ✅

#2135 fix: add default one army flag if user has not declared a country
  .circleci/config.yml
  package.json
  packages/components/assets/icons/flag-unknown.svg
  packages/components/package.json
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/Username/Username.stories.tsx
  packages/components/src/Username/Username.test.tsx
  packages/components/src/Username/Username.tsx
  packages/components/src/tests/setup.ts
  packages/components/src/tests/utils.tsx
  packages/components/vite.config.ts
  yarn.lock
Labels: Review allow-preview ✅

#2146 fix: move initialization boolean inside component
  packages/components/src/ViewsCounter/ViewsCounter.tsx
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  shared/mocks/data/research.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2128 fix: handle removing first item from Contact and links
  .eslintrc.json
  packages/components/.eslintrc.json
  packages/cypress/src/integration/settings.spec.ts
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/Fields/ProfileLink.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬, Design Approved

#2007 feat: supports contributors on research item #2006
  packages/components/src/ArticleCallToAction/ArticleCallToAction.tsx
  src/models/research.models.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/test/factories/ResearchItem.ts
Labels: Review allow-preview ✅, Mod: Research 🔬

#2148 chore: remove usage of console.log in primary SPA
  src/.eslintrc.json
  src/common/Error/handler.ts
  src/logger/index.ts
  src/modules/admin/pages/adminUsers.tsx
  src/pages/Maps/Maps.tsx
  src/pages/common/UploadedFile/FirebaseFileUploader.tsx
  src/serviceWorkerRegistration.ts
  src/stores/Admin/admin.store.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/Theme/theme.store.tsx
  src/stores/User/user.store.ts
  src/stores/databaseV2/CollectionReference.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/utils/firebase.ts
Labels: Mod: Maps 🗺

#2149 chore: enforce arrow style functions
  .eslintrc.json
  package.json
  src/.eslintrc.json
  src/common/Error/handlers/Reloader.tsx
  src/common/Form/Select.field.tsx
  src/common/Form/UnsavedChangesDialog.tsx
  src/common/isUserVerified.ts
  src/config/config.ts
  src/modules/admin/components/Table/HeadFilter.tsx
  src/modules/admin/components/Table/Table.tsx
  src/modules/admin/components/Table/TableHead.tsx
  src/modules/admin/components/adminUserSearch.tsx
  src/modules/admin/index.tsx
  src/modules/index.ts
  src/modules/profile/SupportedProfileTypesFactory.ts
  src/modules/profile/index.ts
  src/pages/Academy/Academy.tsx
  src/pages/Howto/Content/Common/Howto.form.test.skip.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Maps/Content/Controls/transformAvailableFiltersToGroups.tsx
  src/pages/Maps/Content/Controls/transformSpecialistWorkspaceTypeToWorkspace.tsx
  src/pages/Maps/Content/View/Sprites.tsx
  src/pages/PageList.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/index.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/Settings/UserBadgeSettings.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/workspace/Workspace.tsx
  src/pages/common/DevSiteHeader/DevSiteHeader.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
  src/pages/common/Header/getFormattedNotifications.tsx
  src/serviceWorkerRegistration.ts
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/filter.ts
  src/stores/Maps/generatePins.tsx
  src/stores/Research/research.store.tsx
  src/stores/User/user.store.ts
  src/stores/common/mentions/index.ts
  src/stores/storage.tsx
  src/themes/common/button.ts
  src/utils/formatters.ts
  src/utils/getLocationData.ts
  src/utils/getUserCountry.ts
  src/utils/helpers.ts
  src/utils/seo.tsx
  yarn.lock
Labels: Mod: HowTo 📰, Mod: Maps 🗺, Mod: Research 🔬

#2126 chore: refactor analytics
  packages/components/src/CommentList/CommentList.tsx
  src/common/Analytics/GoogleAnalytics.tsx
  src/common/Analytics/index.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/index.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2158 chore: refactor to remove use of prototype built ins
  packages/components/src/Button/Button.tsx
  packages/components/src/CreateComment/CreateComment.tsx
  packages/emulators-docker/src/common.ts
  shared/messages.ts
  src/common/Form/ImageInput/ImageInput.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/User/content/UserContactAndLinks.tsx
  src/stores/Aggregations/aggregations.store.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/common/module.store.ts
  src/utils/helpers.ts
Labels: Mod: HowTo 📰

#2160 chore: refactor adding inline defintion for globals
  packages/cypress/src/plugins/CyTsPreprocessor.js
  packages/cypress/src/plugins/index.js
  packages/cypress/src/webpack.config.js
  packages/documentation/babel.config.js
  packages/documentation/docusaurus.config.gh-pages.js
  packages/documentation/docusaurus.config.js
  packages/documentation/sidebars.js
  scripts/build.js
  scripts/envCheck.js
  scripts/start.js
  scripts/test.js
Labels: Documentation

#2170 fix: add border between image and content
  src/pages/User/content/SpaceProfile.tsx
Labels: Review allow-preview ✅

#2168 feat: show label for certain social media networks
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/ProfileLink/ProfileLink.stories.tsx
  packages/components/src/ProfileLink/ProfileLink.test.tsx
  packages/components/src/ProfileLink/ProfileLink.tsx
  packages/components/src/index.ts
  src/pages/User/content/ProfileLink.tsx
  src/pages/User/content/UserContactAndLinks.tsx
Labels: Review allow-preview ✅

#2175 chore: switch to using icon within button component
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2179 fix (#2017): AdminTag label loosing focus on every input change
  src/pages/admin/content/AdminTags.tsx
Labels: Review allow-preview ✅

#2178 feat: add consistent alert modal #2154
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/ConfirmModal/ConfirmModal.stories.tsx
  packages/components/src/ConfirmModal/ConfirmModal.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/howto/comments.spec.ts
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/comments.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Settings/content/formSections/Fields/ProfileLink.field.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬
