Repository ONEARMY/community-platform, pull requests merged in 2023-08, with the labels that each got.

#2703 fix: howto unsaved changes warning after submit
  src/pages/Howto/Content/Common/Howto.form.tsx
Labels: Mod: HowTo 📰

#2695 fix: remove word repetitions on forms HowTo, HowToStep and Research
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Research/Content/Common/Research.form.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2673 refactor: remove unused styled component
  src/pages/Howto/VirtualizedFlex/VirtualizedFlex.tsx
  src/utils/helpers.ts
Labels: Mod: HowTo 📰

#2669 chore: upgrade cypress@12.17.2
  .circleci/config.yml
  packages/cypress/package.json
  yarn.lock
Labels: Backend

#2704 fix: Show uploaded images on how to edit screen
  src/common/Form/ImageInput/ImageInput.tsx
Labels: Review allow-preview ✅

#2698 refactor: optimise howto tests
  package.json
  packages/cypress/src/integration/howto/write.spec.ts
  src/common/Form/ImageInput.field.tsx
  src/common/Form/ImageInput/ImageInput.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Common/howtostep.form.test.tsx
  yarn.lock
Labels: Mod: HowTo 📰

#2715 feat: Research updates upload and download of files
  src/common/Form/FileInput.field.tsx
  src/common/Form/FileInput/FileInput.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.test.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/constants.ts
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/test/factories/ResearchItem.ts
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#2724 Fix #2315 - Possible to reuse previous slugs causing old links to break
  packages/cypress/src/integration/howto/write.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  shared/mocks/data/howtos.ts
  shared/mocks/data/research.ts
  src/pages/Research/Content/Common/ResearchUpdate.form.test.tsx
  src/stores/common/module.store.ts
  src/utils/validators.ts
Labels: Mod: Research 🔬

#2707 refactor: add abstractions for howto forms
  src/models/howto.models.tsx
  src/pages/Howto/Content/Common/FormFieldWrapper.test.tsx
  src/pages/Howto/Content/Common/FormFieldWrapper.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoButtonDraft.tsx
  src/pages/Howto/Content/Common/HowtoButtonPublish.tsx
  src/pages/Howto/Content/Common/HowtoFieldCategory.tsx
  src/pages/Howto/Content/Common/HowtoFieldCoverImage.tsx
  src/pages/Howto/Content/Common/HowtoFieldDescription.test.tsx
  src/pages/Howto/Content/Common/HowtoFieldDescription.tsx
  src/pages/Howto/Content/Common/HowtoFieldDifficulty.tsx
  src/pages/Howto/Content/Common/HowtoFieldFileLink.tsx
  src/pages/Howto/Content/Common/HowtoFieldFileUpload.tsx
  src/pages/Howto/Content/Common/HowtoFieldFiles.test.tsx
  src/pages/Howto/Content/Common/HowtoFieldFiles.tsx
  src/pages/Howto/Content/Common/HowtoFieldStep.tsx
  src/pages/Howto/Content/Common/HowtoFieldStepsContainer.test.tsx
  src/pages/Howto/Content/Common/HowtoFieldStepsContainer.tsx
  src/pages/Howto/Content/Common/HowtoFieldTags.tsx
  src/pages/Howto/Content/Common/HowtoFieldTime.tsx
  src/pages/Howto/Content/Common/HowtoFieldTitle.test.tsx
  src/pages/Howto/Content/Common/HowtoFieldTitle.tsx
  src/pages/Howto/Content/Common/SubmitStatus.tsx
  src/pages/Howto/Content/Common/howtofieldstep.test.tsx
  src/pages/Howto/Content/Common/howtostep.form.test.tsx
  src/pages/Howto/Content/Common/index.ts
  src/pages/Howto/constants.ts
  src/pages/Howto/labels.ts
  src/test/components/HowtoProvider.tsx
  src/test/components/index.ts
Labels: Mod: HowTo 📰, Review allow-preview ✅
