Repository ONEARMY/community-platform, pull requests merged in 2023-10, with the labels that each got.

#2856 fix: copy templates directory to built bundle
  functions/src/emailNotifications/development/entry-server.mjs
  functions/src/emailNotifications/development/server.mjs
  functions/src/emailNotifications/templates/index.ts
  functions/webpack.config.ts
Labels: Backend

#2831 chore: remove usage of workbox
  src/pages/Maps/Content/View/Sprites.tsx
  src/pages/Password/ForgotPassword.tsx
Labels: Mod: Maps 🗺

#2841 chore(deps): upgrade eslint and related plugins
  package.json
  packages/components/package.json
  src/pages/Howto/Content/Howto/Howto.tsx
  yarn.lock
Labels: Mod: HowTo 📰

#2877 fix(emails): typo and how to moderation comments
  functions/src/emailNotifications/createModerationEmails.spec.ts
  functions/src/emailNotifications/development/entry-server.mjs
  functions/src/emailNotifications/templates/how-to-needs-improvements.html
  functions/src/emailNotifications/templates/map-pin-needs-improvements.html
  src/stores/Howto/howto.store.tsx
Labels: Backend

#2832 fix(deps): switch to using native lazy loading image
  package.json
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  yarn.lock
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2878 refactor(emails): move moderation emails to templates
  functions/src/emailNotifications/__snapshots__/createModerationEmails.spec.ts.snap
  functions/src/emailNotifications/__snapshots__/createSubmissionEmails.spec.ts.snap
  functions/src/emailNotifications/createModerationEmails.spec.ts
  functions/src/emailNotifications/createSubmissionEmails.spec.ts
  functions/src/emailNotifications/development/entry-server.mjs
  functions/src/emailNotifications/templates.ts
  functions/src/emailNotifications/templates/how-to-approval.html
  functions/src/emailNotifications/templates/how-to-submission.html
  functions/src/emailNotifications/templates/index.ts
  functions/src/emailNotifications/templates/map-pin-approval.html
  functions/src/emailNotifications/templates/map-pin-submission.html
Labels: Backend

#2880 fix: introduce tests to Map
  src/pages/Maps/Content/MapView/Cluster.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/Content/MapView/Popup.tsx
  src/pages/Maps/Content/MapView/Sprites.tsx
  src/pages/Maps/Content/MapView/index.css
  src/pages/Maps/Content/MapView/popup.css
  src/pages/Maps/Content/MapView/sprites.css
  src/pages/Maps/Content/index.ts
  src/pages/Maps/Maps.test.tsx
  src/pages/Maps/Maps.tsx
  src/pages/Maps/utils/geolocation.ts
Labels: Mod: Maps 🗺

#2843 feat: upgrade project to run node v20
  .circleci/config.yml
  .gitpod.yml
  .node-version
  .nvmrc
  CONTRIBUTING.md
  functions/package.json
  package.json
  packages/documentation/docs/Getting Started/setup.md
  scripts/envCheck.js
  yarn.lock
Labels: Documentation, Backend

#2885 fix(functions): upgrade firebase-tools@12.1.0
  functions/package.json
  yarn.lock
Labels: Backend

#2887 fix(functions): upgrade firebase-tools@12.4.5
  functions/package.json
  yarn.lock
Labels: Backend

#2890 fix: research thumbnail size
  src/pages/Research/Content/ResearchListItem.tsx
Labels: Mod: Research 🔬

#2838 fix: refactor to prefer stateless function
  .eslintrc.json
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/PageList.tsx
  src/pages/Password/ForgotPasswordMessage.tsx
  src/pages/SignUp/SignUpMessage.tsx
  src/pages/UserSettings/content/formSections/Collection.section.tsx
  src/pages/UserSettings/content/formSections/Expertise.section.tsx
  src/pages/UserSettings/content/formSections/Workspace.section.tsx
  src/pages/common/Header/Menu/MenuDesktop.tsx
  src/pages/common/Header/Menu/Profile/ProfileButtons.tsx
  src/pages/index.tsx
  src/pages/policy/PrivacyPolicy.tsx
  src/pages/policy/TermsPolicy.tsx
  src/pages/policy/privacy.tsx
  src/pages/policy/terms.tsx
Labels: Backend, Mod: HowTo 📰

#2898 clarify the monthly call is only for maintainers
  .github/pull_request_template.md
  BOUNTIES.md
  packages/documentation/docs/Contributing/start-contributing.md
Labels: Documentation

#2891 feat(dep): upgrade firebase-tools@12.6.2
  functions/package.json
  packages/security-rules/package.json
  yarn.lock
Labels: Backend

#2819 feat(platform): add loader to research page
  src/pages/Research/Content/ResearchList.tsx
  src/stores/Research/research.store.tsx
Labels: Mod: Research 🔬, 🤝 Awaiting author

#2799 feat: added support for filtering by author
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
  src/stores/common/FilterSorterDecorator/FitlerSorterDecorator.test.ts
  src/utils/helpers.ts
Labels: Mod: HowTo 📰, Review allow-preview ✅, 🤝 Awaiting author

#2873 fix(maps): delete workspaceType if not a workspace
  src/stores/User/user.store.test.tsx
  src/stores/User/user.store.ts
Labels: 🤝 Awaiting author

#2907 docs: add build command
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
Labels: Documentation

#2911 feat: adds content statistics to howto and research articles
  packages/components/src/ContentStatistics/ContentStatistics.stories.tsx
  packages/components/src/ContentStatistics/ContentStatistics.test.tsx
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/ViewsCounter/ViewsCounter.stories.tsx
  packages/components/src/ViewsCounter/ViewsCounter.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/utils/helpers.ts
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#2916 fix: remove bullet from map pin needs improvement email
  functions/src/emailNotifications/development/entry-server.mjs
  functions/src/emailNotifications/templates.ts
  functions/src/emailNotifications/templates/map-pin-approval.html
  functions/src/emailNotifications/templates/map-pin-needs-improvements.html
Labels: Backend

#2265 feat: adopt tslog
  functions/src/logging/logging.ts
  package.json
  src/config/constants.ts
  src/logger/index.test.ts
  src/logger/index.ts
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/stores/Theme/theme.store.tsx
  yarn.lock
Labels: Backend, Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#2833 chore(deps): remove styled-system
  package.json
  packages/components/package.json
  packages/documentation/docs/Frontend Development/overview.md
  src/pages/PageList.tsx
  src/pages/common/Header/Menu/Profile/ProfileButtonItem.tsx
  src/pages/common/Layout/Main.tsx
  yarn.lock
Labels: Documentation

#2895 docs: update onboarding steps for maintainer
  packages/documentation/docs/Maintainers/Onboarding.md
Labels: Documentation

#2902 chore: add coverage reports to functions
  .circleci/config.yml
  functions/package.json
Labels: Backend

#2882 chore: eslint strict
  .eslintrc.json
  packages/components/src/EditComment/EditComment.tsx
  packages/components/src/MapWithDraggablePin/MapWithDraggablePin.tsx
  src/common/hooks/userStats.ts
  src/pages/Howto/Content/Common/Howto.form.test.skip.tsx
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Maps/Content/MapView/Cluster.tsx
  src/pages/Maps/Maps.test.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Unsubscribe/Unsubscribe.tsx
  src/pages/UserSettings/UserSettings.test.tsx
  src/stores/common/__mocks__/module.store.ts
  src/test/components/HowtoProvider.tsx
  src/test/components/ResearchProvider.tsx
  src/test/components/SettingsProvider.tsx
  src/utils/validators.ts
  types/photoswipe.d.ts
Labels: Mod: HowTo 📰, Mod: Maps 🗺, Mod: Research 🔬

#2923 fix(deps): upgrade firebase-tools to 12.7.0
  functions/package.json
  packages/security-rules/package.json
  yarn.lock
Labels: Backend

#2931 fix: only show member contributions for beta users
  src/pages/User/content/MemberProfile.tsx
Labels: Review allow-preview ✅

#2940 fix: use moderatorFeedback in emails
  functions/src/emailNotifications/createModerationEmails.spec.ts
  functions/src/emailNotifications/development/entry-server.mjs
  functions/src/emailNotifications/templates/how-to-needs-improvements.html
  functions/src/emailNotifications/templates/map-pin-needs-improvements.html
Labels: Backend

#2938 fix: remove moderation from how to
  src/models/common.models.tsx
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/stores/Howto/howto.store.tsx
Labels: Mod: HowTo 📰

#2944 fix: prevent image inputs overflowing single line
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/Content/CreateUpdate/CreateUpdate.tsx
  src/pages/Research/research.routes.tsx
Labels: Mod: Research 🔬

#2942 feat: adds question create form
  src/pages/Question/QuestionCreate.tsx
  src/pages/Question/QuestionEdit.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Question/constants.ts
  src/pages/Question/index.tsx
  src/pages/Question/question.routes.test.tsx
  src/pages/Question/question.routes.tsx
  src/pages/index.tsx
  src/stores/Question/question.store.test.tsx
  src/stores/Question/question.store.tsx
  src/stores/databaseV2/CollectionReference.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/types/index.d.ts
  src/test/factories/Question.ts
Labels: Review allow-preview ✅

#2954 fix(transactional-emails): implement feedback
  functions/src/emailNotifications/createModerationEmails.spec.ts
  functions/src/emailNotifications/createSubmissionEmails.spec.ts
  functions/src/emailNotifications/templates/how-to-needs-improvements.html
  functions/src/emailNotifications/templates/how-to-rejected.html
  functions/src/emailNotifications/templates/how-to-submission.html
  functions/src/emailNotifications/templates/map-pin-needs-improvements.html
Labels: Backend

#2955 chore(transactional-emails): remove beta
  functions/src/emailNotifications/createModerationEmails.spec.ts
  functions/src/emailNotifications/createModerationEmails.ts
  functions/src/emailNotifications/createSubmissionEmails.spec.ts
  functions/src/emailNotifications/createSubmissionEmails.ts
Labels: Backend

#2973 chore: use consistent ThemeProvider
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Question/question.routes.test.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchUpdate.test.tsx
  src/pages/Research/research.routes.test.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2956 feat: questions edit flow
  src/pages/Question/QuestionEdit.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Question/question.routes.test.tsx
Labels: Review allow-preview ✅

#2977 feat: added different character limits for member and group profiles
  src/pages/UserSettings/constants.ts
  src/pages/UserSettings/content/formSections/UserInfos.section.tsx
Labels: Review allow-preview ✅
