Repository ONEARMY/community-platform, pull requests merged in 2023-07, with the labels that each got.

#2504 feat: add how to publish date
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#2501 feat: drop Events module from the platform
  .github/labels.yml
  .github/pr-labeler.config.yml
  README.md
  functions/README.md
  functions/src/Integrations/firebase-discord.ts
  functions/src/Integrations/firebase-slack.ts
  functions/src/Integrations/index.ts
  functions/src/database/updates.ts
  functions/src/emulator/seed/data-clean.ts
  functions/src/models.ts
  functions/src/seo/sitemap/sitemap.test.ts
  functions/src/seo/sitemap/sitemapGenerate.ts
  packages/components/assets/icons/icon-events.svg
  packages/components/src/UserStatistics/UserStatistics.stories.tsx
  packages/components/src/UserStatistics/UserStatistics.test.tsx
  packages/components/src/UserStatistics/UserStatistics.tsx
  packages/cypress/src/data/index.ts
  packages/cypress/src/integration/common.spec.ts
  packages/cypress/src/integration/events.spec.ts
  packages/cypress/src/integration/howto/search.spec.ts
  packages/cypress/src/utils/TestUtils.ts
  shared/mocks/data/events.ts
  shared/mocks/data/index.ts
  shared/models/db.ts
  src/assets/icons/icon-events.svg
  src/models/events.models.tsx
  src/models/index.ts
  src/models/user.models.tsx
  src/modules/index.test.ts
  src/modules/index.ts
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Events/Content/EventsCreate/PostingGuidelines.tsx
  src/pages/Events/Content/EventsCreate/Template.tsx
  src/pages/Events/Content/EventsListings/EventsListings.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Events/Events.tsx
  src/pages/PageList.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/index.tsx
  src/pages/common/Breadcrumb/Breadcrumb.tsx
  src/stores/Events/events.store.tsx
  src/stores/User/user.store.ts
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/index.tsx
Labels: Backend, Mod: Events 🎉, Review allow-preview ✅

#2478 chore: remove deprecated useful items
  functions/src/aggregations/index.ts
  functions/src/aggregations/migrations.ts
  functions/src/emulator/seed/users-create.ts
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/stores/Aggregations/aggregations.store.tsx
  src/stores/User/user.store.ts
Labels: Backend, Mod: HowTo 📰, Mod: Research 🔬

#2526 feat: align research filter section with how-to
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/Content/HowtoList/SortSelect.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
  src/stores/common/FilterSorterDecorator/FitlerSorterDecorator.test.ts
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#2520 fix: make howto guidelines and publish buttons sticky on desktop
  src/pages/Howto/Content/Common/Howto.form.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#2523 feat: only show useful if how-to / research accepted
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2553 feat: allow research update portrait images
  packages/components/src/ImageGallery/ImageGallery.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#2507 refactor(emails): dynamically generate email html
  functions/src/emailNotifications/README.md
  functions/src/emailNotifications/__snapshots__/createNotificationEmails.spec.ts.snap
  functions/src/emailNotifications/consts.ts
  functions/src/emailNotifications/createEmail.ts
  functions/src/emailNotifications/createNotificationEmails.spec.ts
  functions/src/emailNotifications/createNotificationEmails.ts
  functions/src/emailNotifications/getNotificationEmailTemplate.ts
  functions/src/emailNotifications/index.ts
  functions/src/emailNotifications/pk-template.handlebars
  functions/src/emailNotifications/pp-template.handlebars
  functions/src/emailNotifications/utils.ts
  functions/src/emulator/seed/content-generate.ts
  functions/src/models.ts
  src/models/user.models.tsx
  src/stores/User/notifications.store.ts
Labels: Backend

#2466 Feature/merge to v2 drop legacy
  src/modules/admin/admin.routes.tsx
  src/modules/admin/pages/__tests__/adminAdminUsers.test.tsx
  src/modules/admin/pages/__tests__/adminBetaTesters.test.tsx
  src/modules/admin/pages/adminAdminUsers.tsx
  src/modules/admin/pages/adminBetaTesters.tsx
  src/modules/index.ts
  src/pages/PageList.tsx
  src/pages/admin/Admin.tsx
  src/pages/admin/content/AdminBetaTesters.tsx
  src/pages/admin/content/AdminCategories.tsx
  src/pages/admin/content/AdminTags.tsx
  src/pages/admin/content/AdminUsers.tsx
  src/pages/index.tsx
Labels: Review allow-preview ✅

#2555 feat: add validation skip to research description
  packages/components/src/ModerationStatus/ModerationStatus.tsx
  packages/cypress/src/integration/research/write.spec.ts
  src/pages/Research/Content/Common/Research.form.tsx
Labels: Mod: Research 🔬

#2576 docs: add link through to firebase emulator docs
  packages/documentation/docs/Backend Development/firebase-emulators-docker.md
Labels: Documentation

#2575 docs: update base path and URL to match docs.platform.onearmy.earth
  packages/documentation/docusaurus.config.gh-pages.js
Labels: Documentation

#2577 feat(emails): add follow notifications to emails
  functions/src/emailNotifications/__snapshots__/createNotificationEmails.spec.ts.snap
  functions/src/emailNotifications/createNotificationEmails.spec.ts
  functions/src/emailNotifications/utils.ts
Labels: Backend

#2551 fix(aggregations): fix user notification aggregation
  functions/src/aggregations/common.aggregations.ts
  functions/src/aggregations/userNotifications.aggregations.spec.ts
Labels: Backend

#2528 feat: enforce character limits for how to title (20 > 200)
  packages/components/src/FieldInput/FieldInput.tsx
  packages/cypress/src/integration/howto/write.spec.ts
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/constants.ts
Labels: Mod: HowTo 📰

#2582 docs: add CNAME record to specific domain
  packages/documentation/static/CNAME
Labels: Documentation

#2580 fix(emails): update email styling to be compatible with gmail
  functions/src/emailNotifications/__snapshots__/createNotificationEmails.spec.ts.snap
  functions/src/emailNotifications/getNotificationEmailTemplate.ts
Labels: Backend

#2581 feat: enforce character limits for how to steps (100 < 700)
  packages/components/src/CharacterCount/CharacterCount.stories.tsx
  packages/components/src/CharacterCount/CharacterCount.tsx
  packages/components/src/FieldTextarea/FieldTextarea.stories.tsx
  packages/components/src/FieldTextarea/FieldTextarea.tsx
  packages/cypress/src/integration/howto/write.spec.ts
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/constants.ts
Labels: Mod: HowTo 📰

#2605 feat(alerts): add error alerting to emails
  functions/scripts/runtimeConfig/model.ts
  functions/src/alerting/errorAlerting.ts
  functions/src/config/config.ts
  functions/src/emailNotifications/createNotificationEmails.ts
  functions/src/emailNotifications/index.ts
Labels: Backend

#2611 chore: update character limits for how to title
  functions/src/emailNotifications/constants.ts
  functions/src/emailNotifications/getNotificationEmailTemplate.ts
  functions/src/emailNotifications/utils.ts
  packages/cypress/src/integration/howto/write.spec.ts
  src/pages/Howto/constants.ts
Labels: Backend, Mod: HowTo 📰

#2610 feat: apply new styling to emails
  functions/src/emailNotifications/__snapshots__/createNotificationEmails.spec.ts.snap
  functions/src/emailNotifications/getNotificationEmailTemplate.ts
Labels: Backend

#2612 refactor: remove direct usage of theme
  packages/themes/src/common/index.ts
  packages/themes/src/types/index.ts
  src/pages/Maps/Content/Controls/Controls.tsx
Labels: Mod: Maps 🗺

#2613 feat: show only first contributor/creator
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Labels: Mod: Research 🔬

#2626 fix: increase memory limit
  functions/src/emailNotifications/index.ts
Labels: Backend

#2604 Speed up CircleCI pipelines
  .circleci/config.yml
  .yarnrc.yml
  CONTRIBUTING.md
  functions/package.json
  functions/src/Firebase/storage.ts
  functions/src/Utils/image.utils.ts
  functions/src/Utils/index.ts
  package.json
  yarn.lock
Labels: Backend

#2629 chore(ci): reduce duration of pipeline, removing unused deps
  .circleci/config.yml
  .yarnrc.yml
  CONTRIBUTING.md
  functions/package.json
  functions/src/Firebase/storage.ts
  functions/src/Utils/image.utils.ts
  functions/src/Utils/index.ts
  package.json
  yarn.lock
Labels: Backend

#2556 feat: login to download
  packages/components/src/DownloadFileFromLink/DownloadFileFromLink.stories.tsx
  packages/components/src/DownloadFileFromLink/DownloadFileFromLink.test.tsx
  packages/components/src/DownloadFileFromLink/DownloadFileFromLink.tsx
  packages/components/src/DownloadFiles/DownloadFiles.stories.tsx
  packages/components/src/DownloadFiles/DownloadFiles.tsx
  packages/components/src/DownloadStaticFile/DownloadStaticFile.stories.tsx
  packages/components/src/DownloadStaticFile/DownloadStaticFile.tsx
  packages/components/src/FileInformation/FileInformation.stories.tsx
  packages/components/src/FileInformation/FileInformation.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/howto/read.spec.ts
  src/common/Form/FileInput/FileInput.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#2521 feat: retain accepted moderation status when map pin updated
  functions/src/Integrations/firebase-slack.ts
  src/pages/Settings/SettingsPage.tsx
  src/stores/Maps/maps.store.ts
Labels: Backend

#2634 fix: howto step description length validation
  packages/cypress/src/integration/howto/write.spec.ts
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
Labels: Mod: HowTo 📰

#2631 feat: remove moderation options from research items
  src/pages/Research/Content/ResearchDescription.tsx
Labels: Mod: Research 🔬

#2644 Add character count to field input
  packages/components/src/FieldInput/FieldInput.tsx
Labels: Review allow-preview ✅

#2647 feat: enforce a minimum of 3 steps for a how-to
  packages/cypress/src/fixtures/images/howto-step-pic3.jpg
  packages/cypress/src/fixtures/images/howto-step-pic4.jpg
  packages/cypress/src/integration/howto/write.spec.ts
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Common/howtostep.form.test.tsx
  src/pages/Howto/constants.ts
Labels: Mod: HowTo 📰

#2652 feat: add character count to howto step title
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
Labels: Mod: HowTo 📰

#2648 docs: update testing information
  CONTRIBUTING.md
  packages/documentation/docs/Testing/overview.md
Labels: Documentation

#2656 chore: fixes tests so there are no more errors
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/Settings/UserSettings.test.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2654 Fix: implement validation and error messages for form field lengths
  packages/components/src/FieldTextarea/FieldTextarea.tsx
  packages/cypress/src/integration/howto/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/constants.ts
  src/utils/validators.ts
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2670 feat: hide deleted pins + delete pins when user deleted
  functions/src/userUpdates/index.ts
  src/pages/Maps/Maps.tsx
  src/stores/Maps/maps.store.ts
Labels: Backend, Mod: Maps 🗺

#2679 fix: filter out draft/deleted research updates on listing view
  src/pages/Research/Content/ResearchListItem.tsx
Labels: Mod: Research 🔬

#2567 feat: remove moderation flow from Map Pins
  packages/components/src/MapMemberCard/MapMemberCard.stories.tsx
  packages/components/src/MapMemberCard/MapMemberCard.tsx
  packages/cypress/src/integration/map.spec.ts
  src/pages/Maps/Content/View/Popup.tsx
  src/stores/Maps/maps.store.ts
Labels: Mod: Maps 🗺

#2609 feat: allow draft how-to save without form validation
  functions/src/emulator/seed/content-generate.ts
  packages/cypress/src/integration/howto/write.spec.ts
  src/models/howto.models.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/test/factories/Howto.ts
  src/utils/validators.test.ts
  src/utils/validators.ts
Labels: Backend, Mod: HowTo 📰, Mod: Research 🔬

#2667 feat: display how-to moderation comments on how-to if not yet approved
  functions/src/emailNotifications/utils.ts
  functions/src/emulator/seed/content-generate.ts
  packages/components/src/NotificationItem/NotificationItem.tsx
  shared/models/notifications.ts
  src/models/common.models.tsx
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/common/Header/getFormattedNotifications.test.tsx
  src/pages/common/Header/getFormattedNotifications.tsx
  src/stores/Howto/howto.store.tsx
  src/test/factories/Notification.ts
Labels: Backend, Mod: HowTo 📰

#2694 fix: research comments not showing
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/research.routes.test.tsx
  src/stores/Research/research.store.tsx
Labels: Mod: Research 🔬

#2678 feat: 2391 allow users to delete content
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  shared/mocks/data/howtos.ts
  shared/mocks/data/research.ts
  src/models/common.models.tsx
  src/models/howto.models.tsx
  src/models/maps.models.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/CreateUpdate/index.tsx
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Labels: Mod: HowTo 📰, Mod: Research 🔬
