Repository ONEARMY/community-platform, pull requests merged in 2023-04, with the labels that each got.

#2145 feat: follow research articles for updates #1438
  functions/src/emulator/seed/content-generate.ts
  packages/components/src/NotificationItem/NotificationItem.tsx
  packages/components/src/NotificationList/NotificationList.stories.tsx
  src/models/research.models.tsx
  src/models/user.models.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/common/Header/getFormattedNotifications.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
Labels: Backend, Review allow-preview ✅, Mod: Research 🔬

#2189 fix: map page missing flags
  package.json
  packages/components/src/MapMemberCard/MapMemberCard.stories.tsx
  packages/components/src/MapMemberCard/MapMemberCard.tsx
  src/models/maps.models.tsx
  src/pages/Maps/Content/MapView/Cluster.tsx
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/Maps/Content/MapView/Popup.tsx
  src/pages/Maps/Content/MapView/Sprites.tsx
  src/pages/Maps/Content/MapView/index.css
  src/pages/Maps/Content/MapView/popup.css
  src/pages/Maps/Content/MapView/sprites.css
  src/pages/Maps/Content/index.ts
  src/pages/Maps/Maps.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/stores/Maps/generatePins.tsx
  src/stores/Maps/maps.store.ts
  src/utils/getUserCountry.ts
  yarn.lock
Labels: Mod: Maps 🗺

#2209 Revert "fix: map page missing flags"
  package.json
  packages/components/src/MapMemberCard/MapMemberCard.stories.tsx
  packages/components/src/MapMemberCard/MapMemberCard.tsx
  src/models/maps.models.tsx
  src/pages/Maps/Content/View/Cluster.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/pages/Maps/Content/View/Sprites.tsx
  src/pages/Maps/Content/View/index.css
  src/pages/Maps/Content/View/index.tsx
  src/pages/Maps/Content/View/popup.css
  src/pages/Maps/Content/View/sprites.css
  src/pages/Maps/Content/index.ts
  src/pages/Maps/Maps.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/stores/Maps/generatePins.tsx
  src/stores/Maps/maps.store.ts
  src/utils/getUserCountry.ts
  yarn.lock
Labels: Mod: Maps 🗺

#2172 feat: named research collaborators can access/edit research
  src/models/research.models.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Research/research.routes.test.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/module.store.ts
  src/utils/helpers.ts
Labels: Review allow-preview ✅, Mod: Research 🔬

#2202 feat(components): add UserStatistics block
  packages/components/src/UserStatistics/UserStatistics.stories.tsx
  packages/components/src/UserStatistics/UserStatistics.tsx
  packages/components/src/index.ts
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserStats.tsx
Labels: Review allow-preview ✅

#2220 feat(components): adds DownloadFiles
  packages/components/src/DownloadFiles/DownloadFiles.stories.tsx
  packages/components/src/DownloadFiles/DownloadFiles.test.tsx
  packages/components/src/DownloadFiles/DownloadFiles.tsx
  packages/components/src/index.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/DownloadExternal/DownloadExternal.tsx
Labels: Mod: HowTo 📰

#2198 chore: add circular dependency test to scripts
  .circleci/config.yml
  package.json
Labels: Review: Required ❕

#2221 fix: pass flag through from User object
  packages/components/src/MapMemberCard/MapMemberCard.stories.tsx
  packages/components/src/MapMemberCard/MapMemberCard.tsx
  src/models/maps.models.tsx
  src/pages/Maps/Content/View/Popup.tsx
  src/stores/Maps/generatePins.tsx
  src/stores/Maps/maps.store.ts
Labels: Mod: Maps 🗺

#2150 feat(notifications): transform function and template
  functions/src/emailNotifications/createEmail.spec.ts
  functions/src/emailNotifications/createEmail.ts
  functions/src/emailNotifications/index.ts
  functions/src/emailNotifications/template.handlebars
  functions/src/index.ts
  functions/src/models.ts
  shared/models/db.ts
  src/models/index.ts
  src/models/notifications.models.tsx
  src/modules/admin/pages/adminNotifications.tsx
  src/stores/databaseV2/clients/dexie.tsx
Labels: Backend, Review: Required ❕

#2218 feat: adds quick navigation for Research
  packages/components/package.json
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.stories.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.test.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.tsx
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
  packages/components/src/index.ts
  src/common/Form/ImageInput/ImageInput.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/Update.form.tsx
  yarn.lock
Labels: Mod: Research 🔬

#2226 fix: create email bug
  functions/src/emailNotifications/createEmail.spec.ts
  functions/src/emailNotifications/createEmail.ts
Labels: Backend

#2184 feat(Howto.form): added current character count indicator
  packages/components/src/FieldInput/FieldInput.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#2233 feat: add useful count to profile
  packages/components/src/UserStatistics/UserStatistics.stories.tsx
  packages/components/src/UserStatistics/UserStatistics.test.tsx
  packages/components/src/UserStatistics/UserStatistics.tsx
  packages/components/src/UserStatistics/__snapshots__/UserStatistics.test.tsx.snap
  src/common/userUsefulCount.ts
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/index.tsx
Labels: Review: Required ❕, Review allow-preview ✅

#2232 fix: only show placeholder when adding
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.tsx
  packages/components/src/index.ts
  src/pages/Research/Content/Common/Update.form.tsx
  src/pages/Research/research.routes.test.tsx
  src/stores/Research/research.store.tsx
Labels: Mod: Research 🔬

#2206 feat: adds draft status
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.stories.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.test.tsx
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.tsx
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
  src/models/research.models.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/Content/CreateUpdate/Template.tsx
  src/pages/Research/Content/CreateUpdate/index.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchUpdate.test.tsx
  src/stores/Research/research.store.tsx
  src/test/factories/ResearchItem.ts
Labels: Mod: Research 🔬

#2253 feat(email-notifs): send emails from admin panel for testing
  functions/src/emailNotifications/createEmail.ts
  functions/src/emailNotifications/index.ts
  src/modules/admin/pages/adminNotifications.tsx
Labels: Backend

#2251 feat(platform): add color toggle to follow button on research page
  packages/components/src/Button/Button.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/UserStatistics/__snapshots__/UserStatistics.test.tsx.snap
  packages/themes/src/common/colors.ts
  packages/themes/src/fixing-fashion/styles.ts
  packages/themes/src/precious-plastic/styles.ts
  packages/themes/src/project-kamp/styles.ts
  packages/themes/src/types/index.ts
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#2255 refactor: remove direct use of theme in howto description
  packages/themes/src/common/variants.ts
  packages/themes/src/fixing-fashion/styles.ts
  packages/themes/src/precious-plastic/styles.ts
  packages/themes/src/project-kamp/styles.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Labels: Mod: HowTo 📰

#2258 feat(email-notifs): create emailed state and catch send email errors
  functions/src/aggregations/userNotifications.aggregations.ts
  functions/src/emailNotifications/createEmail.ts
  functions/src/emailNotifications/index.ts
  functions/src/emailNotifications/template.handlebars
  src/models/user.models.tsx
Labels: Backend

#2263 fix(email-notifs): update email field to failed on error
  functions/src/emailNotifications/createEmail.ts
  src/models/user.models.tsx
Labels: Backend

#2268 refactor: remove React.FC from components
  .eslintrc.json
  packages/components/src/CommentList/CommentList.tsx
  packages/components/src/EditComment/EditComment.tsx
  packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.tsx
  packages/components/src/FileInformation/FileInformation.tsx
  packages/components/src/Icon/DownloadIcon.tsx
  packages/components/src/Icon/ExternalUrl.tsx
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
  src/modules/admin/components/Table/Table.tsx
  src/modules/admin/pages/adminNotifications.tsx
  src/modules/admin/pages/adminUsers.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Labels: Mod: Research 🔬

#2267 fix(email-notifs): fix links in email template
  functions/src/emailNotifications/createEmail.ts
  functions/src/emailNotifications/pp-template.handlebars
Labels: Backend

#2260 Refactor: replace typography with variants
  packages/components/src/Icon/Icon.tsx
  packages/themes/src/common/textVariants.ts
  packages/themes/src/common/variants.ts
  packages/themes/src/fixing-fashion/styles.ts
  packages/themes/src/precious-plastic/styles.ts
  packages/themes/src/project-kamp/styles.ts
  packages/themes/src/types/index.ts
  src/pages/Events/Content/EventsCreate/PostingGuidelines.tsx
  src/pages/Events/EventCard/EventCard.tsx
  src/pages/Howto/Content/Common/PostingGuidelines.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Research/Content/Common/PostingGuidelines.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Settings/content/PostingGuidelines.tsx
Labels: Mod: HowTo 📰, Mod: Events 🎉, Mod: Research 🔬
