Repository ONEARMY/community-platform, pull requests merged in 2023-02, with the labels that each got.

#2027 Feat: email notifications aggregation
  functions/src/aggregations/index.ts
  functions/src/aggregations/userNotifications.aggregations.ts
  shared/models/db.ts
  src/modules/admin/admin.routes.tsx
  src/modules/admin/pages/adminNotifications.tsx
  src/pages/common/Header/getFormattedNotifications.tsx
  src/stores/databaseV2/clients/dexie.tsx
Labels: Backend

#2009 test: reinstate skipped research.routes test
  craco.config.ts
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Research/research.routes.test.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2072 feat: support mention in Research descriptions, updates and comments
  functions/src/emulator/seed/content-generate.ts
  packages/components/src/NotificationItem/NotificationItem.tsx
  packages/cypress/src/integration/notifications.spec.ts
  packages/cypress/src/integration/research/comments.spec.ts
  packages/cypress/src/support/custom-assertions.ts
  shared/mocks/data/research.ts
  src/models/common.models.tsx
  src/models/howto.models.tsx
  src/models/research.models.tsx
  src/models/user.models.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
  src/pages/Research/Content/ResearchUpdate.test.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Research/Content/helper.test.tsx
  src/pages/Research/Content/helper.ts
  src/pages/common/Header/Header.tsx
  src/pages/common/Header/getFormattedNotifications.test.tsx
  src/pages/common/Header/getFormattedNotifications.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/test/factories/Notification.ts
  src/test/factories/ResearchItem.ts
Labels: Backend, Review allow-preview ✅, Mod: Research 🔬

#2086 1618 add view count to how to and research
  packages/components/assets/icons/icon-views.svg
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/ViewsCounter/ViewsCounter.tsx
  packages/components/src/index.ts
  src/models/howto.models.tsx
  src/models/research.models.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/databaseV2/DocReference.tsx
  src/utils/sessionStorage.ts
Labels: Backend, Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#2100 fix: ci pipelines
  package.json
  src/pages/Research/research.routes.test.tsx
  yarn.lock
Labels: Mod: Research 🔬

#2097 fix: user notifications aggregation seed
  functions/src/aggregations/userNotifications.aggregations.ts
Labels: Backend

#2101 Chore/yarn update 3 4 1
  .eslintignore
  .eslintrc.json
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  package.json
  packages/components/package.json
  packages/documentation/docs/Contributing/start-contributing.md
  yarn.lock
Labels: Documentation, Backend

#2099 fix: docs node 18 support
  functions/package.json
  packages/documentation/package.json
  packages/documentation/yarn.lock
  yarn.lock
Labels: Documentation, Backend

#2104 fix: docs deploy action
  .github/workflows/docs-deploy.yml
  packages/documentation/data-migration.md
  packages/documentation/docusaurus.config.gh-pages.js
  packages/documentation/docusaurus.config.js
  packages/documentation/firestore-backup.md
  packages/documentation/src/pages/example.index.js
  packages/documentation/src/pages/styles.module.css
Labels: Documentation

#2106 docs: update md guide
  packages/documentation/docs/Docs Contribution/md-style-guide.md
Labels: Documentation

#2098 Feat/aggregation tests
  .cspell.json
  functions/package.json
  functions/src/aggregations/common.aggregations.spec.ts
  functions/src/aggregations/common.aggregations.ts
  functions/src/aggregations/userNotifications.aggregations.spec.ts
  functions/src/test/Firebase/emulator.ts
  functions/src/test/Firebase/logger.ts
  packages/documentation/docs/Backend Development/tests.md
  packages/documentation/sidebars.js
Labels: Documentation, Backend

#2114 fix: adds verified badge to username #2107
  packages/components/src/Username/Username.tsx
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Labels: Mod: HowTo 📰

#2119 chore: remove useless comments
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Howto.test.tsx
Labels: Mod: HowTo 📰

#2121 fix: correct plural of step(s)
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Labels: Mod: HowTo 📰

#2122 fix: empty active howto when unloading component
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#2120 fix: adjust margin and width of elements in HowToComments
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#2102 Fix 2095
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/Research/research.routes.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#2087 feat: improvements to mark as useful button
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
  packages/cypress/src/integration/notifications.spec.ts
  src/themes/common/button.ts
Labels: Review allow-preview ✅
