Repository ONEARMY/community-platform, pull requests merged in 2023-09, with the labels that each got.

#2730 refactor: remove unnecessary argument and add unit tests
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Common/HowtoFieldTitle.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/stores/common/module.store.test.tsx
  src/stores/common/module.store.ts
  src/utils/validators.test.ts
  src/utils/validators.ts
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2733 fix: replace margins with paddings in research comments box section
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
Labels: Mod: Research 🔬

#2738 feat: add tooltips to research and howto cards
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#2723 fix(stores): fixed issue #2709
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
  src/stores/common/FilterSorterDecorator/FitlerSorterDecorator.test.ts
  src/stores/databaseV2/DocReference.tsx
Labels: Review allow-preview ✅

#2750 fix: change embed images/video labels to one line
  src/pages/Howto/Content/Common/HowtoFieldStep.tsx
  src/pages/Howto/labels.ts
Labels: Mod: HowTo 📰

#2720 feat: add errors to how-to
  packages/cypress/src/integration/howto/write.spec.ts
  src/common/Form/ErrorsContainer.tsx
  src/common/Form/types.ts
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoErrors.test.tsx
  src/pages/Howto/Content/Common/HowtoErrors.tsx
  src/pages/Howto/Content/Common/HowtoFieldFileLink.tsx
  src/pages/Howto/Content/Common/HowtoFieldFileUpload.tsx
  src/pages/Howto/Content/Common/HowtoFieldFiles.tsx
  src/pages/Howto/Content/Common/HowtoFieldStep.tsx
  src/pages/Howto/Content/Common/HowtoFieldStepsContainer.tsx
  src/pages/Howto/Content/Common/HowtoFieldTags.tsx
  src/pages/Howto/Content/Common/index.ts
  src/pages/Howto/Content/Common/utils/index.ts
  src/pages/Howto/Content/Common/utils/transformHowtoErrors.test.ts
  src/pages/Howto/Content/Common/utils/transformHowtoErrors.ts
  src/pages/Howto/labels.ts
Labels: Mod: HowTo 📰, Review allow-preview ✅

#2719 feat: add errors to research
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.tsx
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
  packages/cypress/src/integration/research/write.spec.ts
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchErrors.test.tsx
  src/pages/Research/Content/Common/ResearchErrors.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/Content/Common/index.ts
  src/pages/Research/labels.ts
  src/test/components/ResearchProvider.tsx
  src/test/components/index.ts
Labels: Review allow-preview ✅, Mod: Research 🔬, 🤝 Awaiting author

#2775 feat: trim trailing whitespace in HowTo text fields
  packages/components/src/FieldInput/FieldInput.tsx
  packages/components/src/FieldTextarea/FieldTextarea.tsx
  packages/cypress/src/integration/howto/write.spec.ts
  src/pages/Howto/Content/Common/HowtoFieldDescription.tsx
  src/pages/Howto/Content/Common/HowtoFieldStep.tsx
  src/pages/Howto/Content/Common/HowtoFieldTitle.tsx
Labels: Mod: HowTo 📰

#2752 feat: pin user howtos that require moderation/draft
  packages/cypress/src/integration/howto/read.spec.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
  src/stores/common/FilterSorterDecorator/FitlerSorterDecorator.test.ts
Labels: Review allow-preview ✅

#2778 feat: remove back button from descriptions
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#2786 2763 how to text overflow
  src/pages/Howto/Content/Howto/Step/Step.tsx
Labels: Mod: HowTo 📰

#2791 feat(emails): add templating and moderation email fn
  functions/src/emailNotifications/__snapshots__/createNotificationEmails.spec.ts.snap
  functions/src/emailNotifications/createModerationEmails.ts
  functions/src/emailNotifications/createNotificationEmails.ts
  functions/src/emailNotifications/getNotificationEmailTemplate.ts
  functions/src/emailNotifications/templates.ts
  functions/src/emailNotifications/utils.ts
Labels: Backend

#2790 fix: fix errors running functions locally
  functions/src/alerting/errorAlerting.ts
  functions/src/index.ts
Labels: Backend

#2749 feat: add thumbnails to research lists
  src/assets/images/default-research-thumbnail.jpg
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/utils/helpers.ts
Labels: Review allow-preview ✅, Mod: Research 🔬, 🤝 Awaiting author

#2718 feat: add errors to user settings
  packages/cypress/src/integration/settings.spec.ts
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/constants.ts
  src/pages/Settings/content/formSections/AccountSettings.section.tsx
  src/pages/Settings/content/formSections/ChangeEmail.form.tsx
  src/pages/Settings/content/formSections/ChangePassword.form.tsx
  src/pages/Settings/content/formSections/Collection.section.tsx
  src/pages/Settings/content/formSections/EmailNotifications.section.tsx
  src/pages/Settings/content/formSections/Expertise.section.tsx
  src/pages/Settings/content/formSections/Fields/ProfileLink.field.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/MemberMapPin.section.tsx
  src/pages/Settings/content/formSections/SettingsError.test.tsx
  src/pages/Settings/content/formSections/SettingsErrors.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/Settings/content/formSections/Workspace.section.tsx
  src/pages/Settings/content/formSections/WorkspaceMapPin.section.tsx
  src/pages/Settings/labels.ts
  src/test/components/SettingsProvider.tsx
  src/test/components/index.ts
Labels: Review allow-preview ✅, 🤝 Awaiting author

#2796 fix: fix error alerting and add test
  functions/src/alerting/errorAlerting.spec.ts
  functions/src/alerting/errorAlerting.ts
Labels: Backend

#2792 feat(emails): send howto approval email on moderation update
  functions/src/emailNotifications/__snapshots__/createModerationEmails.spec.ts.snap
  functions/src/emailNotifications/constants.ts
  functions/src/emailNotifications/createModerationEmails.spec.ts
  functions/src/emailNotifications/createModerationEmails.ts
  functions/src/emailNotifications/index.ts
  functions/src/emailNotifications/templates.ts
  functions/src/emailNotifications/utils.ts
  functions/src/emulator/seed/content-generate.ts
Labels: Backend

#2217 feat: lock research to multiple editor access
  functions/src/aggregations/research.aggregations.ts
  packages/components/src/BlockedRoute/BlockedRoute.stories.tsx
  packages/components/src/BlockedRoute/BlockedRoute.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/howto/write.spec.ts
  packages/cypress/src/integration/profile.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/models/research.models.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/Content/EditResearch/index.tsx
  src/pages/Research/Content/EditUpdate/index.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/common/AuthRoute.tsx
  src/stores/Research/research.store.tsx
Labels: Backend, Mod: Research 🔬

#2812 feat: email notifications for supporter badge
  functions/package.json
  functions/src/emailNotifications/README.md
  functions/src/emailNotifications/development/entry-server.mjs
  functions/src/emailNotifications/development/index.html
  functions/src/emailNotifications/development/server.mjs
  functions/src/emailNotifications/index.ts
  functions/src/emailNotifications/supporterBadgeEmails.spec.ts
  functions/src/emailNotifications/supporterBadgeEmails.ts
  functions/src/emailNotifications/templates.ts
  functions/src/emailNotifications/templates/index.ts
  functions/src/emailNotifications/templates/layout.html
  functions/src/emailNotifications/templates/supporter-badge-added.html
  functions/src/emailNotifications/templates/supporter-badge-removed.html
  functions/src/emailNotifications/utils.ts
  yarn.lock
Labels: Backend

#2714 add guidance to howto form
  packages/cypress/src/integration/howto/write.spec.ts
  shared/mocks/data/categories.ts
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoCategoryGuidance.test.tsx
  src/pages/Howto/Content/Common/HowtoCategoryGuidance.tsx
  src/pages/Howto/Content/Common/HowtoFieldCategory.tsx
  src/pages/Howto/Content/Common/HowtoFieldFiles.test.tsx
  src/pages/Howto/Content/Common/HowtoFieldFiles.tsx
  src/pages/Howto/Content/Common/index.ts
  src/pages/Howto/labels.ts
  src/test/factories/Category.ts
Labels: Mod: HowTo 📰

#2823 feat(emails): add rejected emails for map pin and how to
  functions/src/emailNotifications/createModerationEmails.spec.ts
  functions/src/emailNotifications/createModerationEmails.ts
  functions/src/emailNotifications/development/entry-server.mjs
  functions/src/emailNotifications/templates.ts
  functions/src/emailNotifications/templates/how-to-rejected.html
  functions/src/emailNotifications/templates/index.ts
  functions/src/emailNotifications/templates/map-pin-rejected.html
Labels: Backend

#2822 fix(emails): send submission emails on re-submitted resources
  functions/src/emailNotifications/__snapshots__/createModerationEmails.spec.ts.snap
  functions/src/emailNotifications/__snapshots__/createSubmissionEmails.spec.ts.snap
  functions/src/emailNotifications/constants.ts
  functions/src/emailNotifications/createModerationEmails.spec.ts
  functions/src/emailNotifications/createModerationEmails.ts
  functions/src/emailNotifications/createSubmissionEmails.spec.ts
  functions/src/emailNotifications/createSubmissionEmails.ts
  functions/src/emailNotifications/development/entry-server.mjs
  functions/src/emailNotifications/index.ts
  functions/src/emailNotifications/templates.ts
  functions/src/emailNotifications/templates/how-to-rejected.html
  functions/src/emailNotifications/templates/index.ts
  functions/src/emailNotifications/templates/map-pin-rejected.html
Labels: Backend

#2828 feat: display MapPin moderator comments
  src/models/maps.models.tsx
  src/pages/PageList.tsx
  src/pages/User/User.tsx
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/Template.tsx
  src/pages/UserSettings/UserSettings.test.tsx
  src/pages/UserSettings/UserSettings.tsx
  src/pages/UserSettings/constants.ts
  src/pages/UserSettings/content/PostingGuidelines.tsx
  src/pages/UserSettings/content/formSections/AccountSettings.section.tsx
  src/pages/UserSettings/content/formSections/ChangeEmail.form.tsx
  src/pages/UserSettings/content/formSections/ChangePassword.form.tsx
  src/pages/UserSettings/content/formSections/Collection.section.tsx
  src/pages/UserSettings/content/formSections/EmailNotifications.section.tsx
  src/pages/UserSettings/content/formSections/Expertise.section.tsx
  src/pages/UserSettings/content/formSections/Fields/CustomCheckbox.field.tsx
  src/pages/UserSettings/content/formSections/Fields/CustomRadio.field.tsx
  src/pages/UserSettings/content/formSections/Fields/OpeningHoursPicker.field.tsx
  src/pages/UserSettings/content/formSections/Fields/ProfileLink.field.tsx
  src/pages/UserSettings/content/formSections/Focus.section.tsx
  src/pages/UserSettings/content/formSections/MemberMapPin.section.tsx
  src/pages/UserSettings/content/formSections/SettingsError.test.tsx
  src/pages/UserSettings/content/formSections/SettingsErrors.tsx
  src/pages/UserSettings/content/formSections/UserInfos.section.tsx
  src/pages/UserSettings/content/formSections/Workspace.section.tsx
  src/pages/UserSettings/content/formSections/WorkspaceMapPin.section.tsx
  src/pages/UserSettings/content/formSections/elements.tsx
  src/pages/UserSettings/index.tsx
  src/pages/UserSettings/labels.ts
  src/test/factories/MapPin.ts
Labels: Review allow-preview ✅

#2829 feat(components): display moderation comments on MapMemberCard
  packages/components/src/MapMemberCard/MapMemberCard.stories.tsx
  packages/components/src/MapMemberCard/MapMemberCard.test.tsx
  packages/components/src/MapMemberCard/MapMemberCard.tsx
  src/pages/Maps/Content/View/Popup.tsx
Labels: Mod: Maps 🗺, Review allow-preview ✅

#2821 docs: update guidance around testing
  CONTRIBUTING.md
  packages/documentation/docs/Testing/overview.md
Labels: Documentation

#2820 feat: adds email notification when verified badge added
  functions/src/emailNotifications/index.ts
  functions/src/emailNotifications/templates.ts
  functions/src/emailNotifications/templates/index.ts
  functions/src/emailNotifications/templates/verified-badge-added.html
  functions/src/emailNotifications/verifiedBadgeEmails.spec.ts
  functions/src/emailNotifications/verifiedBadgeEmails.ts
Labels: Backend

#2842 feat(emails): needs improvements emails
  functions/src/emailNotifications/createModerationEmails.spec.ts
  functions/src/emailNotifications/createModerationEmails.ts
  functions/src/emailNotifications/development/entry-server.mjs
  functions/src/emailNotifications/templates.ts
  functions/src/emailNotifications/templates/how-to-needs-improvements.html
  functions/src/emailNotifications/templates/index.ts
  functions/src/emailNotifications/templates/map-pin-needs-improvements.html
Labels: Backend

#2844 test: add error handling and testing for getEmailTemplate
  functions/src/emailNotifications/templates/index.ts
  functions/src/emailNotifications/templates/templates.spec.ts
Labels: Backend

#2846 fix: memory and file path
  functions/src/emailNotifications/createModerationEmails.ts
  functions/src/emailNotifications/index.ts
  functions/src/emailNotifications/templates/index.ts
  functions/src/emailNotifications/utils.ts
Labels: Backend

#2757 fix: prevent slug collision on draft
  packages/cypress/src/integration/howto/write.spec.ts
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoFieldTitle.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/common/__mocks__/module.store.ts
  src/stores/common/module.store.ts
Labels: Mod: HowTo 📰

#2847 fix: updated filter and sort inputs
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
Labels: Mod: HowTo 📰

#2805 Updated filter and sort inputs
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
Labels: Mod: HowTo 📰, 🤝 Awaiting author

#2779 Feat: remove howto footer, add comment focus
  packages/cypress/src/integration/howto/read.spec.ts
  src/assets/images/white-bubble_0.svg
  src/assets/images/white-bubble_1.svg
  src/assets/images/white-bubble_2.svg
  src/assets/images/white-bubble_3.svg
  src/pages/Howto/Content/Howto/Howto.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, 🤝 Awaiting author

#2780 fix: prevent signup if username contains invalid characters
  src/pages/SignUp/SignUp.tsx
  src/utils/helpers.ts
  src/utils/validators.test.ts
  src/utils/validators.ts
Labels: 🤝 Awaiting author
