Repository ONEARMY/community-platform, pull requests merged in 2024-07, with the labels that each got.

#3709 test: fix all settings tests
  packages/components/src/MemberBadge/MemberBadge.tsx
  packages/components/src/ProfileLink/ProfileLink.tsx
  packages/cypress/src/fixtures/images/profile-cover-1-edited.jpg
  packages/cypress/src/fixtures/settings.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/CustomAssertations.ts
  packages/cypress/src/support/commandsUi.ts
  shared/models/user.ts
  src/pages/Question/question.routes.test.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/User/contact/UserContactForm.test.tsx
  src/pages/User/contact/UserContactForm.tsx
  src/pages/User/contact/UserContactNotLoggedIn.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
Labels: Mod: Research 🔬

#3681 [e2e] Cypress scripts improvements
  packages/cypress/src/integration/howto/discussions.spec.ts
  packages/cypress/src/integration/howto/write.spec.ts
  packages/cypress/src/integration/notifications.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  packages/cypress/src/support/hooks.ts
Labels: 🤝 Awaiting author

#3730 feat: add hero image to auth pages
  packages/components/assets/images/celebration.svg
  packages/components/src/CelebrationHero/CelebrationHere.stories.tsx
  packages/components/src/CelebrationHero/CelebrationHero.tsx
  packages/components/src/index.ts
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/SignUpMessage.tsx
Labels: Review allow-preview ✅

#3728 fix: improve date display
  packages/components/src/CommentItem/CommentItem.tsx
Labels: Review allow-preview ✅

#3735 chore: refactor categories
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoCategoryGuidance.tsx
  src/pages/Howto/Content/Common/HowtoFieldCategory.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchCategorySelect.tsx
  src/pages/Research/Content/ResearchFilterHeader.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchSearchParams.ts
  src/pages/Research/research.routes.test.tsx
  src/pages/Research/research.service.ts
  src/stores/Categories/categories.store.tsx
  src/stores/QuestionCategories/questionCategories.store.tsx
  src/stores/ResearchCategories/researchCategories.store.tsx
  src/stores/RootStore.tsx
  src/test/components/HowtoProvider.tsx
  src/test/components/ResearchProvider.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#3734 fix: add default avatar to CommentItem
  packages/components/src/CommentItem/CommentItem.stories.tsx
  packages/components/src/CommentItem/CommentItem.tsx
Labels: Review allow-preview ✅

#3747 test: fix async error in route tests
  src/pages/Research/research.routes.test.tsx
Labels: Mod: Research 🔬

#3729 feat: add wrapper to settings form
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.tsx
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/content/formSections/AccountSettings.section.tsx
  src/pages/UserSettings/content/formSections/Fields/ProfileLink.field.tsx
  src/pages/UserSettings/content/formSections/Focus.section.tsx
  src/pages/UserSettings/content/formSections/UserInfos.section.tsx
  src/pages/UserSettings/content/formSections/UserProfile.section.tsx
  src/pages/UserSettings/content/formSections/UserProfile.test.tsx
  src/pages/UserSettings/content/formSections/Workspace.section.tsx
  src/pages/UserSettings/content/formSections/elements.tsx
  src/pages/UserSettings/labels.ts
Labels: Review allow-preview ✅

#3738 fix: nested anchor tags in ResearchListItem
  src/pages/Question/QuestionListItem.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/common/UserNameTag/UserNameTag.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#3748 chore: improve unit testing interface
  functions/src/Integrations/firebase-discord.test.ts
  functions/src/Integrations/firebase-discord.ts
Labels: Backend

#3750 [e2e] Fix to Write HowTo flaky
  packages/cypress/src/integration/howto/write.spec.ts
  src/pages/Howto/Content/Common/SubmitStatus.tsx
Labels: Mod: HowTo 📰

#3758 [feat]: Add question mark validation to question title form
  src/pages/Question/Content/Common/FormFields/QuestionTitle.field.tsx
  src/pages/Research/research.routes.test.tsx
  src/utils/validators.test.ts
  src/utils/validators.ts
Labels: Review allow-preview ✅, Mod: Research 🔬

#3772 fix: research update edit
  src/pages/Research/Content/EditUpdate/index.tsx
Labels: Mod: Research 🔬

#3773 Fix/research thumbnails
  src/pages/Research/Content/ResearchListItem.tsx
  src/stores/common/module.store.ts
Labels: Mod: Research 🔬

#3779 Feat: add edit profile button to profile
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserProfile.tsx
Labels: Review allow-preview ✅

#3763 feat: start adding tabs to settings form
  packages/components/assets/icons/account.svg
  packages/components/assets/icons/eye.svg
  packages/components/assets/icons/icon-notification.svg
  packages/components/assets/icons/impact.svg
  packages/components/assets/icons/map.svg
  packages/components/assets/icons/profile.svg
  packages/components/assets/icons/thunderbolt-grey.svg
  packages/components/assets/icons/thunderbolt.svg
  packages/components/src/Icon/Icon.stories.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/InternalLink/InternalLink.tsx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormTab.test.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormTab.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormTabList.test.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormTabList.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.stories.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.test.tsx
  packages/components/src/SettingsFormWrapper/SettingsFormWrapper.tsx
  packages/components/src/SettingsFormWrapper/utils.ts
  packages/components/src/index.ts
  packages/cypress/src/integration/SignUp.spec.ts
  packages/cypress/src/integration/notificationBanner.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  src/common/Form/UnsavedChangesDialog.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/User/impact/ImpactItem.tsx
  src/pages/UserSettings/SettingsPage.tsx
  src/pages/UserSettings/content/formSections/AccountSettings.section.tsx
  src/pages/UserSettings/content/formSections/Focus.section.tsx
  src/pages/UserSettings/content/formSections/Impact/Impact.section.tsx
  src/pages/UserSettings/content/formSections/UserProfile.section.tsx
  src/pages/UserSettings/content/formSections/UserProfile.test.tsx
  src/pages/UserSettings/index.tsx
  src/pages/common/DevSiteHeader/DevSiteHeader.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsIcon.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#3784 feat: fix and use research update anchors
  functions/src/Integrations/firebase-discord.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/stores/Discussions/discussions.store.tsx
Labels: Backend, Mod: Research 🔬

#3788 docs: add docs for function variables
  .cspell.json
  packages/documentation/docs/Deployment/circle-ci.md
Labels: Documentation

#3790 chore: change notification after send to update
  functions/src/emailNotifications/createSubmissionEmails.spec.ts
  functions/src/emailNotifications/createSubmissionEmails.ts
Labels: Backend

#3791 feat: change research updates to use id for anchor
  functions/src/Integrations/firebase-discord.test.ts
  functions/src/Integrations/firebase-discord.ts
  packages/components/assets/icons/hyperlink.svg
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  packages/cypress/src/integration/research/read.spec.ts
  src/common/DiscussionWrapper.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchLinkToUpdate.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Research/Content/helper.test.tsx
  src/pages/Research/Content/helper.ts
  src/stores/Discussions/discussions.store.tsx
Labels: Backend, Review allow-preview ✅, Mod: Research 🔬

#3794 fix: scrolling comments and updates on research
  src/pages/Research/Content/ResearchArticle.tsx
Labels: Mod: Research 🔬

#3795 feat: move patreon to profile settings
  packages/components/assets/icons/patreon.svg
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  src/pages/UserSettings/content/formSections/AccountSettings.section.tsx
  src/pages/UserSettings/content/formSections/PatreonIntegration.test.tsx
  src/pages/UserSettings/content/formSections/PatreonIntegration.tsx
  src/pages/UserSettings/content/formSections/UserProfile.section.tsx
Labels: Review allow-preview ✅

#3807 fix(platform): add conditional meta tag to post build
  scripts/postBuild.ts
Labels: Review allow-preview ✅
