Repository ONEARMY/community-platform, pull requests merged in 2024-03, with the labels that each got.

#3317 Feat(discussion): add notifications
  packages/components/src/NotificationItem/NotificationItem.tsx
  src/models/discussion.models.tsx
  src/pages/Question/QuestionComments.tsx
  src/stores/Discussions/discussion.store.test.ts
  src/stores/Discussions/discussionEvents.ts
  src/stores/Discussions/discussions.store.tsx
  src/stores/User/notifications.store.ts
Labels: Review allow-preview ✅, 👀 Ready for user testing

#3257 feat: question listing show comments/useful count
  packages/components/src/ContentStatistics/ContentStatistics.tsx
  packages/components/src/IconCountWithTooltip/IconCountWithTooltip.stories.tsx
  packages/components/src/IconCountWithTooltip/IconCountWithTooltip.test.tsx
  packages/components/src/IconCountWithTooltip/IconCountWithTooltip.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/research/read.spec.ts
  src/pages/Question/QuestionListing.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#3321 fix: account settings forms
  packages/cypress/src/integration/settings.spec.ts
  src/pages/UserSettings/content/formSections/AccountSettings.section.tsx
  src/pages/UserSettings/content/formSections/ChangeEmail.form.tsx
  src/pages/UserSettings/content/formSections/ChangePassword.form.tsx
  src/pages/UserSettings/labels.ts
  src/stores/User/user.store.ts
Labels: Review allow-preview ✅

#3296 feat/load research comments from discussion
  src/models/discussion.models.tsx
  src/models/research.models.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/stores/common/module.store.ts
Labels: Review allow-preview ✅

#3323 refactor: user notification tests
  functions/src/aggregations/common.aggregations.ts
  functions/src/aggregations/userNotifications.aggregations.spec.ts
  functions/src/aggregations/userNotifications.aggregations.ts
Labels: Backend

#3298 Feat: Support a new member to pick a valid username - v1
  packages/cypress/src/integration/SignUp.spec.ts
  src/pages/SignUp/SignUp.tsx
  src/utils/checkUserNameUnique.test.ts
  src/utils/checkUserNameUnique.ts
Labels: Review allow-preview ✅

#3342 Feat: replace display of tags by categories
  packages/components/src/Category/Category.stories.tsx
  packages/components/src/Category/Category.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/howto/read.spec.ts
  shared/mocks/data/howtos.ts
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/VirtualizedFlex/VirtualizedFlex.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchListItem.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬, 🤝 Awaiting author

#3348 feat: drop draft question state
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Question/question.routes.test.tsx
Labels: Feat: Questions module

#3351 fix: show moderation state on how to card
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
Labels: Mod: HowTo 📰

#3353 fix: use total comment prop
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Labels: Mod: Research 🔬

#3261 fix: question useful and follow toggles
  src/pages/Question/QuestionPage.tsx
  src/pages/Question/question.routes.test.tsx
  src/stores/Question/question.store.test.tsx
  src/stores/Question/question.store.tsx
  src/stores/common/toggleDocSubscriberStatusByUserName.ts
  src/stores/common/toggleDocUsefulByUser.ts
Labels: 🤝 Awaiting author

#3349 feat: question filters
  .prettierignore
  firebase.json
  firestore.indexes.json
  jest.config.ts
  package.json
  packages/cypress/src/fixtures/searchResults.ts
  packages/cypress/src/integration/settings.spec.ts
  src/pages/Howto/Category/CategoriesSelect.tsx
  src/pages/Question/QuestionFilterHeader.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Question/QuestionSortOptions.ts
  src/pages/Question/constants.ts
  src/pages/Question/labels.ts
  src/pages/Question/question.routes.test.tsx
  src/pages/Question/question.service.test.ts
  src/pages/Question/question.service.ts
  src/pages/common/Category/CategoriesSelectV2.tsx
  src/stores/Question/question.store.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
  src/utils/firebase.ts
  src/utils/searchHelper.test.ts
  src/utils/searchHelper.ts
  src/utils/stopwords.ts
  yarn.lock
Labels: Mod: HowTo 📰, Review allow-preview ✅, 🤝 Awaiting author

#3366 feat: add image upload to questions
  packages/cypress/src/integration/questions/write.spec.ts
  src/models/question.models.tsx
  src/pages/Howto/Content/Common/FormFieldWrapper.tsx
  src/pages/Question/Content/Common/FormFields/QuestionImage.field.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Question/constants.ts
  src/pages/Question/labels.ts
  src/stores/Question/question.store.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, 🤝 Awaiting author

#3401 feat: drop image on question item list display
  src/pages/Question/QuestionListItem.tsx
Labels: Review allow-preview ✅
