Repository ONEARMY/community-platform, pull requests merged in 2024-05, with the labels that each got.

#3465 docs: outline steps for rollback
  packages/documentation/docs/Maintainers/Rollback.md
Labels: Documentation

#3478 Search filter fixes
  src/pages/Howto/Content/HowtoList/HowtoFilterHeader.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/Content/HowtoList/HowtoSortOptions.ts
  src/pages/Howto/howto.service.ts
  src/pages/Question/QuestionFilterHeader.tsx
  src/pages/Question/QuestionListing.tsx
  src/pages/Question/QuestionSortOptions.ts
  src/pages/Question/question.service.test.ts
  src/pages/Question/question.service.ts
  src/pages/Research/Content/ResearchFilterHeader.tsx
  src/pages/Research/ResearchSortOptions.ts
Labels: Mod: HowTo 📰, Mod: Research 🔬

#3333 3245 add breadcrumbs
  packages/components/src/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/components/src/Breadcrumbs/Breadcrumbs.test.tsx
  packages/components/src/Breadcrumbs/Breadcrumbs.tsx
  packages/components/src/Breadcrumbs/BreadcrumbsItem.tsx
  packages/components/src/index.ts
  packages/components/vite.config.mts
  packages/security-rules/vite.config.mts
  packages/themes/src/common/button.ts
  src/assets/icons/icon-chevron-right.svg
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Question/QuestionPage.test.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Question/question.routes.test.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/common/Breadcrumbs/Breadcrumbs.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬, 🤝 Awaiting author

#3471 feat: deep link into impact section in settings page
  src/pages/User/impact/ImpactMissing.tsx
  src/pages/UserSettings/UserSettings.test.tsx
  src/pages/UserSettings/content/formSections/Impact/Impact.section.tsx
  src/pages/UserSettings/content/formSections/Impact/ImpactYear.section.tsx
Labels: 🤝 Awaiting author

#3500 feat(seo): Update headings for research section
  packages/components/src/ResearchEditorOverview/ResearchEditorOverview.tsx
  packages/components/src/ResearchEditorOverview/__snapshots__/ResearchEditorOverview.test.tsx.snap
  src/pages/Research/Content/Common/PostingGuidelines.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/Content/Common/SubmitStatus.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Labels: Mod: Research 🔬, 🤝 Awaiting author

#3515 fix: content search labels
  src/pages/Howto/labels.ts
  src/pages/Question/labels.ts
  src/pages/Research/labels.ts
Labels: Mod: HowTo 📰, Mod: Research 🔬

#3525 feat(seo): update headings for Howto Module
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoFieldStep.tsx
  src/pages/Howto/Content/Common/HowtoFieldStepsContainer.tsx
  src/pages/Howto/Content/Common/PostingGuidelines.tsx
  src/pages/Howto/Content/Common/SubmitStatus.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Labels: Mod: HowTo 📰

#3528 feat: enable research creation on pp
  packages/cypress/src/integration/profile.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/utils/TestUtils.ts
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/research.routes.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#3522 feat: research draft list
  firestore.indexes.json
  src/models/common.models.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/labels.ts
  src/pages/Research/research.service.test.ts
  src/pages/Research/research.service.ts
  src/pages/common/Drafts/DraftButton.test.tsx
  src/pages/common/Drafts/DraftButton.tsx
  src/pages/common/Drafts/useDrafts.tsx
  src/pages/common/labels.ts
Labels: Mod: Research 🔬

#3537 fix: useful button click spam
  packages/components/src/ArticleCallToAction/ArticleCallToAction.stories.tsx
  packages/components/src/UsefulStatsButton/UsefulStatsButton.stories.tsx
  packages/components/src/UsefulStatsButton/UsefulStatsButton.tsx
  packages/components/src/UserEngagementWrapper/UserEngagementWrapper.stories.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#3460 Remove totalUseful aggregations
  functions/src/aggregations/howto.aggregations.ts
  functions/src/aggregations/index.ts
  functions/src/aggregations/research.aggregations.ts
  functions/src/aggregations/userNotifications.aggregations.spec.ts
  functions/src/aggregations/userNotifications.aggregations.ts
  functions/src/emailNotifications/README.md
  src/common/hooks/useMemberStatistics.ts
  src/common/isUserVerified.ts
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Maps/Maps.test.tsx
  src/pages/Question/QuestionPage.test.tsx
  src/pages/Question/question.routes.test.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/research.routes.test.tsx
  src/pages/Unsubscribe/Unsubscribe.test.tsx
  src/pages/User/content/MemberProfile.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/content/UserProfile.tsx
  src/pages/User/user.routes.test.tsx
  src/pages/UserSettings/UserSettings.test.tsx
  src/pages/common/UserNameTag/UserNameTag.tsx
  src/stores/Aggregations/aggregations.store.tsx
  src/stores/Discussions/discussion.store.test.ts
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/Question/question.store.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/stores/User/user.store.ts
  src/stores/common/toggleDocUsefulByUser.test.ts
  src/stores/common/toggleDocUsefulByUser.ts
  src/test/components/SettingsProvider.tsx
Labels: Backend, Mod: HowTo 📰, Mod: Maps 🗺, Mod: Research 🔬

#3493 feat: add donation request component
  packages/components/src/DonationRequest/DonationRequest.stories.tsx
  packages/components/src/DonationRequest/DonationRequest.test.tsx
  packages/components/src/DonationRequest/DonationRequest.tsx
  packages/components/src/DonationRequestModal/DonationRequestModal.stories.tsx
  packages/components/src/DonationRequestModal/DonationRequestModal.test.tsx
  packages/components/src/DonationRequestModal/DonationRequestModal.tsx
  packages/components/src/DownloadButton/DownloadButton.stories.tsx
  packages/components/src/DownloadButton/DownloadButton.test.tsx
  packages/components/src/DownloadButton/DownloadButton.tsx
  packages/components/src/DownloadFileFromLink/DownloadFileFromLink.tsx
  packages/components/src/Modal/Modal.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/support/index.ts
  packages/cypress/src/support/rules.ts
  src/assets/images/confetti.svg
  src/common/DownloadWithDonationAsk.test.tsx
  src/common/DownloadWithDonationAsk.tsx
  src/pages/DonationThankYou/DonationThankYou.test.tsx
  src/pages/DonationThankYou/DonationThankYou.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoDownloads/HowtoDownloads.tsx
  src/pages/Howto/Content/Howto/HowtoDownloads/downloadCooldown.ts
  src/pages/NotFound/NotFound.tsx
  src/pages/PageList.tsx
  src/pages/common/Layout/Main.tsx
  src/pages/index.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅

#3568 chore(ci): use single branch pattern for deployments
  .circleci/config.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/merge-to-production.yml
  .releaserc.json
  CONTRIBUTING.md
  functions/README.md
  packages/documentation/docs/Contributing/start-contributing.md
  packages/documentation/docs/Install.md
Labels: Documentation, Backend

#3556 add functions to manage user.stats.userCreatedQuestions
  functions/src/index.ts
  functions/src/models.ts
  functions/src/questionUpdates/index.test.ts
  functions/src/questionUpdates/index.ts
  src/models/user.models.tsx
Labels: Backend

#3502 fix: no warning when editing a comment to an empty comment #3411
  packages/components/src/EditComment/EditComment.test.tsx
  packages/components/src/EditComment/EditComment.tsx
Labels: 🤝 Awaiting author

#3557 add functions to manage user.stats.userCreatedComments
  functions/src/discussionUpdates/index.test.ts
  functions/src/discussionUpdates/index.ts
  functions/src/index.ts
  src/models/user.models.tsx
Labels: Backend

#3600 feat: add unique title check to questions
  packages/cypress/src/integration/questions/write.spec.ts
  src/common/Form/types.ts
  src/common/Tags/TagsList.tsx
  src/models/question.models.tsx
  src/pages/Question/Content/Common/FormFields/QuestionTitle.field.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Question/question.routes.test.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/stores/Question/question.store.test.tsx
  src/stores/Question/question.store.tsx
  src/stores/common/module.store.ts
  src/test/factories/Question.ts
  src/utils/validators.ts
Labels: Mod: Research 🔬

#3614 chore: do not require approval on an already accepted howto
  packages/cypress/src/integration/howto/write.spec.ts
  packages/cypress/src/support/CustomAssertations.ts
  src/pages/Howto/Content/Common/Howto.form.tsx
Labels: Mod: HowTo 📰
