Repository ONEARMY/community-platform, pull requests merged in 2024-11, with the labels that each got.

#3977 feat: question ssr
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Question/QuestionEdit.tsx
  src/pages/Question/QuestionPage.test.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Question/question.service.ts
  src/pages/Research/Content/ResearchArticle.tsx
  src/routes/_.questions.$slug._index.tsx
  src/routes/_.questions.$slug.edit.tsx
  src/routes/_.questions.tsx
  src/stores/Question/question.store.test.tsx
  src/stores/Question/question.store.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/stores/common/toggleDocSubscriberStatusByUserName.ts
Labels: Mod: HowTo 📰, Mod: Research 🔬

#3991 feat: add tags to map filters
  packages/components/src/MapFilterList/MapFilterList.stories.tsx
  packages/components/src/MapFilterList/MapFilterList.tsx
  packages/components/src/MapFilterList/MapFilterListItem.tsx
  packages/components/src/MapFilterList/MapFilterListWrapper.tsx
  packages/components/src/ProfileTagsList/ProfileTagsList.tsx
  packages/cypress/src/integration/map.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/db/endpoints.ts
  src/pages/Maps/Content/Controls/transformAvailableFiltersToGroups.tsx
  src/pages/Maps/Content/MapView/MapWithList.tsx
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/Maps/Maps.client.tsx
  src/pages/Maps/utils/filterPins.test.ts
  src/pages/Maps/utils/filterPins.ts
  src/stores/Maps/filter.test.ts
  src/stores/Maps/filter.ts
  src/stores/Maps/maps.store.ts
  src/styles/leaflet.css
  src/test/factories/MapPin.ts
Labels: Mod: Maps 🗺

#3998 test: add time delay to render old map
  packages/cypress/src/integration/settings.spec.ts
  src/pages/Maps/Content/Controls/Controls.tsx
Labels: Mod: Maps 🗺

#4007 chore: drop prerender config
  functions/scripts/runtimeConfig/model.ts
  functions/src/index.ts
  functions/src/seo/index.ts
  functions/src/seo/render/render.spec.ts
  functions/src/seo/render/request-handler.ts
  functions/src/seo/sitemap/sitemap.test.ts
  functions/src/seo/sitemap/sitemapGenerate.ts
  functions/src/seo/sitemap/sitemapProxy.ts
  shared/models/config.ts
Labels: Backend

#4004 fix: typos in documentation files
  .github/ISSUE_TEMPLATE/build-new-component.md
  packages/documentation/docs/Backend Development/integrations.md
  packages/documentation/docs/Install.md
  types/readme.md
Labels: Documentation

#4008 fix: research save by removing lock feature
  .gitignore
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/stores/Research/research.store.tsx
Labels: Mod: Research 🔬

#3862 Update map setting display
  packages/components/src/MapWithPin/MapPin.client.tsx
  packages/components/src/MapWithPin/MapPin.stories.tsx
  packages/components/src/MapWithPin/MapWithPin.client.tsx
  packages/components/src/MapWithPin/MapWithPin.stories.tsx
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  src/pages/Maps/Content/MapView/Popup.client.tsx
  src/pages/Maps/Content/MapView/Sprites.tsx
  src/pages/User/user.routes.tsx
  src/pages/UserSettings/SettingsPage.client.tsx
  src/pages/UserSettings/SettingsPageMapPin.test.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/index.tsx
  src/pages/UserSettings/labels.ts
  src/routes/_.settings.$.tsx
  src/routes/_.u.$id.edit.tsx
  src/stores/Maps/maps.store.ts
Labels: Mod: Maps 🗺, Review allow-preview ✅, 🤝 Awaiting author

#4011 feat: update active pin interaction for new map
  packages/components/src/CardButton/CardButton.stories.tsx
  packages/components/src/CardButton/CardButton.tsx
  packages/components/src/CardList/CardList.stories.tsx
  packages/components/src/CardList/CardList.tsx
  packages/components/src/CardListItem/CardListItem.stories.tsx
  packages/components/src/CardListItem/CardListItem.tsx
  packages/components/src/CardProfile/CardDetailsFallback.tsx
  packages/components/src/CardProfile/CardDetailsMemberProfile.tsx
  packages/components/src/CardProfile/CardDetailsSpaceProfile.tsx
  packages/components/src/Username/Username.tsx
  packages/cypress/src/integration/map.spec.ts
  src/pages/Maps/Content/MapView/MapView.client.tsx
  src/pages/Maps/Content/MapView/MapWithList.tsx
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/Maps/Content/MapView/Popup.client.tsx
  src/pages/Maps/Maps.client.tsx
  src/pages/Maps/Maps.test.tsx
Labels: Mod: Maps 🗺, Review allow-preview ✅

#4012 Feat/update map pin clusters
  src/pages/Maps/Content/MapView/Sprites.tsx
Labels: Mod: Maps 🗺, Review allow-preview ✅

#4013 feat: add badge filters to new map
  packages/components/src/MapFilterList/MapFilterList.tsx
  packages/components/src/Username/UserBadge.tsx
  packages/components/src/Username/Username.tsx
  src/pages/Maps/Content/MapView/MapWithList.tsx
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/Maps/Content/MapView/allMapFilterOptions.ts
  src/pages/Maps/utils/filterPins.test.ts
  src/pages/Maps/utils/filterPins.ts
Labels: Mod: Maps 🗺, Review allow-preview ✅

#4016 Fixed a grammatical error in the documentation.
  packages/documentation/docs/Backend Development/firestore-backup.md
Labels: Documentation
