Repository ONEARMY/community-platform, pull requests merged in 2024-09, with the labels that each got.

#3797 feat: validate uploaded image files
  package.json
  packages/cypress/src/fixtures/images/file.random
  packages/cypress/src/integration/settings.spec.ts
  src/common/Form/FileInput/FileInput.tsx
  src/common/Form/ImageInput/ImageConverter.tsx
  src/common/Form/ImageInput/ImageConverterList.tsx
  src/common/Form/ImageInput/ImageInput.tsx
  src/common/Form/ImageInput/compressImage.ts
  src/common/Form/ImageInput/imageValid.ts
  yarn.lock
Labels: Review allow-preview ✅

#3836 feat: add responsive views for new map
  packages/components/assets/icons/step.svg
  packages/components/src/CardList/CardList.stories.tsx
  packages/components/src/CardList/CardList.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/cypress/src/integration/map.spec.ts
  src/pages/Maps/Content/Controls/Controls.tsx
  src/pages/Maps/Content/MapView/MapWithList.tsx
  src/pages/Maps/Content/NewMapBanner.tsx
  src/pages/Maps/Maps.tsx
Labels: Mod: Maps 🗺, Review allow-preview ✅

#3837 feat: use cdn images for map pin calls
  packages/components/src/CardListItem/CardDetailsMemberProfile.tsx
  packages/components/src/CardListItem/CardDetailsSpaceProfile.tsx
  packages/components/src/CardListItem/types.ts
  shared/models/maps.ts
  src/models/maps.models.tsx
  src/pages/Maps/map.service.ts
Labels: Mod: Maps 🗺, Review allow-preview ✅

#3835 fix: make edit and delete comment button subtle
  packages/components/src/ButtonShowReplies/ButtonShowReplies.tsx
  packages/components/src/CommentItem/CommentItem.tsx
  packages/themes/src/common/button.ts
  src/common/HideDiscussionContainer.tsx
Labels: Review allow-preview ✅

#3838 feat: show clearly when research update is draft
  packages/cypress/src/integration/research/write.spec.ts
  src/pages/Research/Content/Common/ResearchUpdate.form.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
Labels: Mod: Research 🔬

#3841 feat: add profile types filtering to new map
  packages/components/src/CardButton/CardButton.stories.tsx
  packages/components/src/CardButton/CardButton.tsx
  packages/components/src/CardList/CardList.tsx
  packages/components/src/CardListItem/CardListItem.tsx
  packages/components/src/DonationRequest/DonationRequest.tsx
  packages/components/src/FilterList/FilterList.stories.tsx
  packages/components/src/FilterList/FilterList.tsx
  packages/components/src/ImageGallery/ImageGallery.tsx
  packages/components/src/MemberBadge/MemberBadge.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/map.spec.ts
  packages/themes/src/common/commonStyles.ts
  packages/themes/src/types/index.ts
  src/common/Form/ImageInput/ImageConverter.tsx
  src/pages/Maps/Content/Controls/transformAvailableFiltersToGroups.tsx
  src/pages/Maps/Content/MapView/MapWithList.tsx
  src/pages/Maps/Content/MapView/MapWithListHeader.tsx
  src/pages/Maps/Maps.tsx
  src/pages/UserSettings/content/fields/PatreonIntegration.tsx
Labels: Mod: Maps 🗺, Review allow-preview ✅

#3840 feat: display date as time has passed
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/DisplayDate/DisplayDate.stories.tsx
  packages/components/src/DisplayDate/DisplayDate.test.tsx
  packages/components/src/DisplayDate/DisplayDate.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/howto/read.spec.ts
  packages/cypress/src/integration/questions/discussions.spec.ts
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/common/ContentAuthorTimestamp/ContentAuthorTimestamp.tsx
  src/pages/common/UserNameTag/UserNameTag.tsx
  src/utils/date.ts
Labels: Review allow-preview ✅, Mod: Research 🔬

#3848 fix: always display download button
  packages/components/src/DonationRequest/DonationRequest.tsx
  packages/components/src/DonationRequestModal/DonationRequestModal.tsx
Labels: Review allow-preview ✅

#3859 fix: notification not being sent for new updates which go from draft to published
  functions/src/Integrations/firebase-discord.test.ts
  functions/src/Integrations/firebase-discord.ts
  functions/src/models.ts
Labels: Backend

#3825 3578 default alt tags for images
  packages/components/src/CommentItem/CommentItem.test.tsx
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/ImageGallery/ImageGallery.tsx
  src/models/howto.models.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoFieldCoverImageAlt.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/labels.ts
  src/pages/Research/Content/ResearchListItem.tsx
  src/stores/Howto/howto.store.tsx
  src/utils/formatImageListForGallery.ts
Labels: Mod: HowTo 📰, Mod: Research 🔬
