Repository ONEARMY/community-platform, pull requests merged in 2024-01, with the labels that each got.

#3132 fix(docs): start contributing emoji & copy updates (fix pr 3130)
  packages/documentation/docs/Contributing/start-contributing.md
Labels: Documentation

#3138 fix(research): fix sort by comments
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Labels: Review allow-preview ✅

#3139 feat(question): add username and date to question listing
  src/pages/Question/QuestionListing.tsx
Labels: Review allow-preview ✅

#3120 Feat: Add basic discussion components
  packages/components/src/CommentList/CommentList.stories.tsx
  packages/components/src/CommentList/CommentList.test.tsx
  packages/components/src/CommentList/CommentList.tsx
  packages/components/src/CreateComment/CreateComment.tsx
  packages/components/src/DiscussionContainer/DiscussionContainer.stories.tsx
  packages/components/src/DiscussionContainer/DiscussionContainer.test.tsx
  packages/components/src/DiscussionContainer/DiscussionContainer.tsx
  packages/components/src/DiscussionTitle/DiscussionTitle.stories.tsx
  packages/components/src/DiscussionTitle/DiscussionTitle.test.tsx
  packages/components/src/DiscussionTitle/DiscussionTitle.tsx
  packages/components/src/index.ts
  packages/components/src/utils.ts
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#3154 fix: edit research step
  src/pages/Research/Content/EditUpdate/index.tsx
Labels: Mod: Research 🔬

#3158 [Snyk] Security upgrade axios from 1.6.0 to 1.6.4
  functions/package.json
  yarn.lock
Labels: Backend

#3161 fix: handle misconfigured `REACT_APP_CDN_URL` param
  packages/documentation/docs/Install.md
  src/utils/cdnImageUrl.test.ts
  src/utils/cdnImageUrl.ts
Labels: Documentation

#3079 Change default display for impact
  packages/cypress/src/integration/profile.spec.ts
  src/models/user.models.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/User/impact/Impact.tsx
  src/pages/User/impact/constants.ts
Labels: 🤝 Awaiting author

#3117 feat: add research status to research
  packages/cypress/src/integration/research/read.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/models/research.models.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/labels.ts
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
  src/utils/helpers.ts
Labels: Review allow-preview ✅, Mod: Research 🔬

#3178 feat: enable tags for research + remove tag categories
  packages/components/src/CategoryTag/CategoryTag.stories.tsx
  packages/components/src/Tag/Tag.stories.tsx
  packages/components/src/Tag/Tag.tsx
  packages/components/src/index.ts
  shared/mocks/data/tags.ts
  src/common/Tags/TagsSelect.tsx
  src/models/tags.model.tsx
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Common/HowtoFieldTags.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Question/question.routes.test.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticle.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
  src/stores/Tags/tags.store.tsx
  src/test/components/HowtoProvider.tsx
  src/test/components/ResearchProvider.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#3185 feat: add initial loading condition to settings page
  src/pages/UserSettings/SettingsPage.tsx
Labels: Review allow-preview ✅

#3115 feat: more information in Follower notifications
  functions/src/emulator/seed/content-generate.ts
  packages/cypress/src/integration/notifications.spec.ts
  src/models/user.models.tsx
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/common/Header/getFormattedNotifications.tsx
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/stores/Research/research.store.test.ts
  src/stores/Research/research.store.tsx
  src/stores/User/notifications.store.test.tsx
  src/stores/User/notifications.store.ts
Labels: Backend, Mod: HowTo 📰, Review allow-preview ✅

#3195 feat add two new filter options
  src/pages/Research/Content/ResearchListItem.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.test.ts
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
  src/stores/common/FilterSorterDecorator/FitlerSorterDecorator.test.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
Labels: Mod: Research 🔬

#3095 New component: Add user engagement wrapper
  packages/components/src/ArticleCallToAction/ArticleCallToAction.tsx
  packages/components/src/UserEngagementWrapper/UserEngagementWrapper.stories.tsx
  packages/components/src/UserEngagementWrapper/UserEngagementWrapper.test.tsx
  packages/components/src/UserEngagementWrapper/UserEngagementWrapper.tsx
  packages/components/src/index.ts
  src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Research/Content/ResearchArticle.tsx
Labels: Mod: HowTo 📰, Review allow-preview ✅, Mod: Research 🔬

#3204 chore: remove react-router-hash-link
  package.json
  src/pages/Maps/Content/Controls/Controls.tsx
  yarn.lock
Labels: Mod: Maps 🗺

#3205 chore: update date-fns
  package.json
  src/pages/Research/Content/ResearchListItem.tsx
  src/pages/Research/Content/ResearchUpdate.test.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/common/ContentAuthorTimestamp/ContentAuthorTimestamp.tsx
  src/pages/common/UserNameTag/UserNameTag.tsx
  src/utils/date.ts
  src/utils/filters.ts
  yarn.lock
Labels: Mod: Research 🔬

#3214 fix: user settings so that impact isn't overwritten
  src/pages/UserSettings/SettingsPage.tsx
  src/stores/User/user.store.test.tsx
  src/stores/User/user.store.ts
Labels: Review allow-preview ✅

#3200 chore(messaging): isBlockedFromMessaging follow up
  .gitignore
  functions/src/emailNotifications/createSubmissionEmails.spec.ts
  functions/src/emailNotifications/createSubmissionEmails.ts
  functions/src/emailNotifications/utils.test.ts
  functions/src/emailNotifications/utils.ts
  src/utils/helpers.ts
Labels: Backend

#3102 feat: question discussion add/edit comments
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/ConfirmModal/ConfirmModal.tsx
  packages/components/src/CreateComment/CreateComment.stories.tsx
  packages/components/src/CreateComment/CreateComment.test.tsx
  packages/components/src/CreateComment/CreateComment.tsx
  packages/components/src/EditComment/EditComment.tsx
  src/models/comment.model.ts
  src/models/discussion.models.tsx
  src/pages/Question/QuestionComments.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Question/question.routes.test.tsx
  src/pages/Research/Content/ResearchComments/ResearchComments.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#3127 feat(research): select and validate research collaborators usernames
  packages/components/src/Select/Select.tsx
  src/pages/Research/Content/Common/Research.form.tsx
  src/pages/Research/labels.ts
  src/pages/common/UserNameSelect/LoadUserNameOptions.tsx
  src/pages/common/UserNameSelect/UserNameSelect.tsx
  src/stores/User/user.store.ts
  src/stores/databaseV2/types/index.d.ts
Labels: Review allow-preview ✅, Mod: Research 🔬, 🤝 Awaiting author

#3213 refactor: replace hamburger-menu component with theme-ui-menu component
  package.json
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/types.ts
  src/pages/common/Header/Header.tsx
  yarn.lock
Labels: Review allow-preview ✅

#3223 fix: allowed message check with right id type
  functions/src/emailNotifications/utils.test.ts
  functions/src/emailNotifications/utils.ts
Labels: Backend

#3224 fix(questionPage): added maxWidth to page container element
  src/pages/Question/QuestionPage.tsx
Labels: Review allow-preview ✅

#3218 feat: most relevant sort option only present if search value entered
  src/pages/common/SortFilterHeader/SortFilterHeader.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Question/question.store.tsx
  src/stores/Research/research.store.tsx
  src/stores/common/FilterSorterDecorator/FilterSorterDecorator.ts
Labels: Review allow-preview ✅
