Repository ONEARMY/community-platform, pull requests merged in 2024-10, with the labels that each got.

#3868 fix: setting countryCode when updating country
  packages/components/src/CommentItem/CommentItem.tsx
  packages/components/src/Username/Username.tsx
  packages/cypress/src/integration/howto/discussions.spec.ts
  packages/cypress/src/integration/settings.spec.ts
  shared/mocks/data/discussions.ts
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
  src/stores/User/user.store.test.tsx
  src/stores/User/user.store.ts
Labels: Review allow-preview ✅

#3892 build: add fly preview workflow
  .github/workflows/fly-pr-preview.yml
Labels: Review allow-preview ✅

#3846 feat: update reply to comment button text and icon
  packages/components/assets/icons/chevron-down.svg
  packages/components/assets/icons/chevron-up.svg
  packages/components/src/ButtonShowReplies/ButtonShowReplies.stories.tsx
  packages/components/src/ButtonShowReplies/ButtonShowReplies.test.tsx
  packages/components/src/ButtonShowReplies/ButtonShowReplies.tsx
  packages/components/src/CommentList/CommentList.test.tsx
  packages/components/src/CommentList/CommentList.tsx
  packages/components/src/ContentStatistics/ContentStatistics.test.tsx
  packages/components/src/DiscussionContainer/DiscussionContainer.test.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
Labels: Review allow-preview ✅, 🤝 Awaiting author

#3961 fix: howto useful count when using the "call to action" section
  src/pages/Howto/Content/Howto/Howto.tsx
Labels: Mod: HowTo 📰

#3957 chore: remove old github preview workflow
  .github/workflows/pr-preview.yml
Labels: Review allow-preview ✅

#3949 fix: remove revert to draft state
  src/pages/Howto/Content/Common/HowtoButtonDraft.tsx
  src/pages/Howto/labels.ts
  src/pages/Research/Content/Common/Research.form.tsx
Labels: Mod: HowTo 📰, Mod: Research 🔬

#3955 Create API for map pins search
  package.json
  packages/cypress/src/integration/map.spec.ts
  src/pages/Maps/Maps.client.tsx
  src/pages/Maps/Maps.test.tsx
  src/pages/Maps/map.service.test.ts
  src/pages/Maps/map.service.ts
  src/routes/api.mappins.$id.ts
  src/routes/api.mappins.ts
  yarn.lock
Labels: Mod: Maps 🗺
