Repository ONEARMY/community-platform, pull requests merged in 2025-01, with the labels that each got.

#4069 fix: zIndex ordering of map icons
  src/pages/Maps/Content/MapView/MapView.tsx
  src/pages/common/Header/Menu/Notifications/NotificationsDesktop.tsx
Labels: Mod: Maps 🗺

#4070 fix: full page spacings for map and academy
  src/pages/Maps/Content/MapView/MapList.tsx
  src/pages/Maps/Maps.client.tsx
  src/routes/_.academy.$.tsx
Labels: Mod: Maps 🗺

#4071 chore: rename all library types
  functions/src/emailNotifications/createModerationEmails.ts
  functions/src/emailNotifications/createSubmissionEmails.ts
  functions/src/emailNotifications/templateHelpers.ts
  functions/src/emulator/seed/content-generate.ts
  packages/cypress/src/fixtures/howto.ts
  packages/cypress/src/support/CustomAssertations.ts
  packages/cypress/src/support/commands.ts
  shared/models/howto.ts
  shared/models/index.ts
  shared/models/library.ts
  src/pages/Howto/Content/Common/Howto.form.test.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoFieldStep.tsx
  src/pages/Howto/Content/CreateHowto/CreateHowto.tsx
  src/pages/Howto/Content/CreateHowto/Template.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/Howto/Content/EditHowto/Template.tsx
  src/pages/Howto/Content/Howto/Howto.test.tsx
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoDownloads/HowtoDownloads.tsx
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Howto/Content/HowtoList/HowToCard.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/Howto/howto.service.ts
  src/pages/User/types.ts
  src/pages/common/Breadcrumbs/Breadcrumbs.tsx
  src/routes/_.library.$slug._index.tsx
  src/routes/_.library.$slug.edit.tsx
  src/services/userService.server.ts
  src/stores/Howto/howto.store.test.ts
  src/stores/Howto/howto.store.tsx
  src/test/factories/Howto.ts
Labels: Backend, Mod: HowTo 📰

#4082 fix: supabase cli version
  .github/workflows/pr-preview-fly-deploy.yml
Labels: Review allow-preview ✅

#3987 Create API for research search
  packages/cypress/src/integration/research/list.spec.ts
  src/pages/Research/Content/Common/ResearchCategorySelect.tsx
  src/pages/Research/Content/ResearchList.tsx
  src/pages/Research/research.service.test.ts
  src/pages/Research/research.service.ts
  src/routes/api.research.categories.ts
  src/routes/api.research.drafts.count.ts
  src/routes/api.research.ts
Labels: Review allow-preview ✅, Mod: Research 🔬

#4089 fix: duplicate profiles
  functions/src/supabaseSync/index.ts
  src/routes/api.discussions.$sourceId.comments.$id.ts
  src/routes/api.discussions.$sourceId.comments.ts
  src/routes/api.questions.$id.ts
  src/routes/api.questions.ts
  src/routes/api.subscribers.$contentType.$contentId.ts
  src/routes/api.useful.$contentType.$contentId.ts
Labels: Backend

#4084 feat: Add loading state to ImageGallery (#3462)
  packages/components/src/ImageGallery/ImageGallery.tsx
  packages/components/src/ImageGalleryThumbnail/ImageGalleryThumbnail.stories.tsx
  packages/components/src/ImageGalleryThumbnail/ImageGalleryThumbnail.test.tsx
  packages/components/src/ImageGalleryThumbnail/ImageGalleryThumbnail.tsx
  packages/components/src/MapFilterList/MapFilterList.tsx
  packages/components/src/MemberTypeVerticalList/MemberTypeVerticalList.client.tsx
Labels: Review allow-preview ✅

#4091 fix: typing and fields for categories
  packages/components/src/CardProfile/CardDetailsFallback.tsx
  packages/components/src/Category/Category.stories.tsx
  packages/components/src/Category/Category.tsx
  packages/components/src/CategoryVerticalList/CategoryVerticalList.stories.tsx
  packages/components/src/CategoryVerticalList/CategoryVerticalList.tsx
  packages/components/src/ProfileTagsList/ProfileTagsList.tsx
  packages/components/tsconfig.json
  packages/cypress/src/integration/research/write.spec.ts
  packages/cypress/src/support/hooks.ts
  packages/themes/tsconfig.json
  shared/models/categories.ts
  shared/models/category.ts
  shared/models/common.ts
  shared/models/document.ts
  shared/models/index.ts
  shared/tsconfig.json
  src/models/category.model.ts
  src/models/question.model.ts
  src/pages/Library/Content/Common/LibraryCategoryGuidance.test.tsx
  src/pages/Library/Content/List/LibraryListHeader.tsx
  src/pages/Question/QuestionListHeader.tsx
  src/pages/Question/QuestionListItem.tsx
  src/pages/Question/QuestionPage.test.tsx
  src/pages/Question/QuestionPage.tsx
  src/pages/Question/question.service.ts
  src/pages/Research/Content/Common/ResearchCategorySelect.tsx
  src/pages/Research/Content/ResearchListHeader.tsx
  src/routes/api.categories.$type.ts
  src/routes/api.questions.categories.ts
  src/test/factories/Category.ts
  src/test/factories/OldCategory.ts
  src/test/factories/Question.ts
Labels: Mod: Research 🔬, Mod: Library 📰

#4088 feat: add user action component
  packages/components/src/DownloadButton/DownloadButton.stories.tsx
  packages/components/src/DownloadButton/DownloadButton.tsx
  packages/components/src/DownloadStaticFile/DownloadStaticFile.stories.tsx
  packages/components/src/DownloadStaticFile/DownloadStaticFile.tsx
  packages/components/src/DownloadWithDonationAsk/DownloadWithDonationAsk.stories.tsx
  packages/components/src/DownloadWithDonationAsk/DownloadWithDonationAsk.test.tsx
  packages/components/src/DownloadWithDonationAsk/DownloadWithDonationAsk.tsx
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/common/Alerts/Alerts.tsx
  src/common/DownloadWrapper.tsx
  src/common/UserAction.test.tsx
  src/common/UserAction.tsx
  src/pages/Library/Content/List/LibraryListHeader.tsx
  src/pages/Library/Content/Page/LibraryDescription.tsx
  src/pages/Library/Content/Page/LibraryDownloads.tsx
  src/pages/Library/labels.ts
  src/pages/Question/QuestionListHeader.tsx
  src/pages/Question/labels.ts
  src/pages/Research/Content/ResearchListHeader.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/pages/Research/labels.ts
  src/pages/User/contact/UserContactForm.tsx
  src/pages/User/content/SpaceProfile.tsx
  src/pages/common/CommentsV2/CreateCommentV2.tsx
Labels: Mod: Research 🔬, Mod: Library 📰

#4080 Accordion component
  packages/components/src/Accordion/Accordion.stories.tsx
  packages/components/src/Accordion/Accordion.test.tsx
  packages/components/src/Accordion/Accordion.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/SignUp.spec.ts
  src/pages/UserSettings/SettingsPageAccount.tsx
  src/pages/UserSettings/content/sections/ChangeEmail.form.tsx
  src/pages/UserSettings/content/sections/ChangePassword.form.tsx
Labels: Review allow-preview ✅

#4114 fix: truncate username when too long
  packages/components/src/Username/Username.tsx
  packages/documentation/docs/Testing/overview.md
Labels: Documentation
