Repository ONEARMY/community-platform, pull requests merged in 2025-05, with the labels that each got.

#4227 fix: download library files
  src/pages/Library/Content/Page/LibraryDownloads.tsx
Labels: Mod: Library 📰

#4228 fix: hide research cover image on article page
  src/pages/Research/Content/ResearchDescription.tsx
Labels: Mod: Research 🔬

#4222 fix: typos
  .eslintrc.json
  BOUNTIES.md
  CONTRIBUTING.md
  README.md
  docs/db-seeding.md
  docs/technical-decisions.md
  functions/webpack.config.ts
  packages/simulated-webhook-receiver/Dockerfile
  shared/mocks/data/news.ts
  src/.server/templates/Layout.tsx
  src/.server/templates/ReceiverMessage.tsx
  src/routes/api.messages.tsx
Labels: backend

#4207 feat: Add visitor policy to profile settings
  functions/src/index.ts
  functions/src/userUpdates/updateMapPins.ts
  functions/src/userUpdates/utils.ts
  packages/components/assets/icons/visitors-appointment.svg
  packages/components/assets/icons/visitors-closed.svg
  packages/components/assets/icons/visitors-open.svg
  packages/components/src/CardProfile/CardDetailsMemberProfile.tsx
  packages/components/src/CardProfile/CardDetailsSpaceProfile.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/MapFilterList/MapFilterList.tsx
  packages/components/src/ProfileTagsList/ProfileTagsList.stories.tsx
  packages/components/src/ProfileTagsList/ProfileTagsList.test.tsx
  packages/components/src/ProfileTagsList/ProfileTagsList.tsx
  packages/components/src/VisitorModal/VisitorModal.tsx
  packages/components/src/VisitorModal/VisitorModalFooter.test.tsx
  packages/components/src/VisitorModal/VisitorModalFooter.tsx
  packages/components/src/VisitorModal/VisitorModalHeader.test.tsx
  packages/components/src/VisitorModal/VisitorModalHeader.tsx
  packages/components/src/VisitorModal/props.ts
  packages/components/src/index.ts
  packages/cypress/scripts/start.mts
  packages/cypress/src/integration/settings.spec.ts
  packages/cypress/src/support/commandsUi.ts
  shared/models/maps.ts
  shared/models/user.ts
  src/common/ProfileTags.tsx
  src/pages/Maps/Content/MapView/allMapFilterOptions.ts
  src/pages/Maps/Maps.client.tsx
  src/pages/Maps/utils/filterPins.ts
  src/pages/Maps/utils/setDefaultPinFilters.ts
  src/pages/User/content/ProfileDetails.tsx
  src/pages/User/content/UserProfile.tsx
  src/pages/UserSettings/SettingsPageMapPin.tsx
  src/pages/UserSettings/SettingsPageNotifications.tsx
  src/pages/UserSettings/SettingsPageUserProfile.tsx
  src/pages/UserSettings/content/sections/UserInfos.section.tsx
  src/pages/UserSettings/content/sections/VisitorSection.tsx
  src/pages/UserSettings/labels.ts
  src/stores/User/user.store.ts
Labels: Code: Backend, Mod: Maps 🗺, Review allow-preview ✅, backend

#4238 4211 add questions to contributions
  packages/components/src/UserStatistics/UserStatistics.tsx
  packages/cypress/src/integration/profile.spec.ts
  src/pages/User/content/ProfileDetails.tsx
  src/pages/User/content/UserCreatedDocuments.test.tsx
  src/pages/User/content/UserCreatedDocuments.tsx
  src/pages/User/content/UserCreatedDocumentsItem.tsx
  src/pages/User/content/UserProfile.tsx
  src/pages/User/types.ts
  src/routes/_.u.$id._index.tsx
  src/services/questionService.server.test.ts
  src/services/questionService.server.ts
  supabase/migrations/20250523104253_20250523_add-get-user-questions.sql
Labels: Review allow-preview ✅

#4249 fix: old notifications for research update
  packages/cypress/src/integration/research/write.spec.ts
  src/routes/api.research.$id.updates.$updateId.ts
  src/routes/api.research.$id.updates.ts
  src/routes/api.research.ts
  src/services/notificationsService.server.ts
  src/services/subscribersService.server.ts
Labels: Review allow-preview ✅
