Repository ONEARMY/community-platform, pull requests merged in 2025-06, with the labels that each got.

#4264 fix: spamming research update submit button
  shared/models/common.ts
  src/common/Form/FormWrapper.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
Labels: Mod: Research 🔬

#4269 fix: research update sort
  packages/cypress/src/integration/research/list.spec.ts
  shared/mocks/data/research.ts
  src/pages/Research/Content/ResearchArticle.test.tsx
  src/pages/Research/Content/ResearchArticlePage.tsx
  src/pages/Research/Content/ResearchDescription.tsx
  src/routes/api.research.$id.updates.ts
  supabase/migrations/20250605115351_research-latest-updated.sql
Labels: Mod: Research 🔬

#4272 safe hydrate
  packages/components/src/ImageGallery/ImageGallery.tsx
  src/common/ScrollToTop.test.tsx
  src/common/ScrollToTop.tsx
  src/entry.client.tsx
  src/pages/Research/Content/CreateResearch/Form/ResearchImageField.tsx
  src/pages/Research/Content/ResearchUpdate.tsx
  src/root.tsx
  src/routes/_.tsx
Labels: Review allow-preview ✅, Mod: Research 🔬

#4261 feat: add user settings for notifications
  .snaplet/dataModel.json
  packages/components/assets/icons/discussion.svg
  packages/components/assets/icons/information.svg
  packages/components/src/GridForm/GridForm.stories.tsx
  packages/components/src/GridForm/GridForm.tsx
  packages/components/src/Icon/Icon.stories.tsx
  packages/components/src/Icon/Icon.tsx
  packages/components/src/Icon/svgs.tsx
  packages/components/src/Icon/types.ts
  packages/components/src/InformationTooltip/InformationTooltip.stories.tsx
  packages/components/src/InformationTooltip/InformationTooltip.tsx
  packages/components/src/index.ts
  packages/cypress/src/integration/notifications.spec.ts
  packages/cypress/src/integration/research/discussions.spec.ts
  shared/models/index.ts
  shared/models/notificationsPreferences.ts
  shared/models/profile.ts
  src/pages/UserSettings/FirebaseNotifications.tsx
  src/pages/UserSettings/SettingsPageNotifications.test.tsx
  src/pages/UserSettings/SettingsPageNotifications.tsx
  src/pages/UserSettings/SupabaseNotifications.tsx
  src/pages/UserSettings/content/sections/PublicContact.section.tsx
  src/pages/UserSettings/labels.ts
  src/routes/api.notifications-preferences.ts
  src/services/notificationEmailService.server.ts
  src/services/notificationSupabaseService.server.ts
  src/services/notificationsPreferencesService.server.ts
  src/services/notificationsPreferencesService.ts
  supabase/migrations/20250603130017_add_notifications_preferences.sql
Labels: Review allow-preview ✅

#4286 fix: research comment deep link
  src/pages/Research/Content/ResearchArticlePage.tsx
  src/pages/common/CommentsSupabase/CollapsableCommentSection.tsx
  src/pages/common/CommentsSupabase/MultipleCommentSectionWrapper.tsx
Labels: Mod: Research 🔬

#4294 fix
  package.json
  packages/components/package.json
  packages/themes/package.json
  yarn.lock
Labels: Review allow-preview ✅

#4308 fix: library form step image validation
  src/pages/Library/Content/Common/LibraryStep.field.tsx
  src/pages/Library/Content/Common/LibraryStepsContainer.field.tsx
Labels: Mod: Library 📰

#4309 fix: refactor reset password flow
  src/routes/_.update-password.tsx
  supabase/functions/send-email/_templates/reset-password.tsx
Labels: Review allow-preview ✅

#4318 feat: client side validation to all content forms
  packages/cypress/src/integration/library/write.spec.ts
  packages/cypress/src/integration/news/write.spec.ts
  packages/cypress/src/integration/questions/write.spec.ts
  packages/cypress/src/integration/research/write.spec.ts
  src/common/Form/ErrorsContainer.test.tsx
  src/common/Form/ErrorsContainer.tsx
  src/common/Form/FormWrapper.tsx
  src/pages/Library/Content/Common/Library.form.tsx
  src/pages/Library/Content/Common/LibraryTags.field.tsx
  src/pages/Library/Content/utils/transformLibraryErrors.ts
  src/pages/News/Content/Common/FormFields/NewsBodyField.tsx
  src/pages/News/Content/Common/NewsForm.tsx
  src/pages/Question/Content/Common/QuestionForm.tsx
  src/pages/Research/Content/Common/ResearchForm.tsx
  src/pages/Research/Content/Common/ResearchUpdateForm.tsx
  src/pages/Research/labels.ts
  src/pages/UserSettings/content/SettingsFormNotifications.tsx
Labels: Mod: Research 🔬, Mod: Library 📰
